@inherits Umbraco.Web.Mvc.UmbracoViewPage

<div class="cookie-banner">
    <p>This website uses cookies to provide you with a better user experience. If you agree to our use of cookies, please accept this message and continue to use this site.</p>
    <button id="btn-accept-cookie">Accept & Close</button>
</div>