@using HHCoApps.CMSWeb.Caching
@using HHCoApps.CMSWeb.Helpers
@using HHCoApps.CMSWeb.Helpers.Enum
@using Umbraco.Core.Composing
@inherits Umbraco.Web.Mvc.UmbracoViewPage

@{
    var umbracoHelper = Current.Factory.GetInstance<UmbracoHelper>();
    var navigationManagement = (NavigationManagement)umbracoHelper.ContentQuery.ContentSingleFromCache(CachedContent.NavigationManagementContent);
    var logo = Url.GetCropImageUrl(navigationManagement.Logo?.Url(), ImageCropProfile.Logo);
}

    <div class="outer-header">
        <header class="header">
            <nav id="levene-menu" class="navbar navbar-expand-lg navbar-light">
                <div class="mobile-navbar">
                    <button class="navbar-toggler hamburger" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="hamburger-box oi oi-menu"></span>
                        <span class="hamburger-box oi oi-x"></span>
                    </button>
                    <div class="logo-container">
                        <a href="/"><img src="@(logo)"></a>
                    </div>
                </div>

                <div class="navbar-collapse custom-collapse" id="navbarSupportedContent">
                    @if (navigationManagement != null)
                    {
                        @Html.Partial("~/Views/Partials/Navigation/MainMenu.cshtml", navigationManagement)
                    }
                </div>
            </nav>
        </header>
    </div>