$primary: #fc0000;
$secondary: #ff4141;

$theme-colors: (
  primary: $primary,
  secondary: $secondary
);

body.border-top {
    border-width: 5px !important;
}

.phone-number {
    font-size: 30px;
    letter-spacing: -2px;
}

.welcome {
    background-image: url('../assets/adult-business-computers-256219.jpg');
    background-size: cover;
    background-attachment: fixed;
    min-height: 300px;
}

.navbar-default .navbar-nav .nav-item .nav-link {
    color: #000;
}

.navbar-default .navbar-nav .nav-item.active .nav-link {
    color: $primary;
}


@import './node_modules/bootstrap/scss/bootstrap';