<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="919877dc-8605-4911-aaf9-f1bd5ef1638a" Alias="bannerComponent" Level="2">
  <Info>
    <Name>Banner Component</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>DocType+Grid+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b0f21dfe-a1e7-418c-a3e5-dfe197b7caee</Key>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>045387f7-4d38-4ddb-8712-94edce0e0307</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Banner Info Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2e93fae6-0925-4a5a-bf20-faec905c5c10</Key>
      <Name>Caption</Name>
      <Alias>caption</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Banner Info Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3e55100c-220d-4521-af81-0b00c75ef513</Key>
      <Name>Caption Title</Name>
      <Alias>captionTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Banner Info Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ae887bde-6d34-4e16-bda5-9f89c1aafb36</Key>
      <Name>Left Image</Name>
      <Alias>leftImage</Alias>
      <Definition>3c8b7910-6088-4fd9-8073-b9f8af5f257f</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Banner Left Image Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a89f0b12-d0dc-4799-9a58-bbc0d0323b91</Key>
      <Name>Left Link</Name>
      <Alias>leftLink</Alias>
      <Definition>7881ddb3-6945-4466-a310-2f6c1fffefed</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Banner Left Image Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>72b35d6f-d48d-4b14-bf30-946151a966d4</Key>
      <Name>Left Link Title</Name>
      <Alias>leftLinkTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Banner Left Image Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0fb29dbd-95c2-4cce-b8b8-67da05e24cdd</Key>
      <Name>Right Image</Name>
      <Alias>rightImage</Alias>
      <Definition>3c8b7910-6088-4fd9-8073-b9f8af5f257f</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Banner Right Image Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1b0de2a1-47eb-41be-aedb-efbccff31500</Key>
      <Name>Right Link</Name>
      <Alias>rightLink</Alias>
      <Definition>7881ddb3-6945-4466-a310-2f6c1fffefed</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Banner Right Image Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cd037565-3b66-4ec6-b9d8-995221a0df49</Key>
      <Name>Right Link Title</Name>
      <Alias>rightLinkTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Banner Right Image Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ad71f1eb-6a65-40c7-a137-be01811f2d64</Key>
      <Name>Title Color</Name>
      <Alias>titleColor</Alias>
      <Definition>045387f7-4d38-4ddb-8712-94edce0e0307</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Banner Info Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Banner Info Section</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Banner Left Image Section</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Banner Right Image Section</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>