<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="46106a40-6e26-44ba-b3bb-5dd8f768e24b" Alias="bannerBase" Level="2">
  <Info>
    <Name>Banner Base</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Base</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>962a2b87-cb3d-4d93-b0be-587fcafac1e7</Key>
      <Name>Apply Padding For Mobile</Name>
      <Alias>applyPaddingForMobile</Alias>
      <Definition>39fac811-3725-42f5-a67c-3dd1c62808c1</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Header Banner Image</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a8d4dd9c-47e1-4b9f-912a-379363e5b987</Key>
      <Name>Banner Title</Name>
      <Alias>bannerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Header Banner Image</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>65cc9594-1468-4d7d-bd92-bdafb306e288</Key>
      <Name>Banner Title Padding</Name>
      <Alias>bannerTitlePadding</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Header Banner Image</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>44f2cc12-d9a7-4543-9547-e0e7146036a7</Key>
      <Name>Banner Title Position</Name>
      <Alias>bannerTitlePosition</Alias>
      <Definition>1ddf5a83-f5d4-40a1-b4f2-4c6339fb7cba</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Header Banner Image</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a340ae96-c272-4aea-a4a7-bcef11ee1d64</Key>
      <Name>Footer Banner Image</Name>
      <Alias>footerBannerImage</Alias>
      <Definition>3c8b7910-6088-4fd9-8073-b9f8af5f257f</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer Banner Image</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b562f636-04f5-4f24-a306-99f989bc705c</Key>
      <Name>Header Banner Image</Name>
      <Alias>headerBannerImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Header Banner Image</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Header Banner Image</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer Banner Image</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>