<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cb29f451-6205-4890-844b-ed9bae2e3827" Alias="carouselInfo" Level="2">
  <Info>
    <Name>Carousel Info</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cd20ebff-cd06-4264-9ac1-723a5190737a</Key>
      <Name>Caption</Name>
      <Alias>caption</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ffa86321-2c2b-43ba-8beb-85db1bd3a50c</Key>
      <Name>Caption Color</Name>
      <Alias>captionColor</Alias>
      <Definition>045387f7-4d38-4ddb-8712-94edce0e0307</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>aba12069-db57-4307-a592-8be81208d668</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>85127ba9-b35a-487b-ad3e-ceffa789316b</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>7881ddb3-6945-4466-a310-2f6c1fffefed</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e522dc0a-4d66-4472-a4b2-eaae66d1d7f4</Key>
      <Name>Link Button Color</Name>
      <Alias>linkButtonColor</Alias>
      <Definition>045387f7-4d38-4ddb-8712-94edce0e0307</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Info</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>