<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="377c381b-532c-461b-a756-24e6b5697cb5" Alias="carouselImage" Level="2">
  <Info>
    <Name>Carousel Image</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>DocType+Grid+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6f218666-459e-4fcf-990b-eb45d30c28f6</Key>
      <Name>Auto Play</Name>
      <Alias>autoPlay</Alias>
      <Definition>78d147e8-be13-4ba0-88d0-df227761d549</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Carousel Setting Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a477bd59-4f09-4ba2-9046-ac70963304f2</Key>
      <Name>Carousel Info</Name>
      <Alias>carouselInfo</Alias>
      <Definition>6f554107-1fc2-4c5a-be0e-c4c942f1cc20</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Carousel Image Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cd9e9fee-f5de-4a62-8112-858095bb2309</Key>
      <Name>Duration (s)</Name>
      <Alias>duration</Alias>
      <Definition>604af5b7-a831-447f-a86d-9da895d4a76a</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Carousel Setting Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1e18a927-8b30-45c7-8651-771cb11e665a</Key>
      <Name>Freeze Scrolling</Name>
      <Alias>freezeScrolling</Alias>
      <Definition>78d147e8-be13-4ba0-88d0-df227761d549</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Carousel Setting Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d31b0f0b-823d-4add-9220-39cc09434a05</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>a8f21a6d-ae7f-4381-8c0d-a7d06c116388</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Carousel Setting Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Carousel Image Section</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Carousel Setting Section</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>