<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e0814623-1b1a-41b6-833e-39139fc8efd1" Alias="coat" Level="2">
  <Info>
    <Name>Coat</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>745f3e59-6953-4ba8-938c-a463e6bdd66d</Key>
      <Name>Coat Image</Name>
      <Alias>coatImage</Alias>
      <Definition>3c8b7910-6088-4fd9-8073-b9f8af5f257f</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Coat</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4a8d259d-ec08-4e31-9b9d-7ff6481e896d</Key>
      <Name>Coat Option</Name>
      <Alias>coatOption</Alias>
      <Definition>586627fa-b65f-4efa-89a0-cfeae0a26c0b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Coat</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Coat</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>