<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a00eea18-9c84-4f30-abb3-3d14e8580ec4" Alias="commonProblem" Level="2">
  <Info>
    <Name>Common Problem</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>DocType+Grid+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>576e3041-97ce-4ab9-9d5a-74987ce9d9b8</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Problem Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c1700333-068f-4343-bd82-21fc4d381a06</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Images Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d4b95042-c4a4-4800-bdc1-7cdba8a5358b</Key>
      <Name>Auto Play</Name>
      <Alias>isCarouselAutoPlay</Alias>
      <Definition>1ab18c6d-a253-458d-a6ef-dba077c5b8ad</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Images Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cdc9da69-07e6-4da7-9759-8d949c1f2ee2</Key>
      <Name>Carousel Image</Name>
      <Alias>isCarouselImage</Alias>
      <Definition>1ab18c6d-a253-458d-a6ef-dba077c5b8ad</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Images Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>22b041a2-7d43-40b3-b9a1-ba1bd92108e2</Key>
      <Name>Related Products</Name>
      <Alias>relatedProducts</Alias>
      <Definition>c86de008-09a2-4fad-9b73-c4237cfcca04</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Product Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Images Section</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Problem Section</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Product Section</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>