<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6388a9ac-fa83-435c-bd60-9734096b28ea" Alias="conditionBase" Level="3">
  <Info>
    <Name>Condition Base</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Product+Selector/Conditions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>00dbe730-2625-4ec0-aabe-3ad3e9b0e2cd</Key>
      <Name>Condition Key</Name>
      <Alias>conditionKey</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Condition</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ac503be4-48cc-4fbf-aeda-ebb51178e08c</Key>
      <Name>Require Select</Name>
      <Alias>requireSelect</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Condition</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Condition</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>