<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8ebf0b7d-6f1b-4bf0-94a8-e29c41b2162a" Alias="conditionValue" Level="3">
  <Info>
    <Name>Condition Value</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Product+Selector/Conditions</Folder>
    <Compositions />
    <DefaultTemplate>ConditionValue</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2eec80ae-8f25-42e9-961a-fa16f872b1f9">ConditionValue</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a53bb214-614a-4d82-8dce-52ea3a99b6a2</Key>
      <Name>Value</Name>
      <Alias>value</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Condition</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Condition</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>