<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eda9c281-3650-4532-bd60-5ad79f70ee2e" Alias="dropdownItem" Level="3">
  <Info>
    <Name>Dropdown Item</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Product+Selector/Conditions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c2b37869-bbd5-45b6-a195-4d3e6cada7b2</Key>
      <Name>Condition Value</Name>
      <Alias>conditionValue</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Condition</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cb95602f-f201-452e-ba31-41ff42091a33</Key>
      <Name>Display Condition</Name>
      <Alias>displayCondition</Alias>
      <Definition>5bdf5fde-0f1d-431a-bd05-fc8aaa700360</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Condition</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2f3b01ea-90b5-462a-801b-e80a49e36b3d</Key>
      <Name>Display Text</Name>
      <Alias>displayText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Condition</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Condition</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>