<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0928ac6c-9dfd-412a-bc35-efc3a9c97023" Alias="dropdownCondition" Level="3">
  <Info>
    <Name>Dropdown Condition</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Product+Selector/Conditions</Folder>
    <Compositions>
      <Composition Key="6388a9ac-fa83-435c-bd60-9734096b28ea">conditionBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>43067ac0-cabe-4a2f-82ab-45fea870ede5</Key>
      <Name>Dropdown Display Conditions</Name>
      <Alias>dropdownDisplayConditions</Alias>
      <Definition>5bdf5fde-0f1d-431a-bd05-fc8aaa700360</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Condition</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>aaf4a635-a879-4598-87ad-ad722627d791</Key>
      <Name>Dropdown Options</Name>
      <Alias>dropdownOptions</Alias>
      <Definition>ac63bab6-028b-44ef-a34c-b1d28ba8a8bd</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Condition</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e4ffc29f-b22b-4d94-a304-29a6bbf007d1</Key>
      <Name>Placeholder Text</Name>
      <Alias>placeholderText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Condition</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Condition</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>