<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ba4432a0-cca8-4623-8e0b-76001f03e9ba" Alias="dualDropdownCondition" Level="3">
  <Info>
    <Name>Dual Dropdown Condition</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Product+Selector/Conditions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>30282b8f-dd51-4357-aa04-1866b3366390</Key>
      <Name>Label</Name>
      <Alias>labelBetweenDropdowns</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Label between drop-downs</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4e063e0e-54bf-4edc-97a3-502898532c07</Key>
      <Name>Left Dropdown Options</Name>
      <Alias>leftDropdownOptions</Alias>
      <Definition>ac63bab6-028b-44ef-a34c-b1d28ba8a8bd</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Left Dropdown</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>86322fb9-31fb-4fc3-861b-4e80304c6103</Key>
      <Name>Key</Name>
      <Alias>leftKey</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Left Dropdown</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>57429987-169f-438b-aa56-f600ad18d3a9</Key>
      <Name>Placeholder Text</Name>
      <Alias>leftPlaceholderText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Left Dropdown</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>53020ec5-d521-49e4-9ef2-d83a09244994</Key>
      <Name>Require Select</Name>
      <Alias>requireSelect</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Condition</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7bbc408c-1f62-4518-b2d4-9fd532d5a28a</Key>
      <Name>Right Dropdown Options</Name>
      <Alias>rightDropdownOptions</Alias>
      <Definition>ac63bab6-028b-44ef-a34c-b1d28ba8a8bd</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Right Dropdown</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fd3182c2-0e75-4a6b-b4a2-b9c4f55d05f2</Key>
      <Name>Key</Name>
      <Alias>rightKey</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Right Dropdown</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>41b1875e-f9da-47a3-b8a1-71b1a0674ba2</Key>
      <Name>Placeholder Text</Name>
      <Alias>rightPlaceholderText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Right Dropdown</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Condition</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Left Dropdown</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Label between drop-downs</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Right Dropdown</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>