<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4a6497bd-31ca-4f50-9c79-f8f10ce3c196" Alias="filterOption" Level="2">
  <Info>
    <Name>Filter Option</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b8b2e36e-9d1f-4e72-a48a-8de2c3a0c82d</Key>
      <Name>Filter Select Option</Name>
      <Alias>filterSelectOption</Alias>
      <Definition>2ccc1687-7d84-42c2-8fa6-0a51c39dec45</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Filter Options</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Filter Options</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>