<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8f2a6324-2311-4854-b887-6e4db892d701" Alias="filterConfigurations" Level="2">
  <Info>
    <Name>Filters Configurations</Name>
    <Icon>icon-folder-close color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Global+Configurations</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="dd980b52-b56b-4d7a-9688-3ded5f411f62" SortOrder="0">filterConfiguration</ContentType>
    <ContentType Key="cd72e292-558c-466c-bea7-06658d456e1b" SortOrder="2">listingConfiguration</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>