<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="012a74fc-0151-401d-859e-9720de1fdfb6" Alias="filterGroup" Level="2">
  <Info>
    <Name>Filter Group</Name>
    <Icon>icon-split-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Global+Configurations</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="266af869-057c-4e31-80a8-65ff4e3fa203" SortOrder="19">filter</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>12e2778b-67f5-4f69-8a8f-607c72a69aee</Key>
      <Name>Group Name</Name>
      <Alias>groupName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Infomation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dc842631-8dcd-407a-a271-63377281f674</Key>
      <Name>Month Title</Name>
      <Alias>monthTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Infomation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Infomation</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>