<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dd980b52-b56b-4d7a-9688-3ded5f411f62" Alias="filterConfiguration" Level="2">
  <Info>
    <Name>Filter Configuration</Name>
    <Icon>icon-indent color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Listing+Filters+Configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c0bb03ba-4d5c-40bf-b5ea-0a5932f34484</Key>
      <Name>Filter Categories</Name>
      <Alias>filterCategories</Alias>
      <Definition>61c6c0fe-63e9-434e-882d-a1caa473bde5</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Filter Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Filter Info</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>