<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="35d3cf91-3647-44bc-a282-38e44841c1b1" Alias="filteringGroupItem" Level="2">
  <Info>
    <Name>Filtering Group Item</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f050bb89-4bf5-4b91-8b28-2806c5fde60a</Key>
      <Name>Filter By</Name>
      <Alias>filterBy</Alias>
      <Definition>74589220-9798-4e66-bd2e-fcc21b0a2e69</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>