<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="34394e1c-3730-4394-b54f-399595c088ed" Alias="filterTypeValueOptions" Level="2">
  <Info>
    <Name>Filter Type Value Options</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0b100809-0583-459a-8016-102674e0b89b</Key>
      <Name>Filter Type</Name>
      <Alias>filterType</Alias>
      <Definition>5d386260-7c59-49f5-870b-e4dfe871af96</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Filter</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8774629f-e468-444e-9942-dd304a5ff625</Key>
      <Name>Filter Values</Name>
      <Alias>filterValues</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Split by commas]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Filter</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Filter</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>