<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="75df6433-87ee-488e-b123-5854df65fd13" Alias="globalColourList" Level="2">
  <Info>
    <Name>Global Colour List</Name>
    <Icon>icon-color-bucket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Global+Configurations</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ea1835f2-1f32-4578-9756-747fbbdced6a" SortOrder="0">colour</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>