<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8bf5187f-4294-460b-8d2e-686f0911298c" Alias="globalTimberList" Level="2">
  <Info>
    <Name>Global Timber List</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Global+Configurations</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="8ff3f50f-f853-4d40-930f-ea401ce8d068" SortOrder="0">timber</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>