<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b9754d89-117f-4bee-847e-02069fd8f7d3" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="46106a40-6e26-44ba-b3bb-5dd8f768e24b">bannerBase</Composition>
      <Composition Key="7bf59250-458e-42a2-ab8d-e6089fdcfae6">shareContentBase</Composition>
    </Compositions>
    <DefaultTemplate>gridTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d18c18c3-e4f9-4ea3-9e94-c2f8fdbe5342">gridTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5bb7744b-e40d-4039-93e9-b690894f9722" SortOrder="0">articles</ContentType>
    <ContentType Key="e352df7e-20a0-48f2-9c23-3b839cfc4633" SortOrder="1">contactUs</ContentType>
    <ContentType Key="e66a78c4-200f-49ae-a8f8-631e3b47a9fc" SortOrder="2">products</ContentType>
    <ContentType Key="18c9ad8d-2203-44a4-a0ad-099f7bf8d514" SortOrder="3">landingPage</ContentType>
    <ContentType Key="37ac363b-6778-413c-a15b-40faee29e06d" SortOrder="4">questions</ContentType>
    <ContentType Key="1a91c813-77dc-4490-9f86-0b11922ceb18" SortOrder="5">searchPage</ContentType>
    <ContentType Key="81f36c84-3980-4a27-85b6-4c323cb8c913" SortOrder="6">article</ContentType>
    <ContentType Key="fadf6712-0ff0-4621-84ee-33381a88b22a" SortOrder="7">xmlSitemap</ContentType>
    <ContentType Key="20a48deb-6d92-4ede-8a75-51a95ef1fa6f" SortOrder="7">stores</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b8df6a81-a38a-49b1-bffc-0e088a89d066</Key>
      <Name>Content</Name>
      <Alias>bodyText</Alias>
      <Definition>8ebafb71-a711-4c52-8f74-0fe11172d3c6</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>