<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c6e1f783-f36e-463d-a77d-5c1003100c0e" Alias="imageCondition" Level="3">
  <Info>
    <Name>Image Condition</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Product+Selector/Conditions</Folder>
    <Compositions>
      <Composition Key="6388a9ac-fa83-435c-bd60-9734096b28ea">conditionBase</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e297f200-21dc-467e-a561-83b8752a73f2</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>05a8972e-20a2-44cb-a6a4-7cab3d60c4cb</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Condition</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Condition</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>