<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7bf416f3-c34c-46fe-936f-1da131d778d6" Alias="integration" Level="2">
  <Info>
    <Name>Integration</Name>
    <Icon>icon-wrench color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2fb21749-6333-4663-baf4-ad5708f949a9</Key>
      <Name>Email Header Description</Name>
      <Alias>emailHeaderDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Email Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0e82918b-4ab4-489f-89ce-3f97ccf6a79f</Key>
      <Name>Email Subject</Name>
      <Alias>emailSubject</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Email Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d2fdc0c7-0c49-41b9-ac39-88e0c720416e</Key>
      <Name>Embedded Sharing Scripts</Name>
      <Alias>embeddedSharingScripts</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Social Sharing Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6013a86b-52d4-4284-a73a-3f89d44826c7</Key>
      <Name>Enable Segment</Name>
      <Alias>enableSegment</Alias>
      <Definition>78d147e8-be13-4ba0-88d0-df227761d549</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Segment - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1034b9d6-485a-4449-bfb0-4d162a3104f1</Key>
      <Name>Find Your Stockist Description</Name>
      <Alias>findYourStockistDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Email Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b83f1956-0aeb-455a-93df-ae469fb1c755</Key>
      <Name>Find Your Stockist Link</Name>
      <Alias>findYourStockistLink</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Email Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b6c33f00-81b2-4884-8b22-7de029f1ec52</Key>
      <Name>Footer Banner Image</Name>
      <Alias>footerBannerImage</Alias>
      <Definition>3c8b7910-6088-4fd9-8073-b9f8af5f257f</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Email Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8477f191-5171-4b2c-9cdf-38e5078fb35b</Key>
      <Name>From Contact Name</Name>
      <Alias>fromContactName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Email Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>487d80cb-c7c6-4e9a-860c-6c464d19d79d</Key>
      <Name>From Email</Name>
      <Alias>fromEmail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Email Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5de91ea9-a8a0-4116-ae32-0fe7f4b1a2b6</Key>
      <Name>Enabled</Name>
      <Alias>gaEnabled</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Google Analytic - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>72a9fafd-f037-409b-b4da-37af0e89dfc4</Key>
      <Name>Tracking Id</Name>
      <Alias>gaTrackingId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Google Analytic - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>99c9e7ef-3f92-49e4-b22d-7ea5863124f8</Key>
      <Name>Container Id</Name>
      <Alias>gtmContainerId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Google Tag Manager - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>68b4138f-26e2-4322-aeda-6936a49b56aa</Key>
      <Name>Enabled</Name>
      <Alias>gtmEnabled</Alias>
      <Definition>78d147e8-be13-4ba0-88d0-df227761d549</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Google Tag Manager - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b5618afa-7c6d-4034-b411-a0fa7c680d5f</Key>
      <Name>Header Banner Image</Name>
      <Alias>headerBannerImage</Alias>
      <Definition>3c8b7910-6088-4fd9-8073-b9f8af5f257f</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Email Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>323fc4e0-9966-466c-98fa-730ff10b406d</Key>
      <Name>Header Logo Image</Name>
      <Alias>headerLogoImage</Alias>
      <Definition>3c8b7910-6088-4fd9-8073-b9f8af5f257f</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Email Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0d1afb4a-6bf3-493c-a49e-c01058fd41cd</Key>
      <Name>Human Score</Name>
      <Alias>humanScore</Alias>
      <Definition>1c142b96-0922-46d8-98cc-4826eddfbe16</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Google Recaptcha Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9a622dce-8335-4d4f-ae05-139d50138fb5</Key>
      <Name>Enabled</Name>
      <Alias>lcEnabled</Alias>
      <Definition>78d147e8-be13-4ba0-88d0-df227761d549</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Live Chat - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e83c1bb0-9ff9-4db6-a079-b51953751d16</Key>
      <Name>Enable For Mobile Device</Name>
      <Alias>lcEnableForMobileDevice</Alias>
      <Definition>78d147e8-be13-4ba0-88d0-df227761d549</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Live Chat - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2a299ce5-9350-44dc-9df3-fef35049e6cb</Key>
      <Name>License Number</Name>
      <Alias>lcLicenseNumber</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>^[0-9]*$</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Live Chat - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2c683661-ab6e-4c5b-844d-7edfd71483c1</Key>
      <Name>API Key</Name>
      <Alias>mailchimpApiKey</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Mailchimp - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>359cf3bd-6205-4338-91f3-bf9c9b7957cd</Key>
      <Name>Brand</Name>
      <Alias>mailchimpBrand</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Mailchimp - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3bf3b461-1c92-4ad4-81ed-e625e2aec78c</Key>
      <Name>Enabled</Name>
      <Alias>mailchimpEnabled</Alias>
      <Definition>78d147e8-be13-4ba0-88d0-df227761d549</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Mailchimp - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c1d354ff-61de-445d-a55a-1d294e5cc9be</Key>
      <Name>Interest Mappings</Name>
      <Alias>mailchimpInterestMappings</Alias>
      <Definition>399dd7a2-335b-4e3f-835b-6167e74c7a41</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Mailchimp - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5c7a5505-2460-4321-9888-b4e26aa638ba</Key>
      <Name>List Id</Name>
      <Alias>mailchimpListId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[List ID / Audience ID]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Mailchimp - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6209db19-27c2-44e7-aafc-e97714999457</Key>
      <Name>Server</Name>
      <Alias>mailchimpServer</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Mailchimp - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>79419381-78e3-4b67-885c-4c399392dcd5</Key>
      <Name>Refresh Token</Name>
      <Alias>refreshToken</Alias>
      <Definition>429fe8f3-0cef-4d25-972f-1f5fdfb86d8d</Definition>
      <Type>HubspotRefreshToken</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Hubspot integration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3f265cc5-3a72-4a99-842b-40e810ccab87</Key>
      <Name>Segment Script</Name>
      <Alias>segmentScript</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Segment - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0e5ca7d7-c8e7-45d6-9259-a9d25a54e6dd</Key>
      <Name>Segment Server Write Key</Name>
      <Alias>segmentServerWriteKey</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Segment - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>586f6f21-3a78-4c21-bbd1-d9e37f05c1fd</Key>
      <Name>SendGrid ApiKey</Name>
      <Alias>sendGridApiKey</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Email - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d23ce6f4-000a-48a8-b416-9bae0ca11c53</Key>
      <Name>Metro Shipping Rate</Name>
      <Alias>shippingRateMetro</Alias>
      <Definition>d1905047-3d2f-46bd-9b38-aae0ff8a31a1</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Shopify</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4c7c720a-c330-42e0-a3f7-a7e9cfef8de1</Key>
      <Name>Regional Shipping Rate</Name>
      <Alias>shippingRateRegional</Alias>
      <Definition>d1905047-3d2f-46bd-9b38-aae0ff8a31a1</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Shopify</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>664daef0-f54b-4e93-8837-9f48c467be31</Key>
      <Name>Enable</Name>
      <Alias>shopifyEnable</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Shopify</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3665cbae-303f-473b-9425-90ba87d56840</Key>
      <Name>Store Domain</Name>
      <Alias>shopifyStore</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Shopify</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b669e11c-bfe6-459d-a2dc-e3043054fd44</Key>
      <Name>Token</Name>
      <Alias>shopifyToken</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Shopify</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1f5642d1-13d7-4082-a4d2-adf6ab7d718a</Key>
      <Name>Store Name</Name>
      <Alias>storeName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Shopify</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0a08f3a1-b0c7-4668-b09c-f61dd8306f5b</Key>
      <Name>Ticket Stage</Name>
      <Alias>ticketStage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Stage of ticket on hubspot after an order is marked as fulfilled]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Shopify</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2766a193-982a-43b5-a37a-a801d71f535a</Key>
      <Name>Webhook Sign</Name>
      <Alias>webhookSign</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Shopify</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1721e155-727a-4f22-9088-a52cac46a017</Key>
      <Name>Youtube Api Key</Name>
      <Alias>YtApiKey</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Segment - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0cc860e8-2a2f-4365-a32c-c9999b5f42c6</Key>
      <Name>Youtube Video Tracking Enabled</Name>
      <Alias>YtVideoTrackingEnabled</Alias>
      <Definition>78d147e8-be13-4ba0-88d0-df227761d549</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Segment - Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Live Chat - Configuration</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Mailchimp - Configuration</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Google Tag Manager - Configuration</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Google Analytic - Configuration</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Caption>Email - Configuration</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Caption>Email Content</Caption>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Caption>Social Sharing Configuration</Caption>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Caption>Hubspot integration</Caption>
      <SortOrder>8</SortOrder>
    </Tab>
    <Tab>
      <Caption>Google Recaptcha Configuration</Caption>
      <SortOrder>9</SortOrder>
    </Tab>
    <Tab>
      <Caption>Shopify</Caption>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Caption>Segment - Configuration</Caption>
      <SortOrder>11</SortOrder>
    </Tab>
  </Tabs>
</ContentType>