<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7bf416f3-c34c-46fe-936f-1da131d778d6" Alias="integration" Level="2">
  <Info>
    <Name>Integration</Name>
    <Icon>icon-wrench color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d2fdc0c7-0c49-41b9-ac39-88e0c720416e</Key>
      <Name>Embedded Sharing Scripts</Name>
      <Alias>embeddedSharingScripts</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Social Sharing Configuration</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5de91ea9-a8a0-4116-ae32-0fe7f4b1a2b6</Key>
      <Name>Enabled</Name>
      <Alias>gaEnabled</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Google Analytic - Configuration</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>72a9fafd-f037-409b-b4da-37af0e89dfc4</Key>
      <Name>Tracking Id</Name>
      <Alias>gaTrackingId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Google Analytic - Configuration</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>99c9e7ef-3f92-49e4-b22d-7ea5863124f8</Key>
      <Name>Container Id</Name>
      <Alias>gtmContainerId</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Google Tag Manager - Configuration</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>68b4138f-26e2-4322-aeda-6936a49b56aa</Key>
      <Name>Enabled</Name>
      <Alias>gtmEnabled</Alias>
      <Definition>78d147e8-be13-4ba0-88d0-df227761d549</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Google Tag Manager - Configuration</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0d1afb4a-6bf3-493c-a49e-c01058fd41cd</Key>
      <Name>Human Score</Name>
      <Alias>humanScore</Alias>
      <Definition>1c142b96-0922-46d8-98cc-4826eddfbe16</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Google Recaptcha Configuration</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>586f6f21-3a78-4c21-bbd1-d9e37f05c1fd</Key>
      <Name>SendGrid ApiKey</Name>
      <Alias>sendGridApiKey</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Email - Configuration</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Google Tag Manager - Configuration</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Google Analytic - Configuration</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Caption>Email - Configuration</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Caption>Social Sharing Configuration</Caption>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Caption>Google Recaptcha Configuration</Caption>
      <SortOrder>9</SortOrder>
    </Tab>
  </Tabs>
</ContentType>