<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="05d46efd-12cf-4774-b8da-2438071410a0" Alias="itemListing" Level="2">
  <Info>
    <Name>Article Listing</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>DocType+Grid+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fcbca790-565d-43e1-938b-89caf90fe757</Key>
      <Name>Background Colour</Name>
      <Alias>backgroundColour</Alias>
      <Definition>045387f7-4d38-4ddb-8712-94edce0e0307</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Colour Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>616fde35-0e98-4baa-9955-32d6bd60a374</Key>
      <Name>Caption</Name>
      <Alias>caption</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Label &amp; Caption</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d39f8af2-b53e-44b5-ae1e-968881177481</Key>
      <Name>Items</Name>
      <Alias>contentInfos</Alias>
      <Definition>8a79f582-c1fb-45b6-8efc-ce5bd46c75f3</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Fixed Items</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f46fae07-35d5-4bb8-87b8-fef82c1d277b</Key>
      <Name>Content Source Option</Name>
      <Alias>contentSourceOption</Alias>
      <Definition>6d8d276d-0920-4d81-b574-88d83112dc6b</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8dfe6728-fe0d-4a2b-9c29-029749ca9362</Key>
      <Name>Default Filters</Name>
      <Alias>defaultFilters</Alias>
      <Definition>d71a4929-1115-457d-af9c-55b817f6cab8</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Child Page Items</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>db82a636-61b0-4fd3-afb7-a6806ab3c23a</Key>
      <Name>Default List</Name>
      <Alias>defaultList</Alias>
      <Definition>41f65149-e4c9-4e78-b739-d8c97b472eff</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Default Listing Items</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8a0e2ef1-4a17-4046-824e-4b67b4a9cdc0</Key>
      <Name>Display View More As Button</Name>
      <Alias>displayViewMoreAsButton</Alias>
      <Definition>084c2700-b447-4c51-8368-e35d7b102c14</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>View more</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d08cfa66-a414-4a79-9c88-aa25d7b6687a</Key>
      <Name>Font Colour</Name>
      <Alias>fontColour</Alias>
      <Definition>045387f7-4d38-4ddb-8712-94edce0e0307</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Colour Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c1287617-ac8b-4ee6-9e46-62e9f7aa2b3f</Key>
      <Name>Item Listing Layout</Name>
      <Alias>itemListingLayout</Alias>
      <Definition>ad470231-4b74-40d4-adce-b3107fd85fdd</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>34135e6a-aae7-4151-9a8b-9323221746b3</Key>
      <Name>Label</Name>
      <Alias>label</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Label &amp; Caption</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>99ad1f1f-bfeb-481a-a3b2-d34d4a6b0913</Key>
      <Name>Number Of Display Items</Name>
      <Alias>numberOfDisplayItems</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Layout</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8f38cc89-7afd-40ac-958b-cfdbdfb9761e</Key>
      <Name>Order Type</Name>
      <Alias>orderType</Alias>
      <Definition>9b8ad2f7-c3c7-493a-8799-fbd28aa63ba6</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Child Page Items</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5fa31613-6523-4d5e-ae9f-9adc56d9e98f</Key>
      <Name>Sort By</Name>
      <Alias>sortBy</Alias>
      <Definition>b797a7d9-0b9e-4fae-b6d7-d2c9862c54e9</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Child Page Items</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7bca19fb-f970-4af8-8c91-807b577d9741</Key>
      <Name>Starter Node</Name>
      <Alias>starterNode</Alias>
      <Definition>01b3341b-b0ff-42f4-94da-cd10cfda6403</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Child Page Items</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8275a1b3-92fc-4731-b5ac-1d638adce52a</Key>
      <Name>View All Label</Name>
      <Alias>viewMoreLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>View more</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f06ab766-bdd2-4ddd-877e-b9cf66173c4b</Key>
      <Name>View All Link</Name>
      <Alias>viewMoreLink</Alias>
      <Definition>7881ddb3-6945-4466-a310-2f6c1fffefed</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>View more</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Layout</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Label &amp; Caption</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Child Page Items</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Fixed Items</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Default Listing Items</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Caption>View more</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Caption>Colour Section</Caption>
      <SortOrder>6</SortOrder>
    </Tab>
  </Tabs>
</ContentType>