<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cd72e292-558c-466c-bea7-06658d456e1b" Alias="listingConfiguration" Level="2">
  <Info>
    <Name>Listing Configuration</Name>
    <Icon>icon-bulleted-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Listing+Filters+Configuration</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2d423b45-5d36-4550-8177-4ad4608600f8</Key>
      <Name>Fixed Items</Name>
      <Alias>contentInfos</Alias>
      <Definition>8a79f582-c1fb-45b6-8efc-ce5bd46c75f3</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Fixed Items Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4974f339-7c56-4b7b-97ca-c859ba1c6e88</Key>
      <Name>Content Source Option</Name>
      <Alias>contentSourceOption</Alias>
      <Definition>efe0adc8-a2d8-4afc-b786-f5d6feab7176</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>eb98b878-8814-45b0-a8b3-da9d9547ac06</Key>
      <Name>Default Filters</Name>
      <Alias>defaultFilters</Alias>
      <Definition>d71a4929-1115-457d-af9c-55b817f6cab8</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Child Page Items</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5e9ad824-84bf-4c74-bd7d-56042b75e812</Key>
      <Name>Order Type</Name>
      <Alias>orderType</Alias>
      <Definition>9b8ad2f7-c3c7-493a-8799-fbd28aa63ba6</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Child Page Items</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2633e431-7b80-4964-85e1-3f927c3ad9ad</Key>
      <Name>Sort By</Name>
      <Alias>sortBy</Alias>
      <Definition>b797a7d9-0b9e-4fae-b6d7-d2c9862c54e9</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Child Page Items</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ff0aeb93-f602-4dab-9682-20799da871cf</Key>
      <Name>Starter Node</Name>
      <Alias>starterNode</Alias>
      <Definition>01b3341b-b0ff-42f4-94da-cd10cfda6403</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Child Page Items</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c7b3f76b-a251-4e9f-92b4-adcf8606a7ee</Key>
      <Name>Title Page</Name>
      <Alias>titlePage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content Section</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Fixed Items Section</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Child Page Items</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>