<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bfdd1a44-cbb6-479f-9907-ed4753f0864a" Alias="menuItem" Level="2">
  <Info>
    <Name>Menu Item</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>88f40979-1160-4740-b2fe-5921febcf104</Key>
      <Name>Child Items</Name>
      <Alias>childItems</Alias>
      <Definition>6d999a96-d584-4e9c-a58b-048ebddbc9cd</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>87fc5dbd-bf0d-4395-baf3-3fdd706c9a96</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>7881ddb3-6945-4466-a310-2f6c1fffefed</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9aa74095-ee95-458b-9249-cdd167423dd1</Key>
      <Name>Number of Child-Items per Column</Name>
      <Alias>numberOfChildItemsPerColumn</Alias>
      <Definition>1f9872e0-abd1-4233-97a8-ec205e952fdf</Definition>
      <Type>Umbraco.Decimal</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7409c1d1-602b-4263-8eae-71b5fd1ac6ad</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>e14549e8-f937-4e23-9401-cbdc458ff5ea</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>