<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="699b2ed7-29b5-435c-8108-dac9f76c3f4a" Alias="navigationAndBreadcrumbComponent" Level="2">
  <Info>
    <Name>Navigation And Breadcrumb Component</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>DocType+Grid+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e45f7d50-0b82-4d51-919b-5544e371d2d9</Key>
      <Name>Enable Breadcrumb</Name>
      <Alias>enableBreadcrumb</Alias>
      <Definition>1ab18c6d-a253-458d-a6ef-dba077c5b8ad</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Breadcrumb Info Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4e6ea9e1-dc99-4853-b29a-eef7c89d2373</Key>
      <Name>Enable Navigation</Name>
      <Alias>enableNavigation</Alias>
      <Definition>1ab18c6d-a253-458d-a6ef-dba077c5b8ad</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Navigation Info Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3fd627e5-9d15-4189-9216-f320f32d0d78</Key>
      <Name>In-depth Level</Name>
      <Alias>inDepthLevel</Alias>
      <Definition>39664848-a556-4ddb-b2cc-47e49efc86d7</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Navigation Info Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7ff03a0b-f34c-4c93-8eac-16737b28e219</Key>
      <Name>Starter Node</Name>
      <Alias>starterNode</Alias>
      <Definition>1611a0dd-cc4a-49de-b3cf-d1ce9f2e8088</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Navigation Info Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigation Info Section</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Breadcrumb Info Section</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>