<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a38485d4-3393-4e97-9ccc-0748b7d49e15" Alias="navigationManagement" Level="1">
  <Info>
    <Name>Header - Footer - Navigation Menu</Name>
    <Icon>icon-company color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9685dbc7-813c-4825-a87e-8d21ed3518ad</Key>
      <Name>Address Info</Name>
      <Alias>addressInfo</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0ecfbfab-d4a9-4654-a9b6-d069951252a2</Key>
      <Name>Already Subscribe Message</Name>
      <Alias>alreadySubscribeMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Subscribe Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b1aad309-1126-40c4-bf32-9fc860ce1be6</Key>
      <Name>Copyright Label</Name>
      <Alias>copyrightLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>76073810-ea00-4ab5-b92e-693429824c6f</Key>
      <Name>Enabled</Name>
      <Alias>enabledSubscription</Alias>
      <Definition>78d147e8-be13-4ba0-88d0-df227761d549</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Subscribe Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ba8e54a0-7af9-4838-89be-81ce9d363bb1</Key>
      <Name>Follow Us Form</Name>
      <Alias>followUsForm</Alias>
      <Definition>fd03eff1-9a58-4759-a4b5-eea4b777bba9</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Subscribe Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6ec9e7f0-a691-4398-8e4f-da0bb6a3e1ca</Key>
      <Name>Footer Logo</Name>
      <Alias>footerLogo</Alias>
      <Definition>3c8b7910-6088-4fd9-8073-b9f8af5f257f</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2fdaaf4a-c3d2-4833-bb52-07c7df8914fe</Key>
      <Name>Footer Menu</Name>
      <Alias>footerMenu</Alias>
      <Definition>6d999a96-d584-4e9c-a58b-048ebddbc9cd</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b802e37e-267a-4daf-b4c9-02447913d790</Key>
      <Name>Left Footer</Name>
      <Alias>leftFooter</Alias>
      <Definition>87e41d72-20a5-47a5-84a5-caa956269201</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4f25355b-9420-4169-a075-a756671d2449</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>3c8b7910-6088-4fd9-8073-b9f8af5f257f</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>541df82d-a88b-4400-96e4-3f50678758d3</Key>
      <Name>Main Menu</Name>
      <Alias>mainMenu</Alias>
      <Definition>6d999a96-d584-4e9c-a58b-048ebddbc9cd</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Menu</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dfb5036c-e021-4870-ba32-a33e755202d8</Key>
      <Name>Product Navigation</Name>
      <Alias>productNavigation</Alias>
      <Definition>efcb71e2-7366-45b8-a686-b337941e40f7</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Side Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6291c059-68cb-4e23-a0b6-b036efa4ea2d</Key>
      <Name>Right Footer</Name>
      <Alias>rightFooter</Alias>
      <Definition>87e41d72-20a5-47a5-84a5-caa956269201</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d8d88603-0853-4343-a432-31bf226b3ecd</Key>
      <Name>Site Description</Name>
      <Alias>siteDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>53063069-d8cd-43ab-8677-c5a4f0cb2656</Key>
      <Name>Site Name</Name>
      <Alias>siteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8a8f312a-7096-4fc1-a4d5-69835d6ca696</Key>
      <Name>Social Networks</Name>
      <Alias>socialNetworks</Alias>
      <Definition>d5221174-1a83-4dca-b283-9b7b8218a6d0</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ffd67b81-8ab9-482f-b7f6-58e8272dd82d</Key>
      <Name>Button Label</Name>
      <Alias>subscribeButtonLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Subscribe Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dc4b2e78-7ef4-497e-a740-2c3b2d8a098f</Key>
      <Name>Label</Name>
      <Alias>subscribeLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Subscribe Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>240d0216-71e2-4efb-bbe8-3ff662566ecb</Key>
      <Name>Placeholder Text</Name>
      <Alias>subscribePlaceholderText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Subscribe Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5bb571a7-7450-40a7-99f7-3d195481a3cc</Key>
      <Name>Subscribe Successful Message</Name>
      <Alias>subscribeSuccessfulMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Subscribe Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>79d72e2c-9b42-48cf-b0fe-94333e2cc9e9</Key>
      <Name>Top Navigation Icons</Name>
      <Alias>topNavigationIcons</Alias>
      <Definition>d5221174-1a83-4dca-b283-9b7b8218a6d0</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8dc82e01-8427-41b5-8299-3628bc39c7e9</Key>
      <Name>Top Navigation Links</Name>
      <Alias>topNavigationLinks</Alias>
      <Definition>87e41d72-20a5-47a5-84a5-caa956269201</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>203a9354-6f9a-4f50-a8ce-c31ff872670f</Key>
      <Name>View All Label</Name>
      <Alias>viewAllLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Side Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>17935a33-0b78-4e81-92e2-9bb2bf31eeb5</Key>
      <Name>View All Link</Name>
      <Alias>viewAllLink</Alias>
      <Definition>7881ddb3-6945-4466-a310-2f6c1fffefed</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Side Navigation</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Header</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Menu</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Subscribe Section</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Side Navigation</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>