<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bc14d41c-4557-4fad-823a-1bd672056c67" Alias="pageNavigationAndBreadcrumb" Level="2">
  <Info>
    <Name>Page Navigation And Breadcrumb</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>DocType+Grid+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>572e4b98-3894-45a5-aa8d-5cdf0d809b7d</Key>
      <Name>Enable Breadcrumb</Name>
      <Alias>enableBreadcrumb</Alias>
      <Definition>1ab18c6d-a253-458d-a6ef-dba077c5b8ad</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Breadcrumb Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d842114b-ec12-41fd-8d24-c755e924b489</Key>
      <Name>Enable Navigation</Name>
      <Alias>enableNavigation</Alias>
      <Definition>1ab18c6d-a253-458d-a6ef-dba077c5b8ad</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Navigation Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>93671e8e-758d-456e-84da-f5c550b88f22</Key>
      <Name>Fixed Title</Name>
      <Alias>fixedTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Navigation Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>064f601c-9dd6-45bb-9a86-e9822b09e743</Key>
      <Name>Navigation Source</Name>
      <Alias>navigationSource</Alias>
      <Definition>0b6a45e7-44ba-430d-9da5-4e46060b9e03</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Navigation Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>931e5b29-e370-4af4-993b-3c380c4199b1</Key>
      <Name>Printing</Name>
      <Alias>printing</Alias>
      <Definition>1ab18c6d-a253-458d-a6ef-dba077c5b8ad</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Navigation Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b6997ec8-abae-4e59-a502-16d61a154db3</Key>
      <Name>Social Sharing</Name>
      <Alias>socialSharing</Alias>
      <Definition>1ab18c6d-a253-458d-a6ef-dba077c5b8ad</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Navigation Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Navigation Section</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Breadcrumb Section</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>