<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="65da6529-69ef-456d-9b69-af8a90d32bc6" Alias="productAttributeList" Level="2">
  <Info>
    <Name>Product Attributes</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>DocType+Grid+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1715a90d-f366-456a-a439-6aab89cdfc5c</Key>
      <Name>Product attributes</Name>
      <Alias>productAttributes</Alias>
      <Definition>fddffb31-1719-46d2-8c00-dbb7d6b14e65</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Attributes</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Attributes</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>