<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="25f111e7-0e18-45d1-8582-b6e106ca42b5" Alias="productVariantMapping" Level="2">
  <Info>
    <Name>Product Variant Mapping</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bb8e2b82-9d69-4bb3-9c89-213a12deffa8</Key>
      <Name>Colors</Name>
      <Alias>colors</Alias>
      <Definition>258e98ef-786f-455a-95b4-d53be03081b4</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Mapping</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ae2f4a98-c27b-41fd-8003-aaf94f13ff3d</Key>
      <Name>Shopify Value</Name>
      <Alias>shopifyValue</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[SKU]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Mapping</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3bec8b70-73e4-42c8-b0d5-be1aeb92c65a</Key>
      <Name>Sizes</Name>
      <Alias>sizes</Alias>
      <Definition>9998666f-13bb-4908-8639-11518986fcf3</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Mapping</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Mapping</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>