<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="96e79eb0-3ad2-4fc3-abb3-b601b7492893" Alias="productTimber" Level="2">
  <Info>
    <Name>Product Timber</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3a1ea432-66c4-481d-a2af-ea0440d5574e</Key>
      <Name>Coats</Name>
      <Alias>coats</Alias>
      <Definition>76644973-172d-4d90-b316-d13230e23f9b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Timber</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>548c990b-c4d0-4053-b37f-edb3ee685739</Key>
      <Name>Timber Name</Name>
      <Alias>timberName</Alias>
      <Definition>4c741731-f5be-4e27-895a-a0e79657e408</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Timber</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Timber</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>