<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="74e91785-924b-4254-8dd3-81ce357df19e" Alias="productSummary" Level="2">
  <Info>
    <Name>Product Summary</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>DocType+Grid+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>64bac1b7-5eee-4e7e-8371-eff1ac510388</Key>
      <Name>Add To Wish List</Name>
      <Alias>addToWishListEnabled</Alias>
      <Definition>78d147e8-be13-4ba0-88d0-df227761d549</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Summary</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0b37d6cf-68fe-4d55-b0b4-dfbfa3ef491b</Key>
      <Name>Colour Accuracy</Name>
      <Alias>colourAccuracyEnabled</Alias>
      <Definition>b2078485-4bea-47ac-b8b2-c2f823164c64</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Summary</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d63f3cca-7e53-4098-b151-c0e066a40afc</Key>
      <Name>Download SDS Link</Name>
      <Alias>downloadLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Summary</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dc27e585-7178-4db8-af46-4f836fcdd7a8</Key>
      <Name>Find A Stockist</Name>
      <Alias>findAStockist</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Summary</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>92c43ff8-3caa-42e3-b017-92296236b17c</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Summary</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Summary</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>