<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b0b695b5-2ab5-498e-9dcc-3fe6b19364d6" Alias="productColor" Level="2">
  <Info>
    <Name>Product Color</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>89ecdf17-213b-456b-8278-c766728b52de</Key>
      <Name>Available Color</Name>
      <Alias>availableColor</Alias>
      <Definition>258e98ef-786f-455a-95b4-d53be03081b4</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ab517f85-3e8a-45c5-927f-cb3a245d8899</Key>
      <Name>Available Timbers</Name>
      <Alias>availableTimbers</Alias>
      <Definition>9465af96-df01-4e5b-9e10-0e804cbf7588</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Colors</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Colors</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>