<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cdb68590-455b-4b3d-baf6-278a6bbc9a22" Alias="productSelectorButton" Level="2">
  <Info>
    <Name>Button</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Product+Selector</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>54504708-0026-46eb-9df3-cddbd1a1cd78</Key>
      <Name>Action</Name>
      <Alias>action</Alias>
      <Definition>bb30137d-355c-4ccb-8234-228f0371eb8c</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Action</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ff1ecb9c-84b1-4046-bc0e-e20430ad77d2</Key>
      <Name>Name</Name>
      <Alias>buttonName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Action</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Action</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>