<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0b351bae-5fe8-43fd-85ca-f5b87614ce7e" Alias="product" Level="1">
  <Info>
    <Name>Product</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="46106a40-6e26-44ba-b3bb-5dd8f768e24b">bannerBase</Composition>
      <Composition Key="5409379e-b322-4b7c-8108-fc2d2d1d89b0">contentBase</Composition>
      <Composition Key="0e5e3a65-0e4e-46c6-84cd-9b7fa0024420">navigationBase</Composition>
      <Composition Key="7bf59250-458e-42a2-ab8d-e6089fdcfae6">shareContentBase</Composition>
      <Composition Key="f13d7a97-4389-48fd-be3a-38aac0d57b51">xmlSitemapSettingsBase</Composition>
    </Compositions>
    <DefaultTemplate>gridTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d18c18c3-e4f9-4ea3-9e94-c2f8fdbe5342">gridTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b99aa291-6218-4ca0-8ed4-7e4b75e4e221</Key>
      <Name>Alphabetical Name</Name>
      <Alias>alphabeticalName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ba6a66cb-cf47-49e1-a7d9-23c8710ca3e9</Key>
      <Name>Available Sizes</Name>
      <Alias>availableSizes</Alias>
      <Definition>99c70182-0838-4508-8e2b-c9934076fd60</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Product Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>839057ba-fa84-496d-a3d4-6258d69aab37</Key>
      <Name>Content</Name>
      <Alias>bodyText</Alias>
      <Definition>8ebafb71-a711-4c52-8f74-0fe11172d3c6</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Template</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3f5b8607-89c0-4b84-b4a1-f5bd53d5d609</Key>
      <Name>Color Caption</Name>
      <Alias>colorCaption</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Product Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9194b57c-dd53-44bc-9ba0-405de5880b6b</Key>
      <Name>Colors</Name>
      <Alias>colors</Alias>
      <Definition>de5a796c-7c0d-4583-be43-dc339ac0d7dc</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Product Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ce0f4e9e-cdef-4c85-a3c3-6335f6af5811</Key>
      <Name>Product Sub-category</Name>
      <Alias>productSubCategory</Alias>
      <Definition>be9733a3-1cf0-49e1-99a1-37bfb397c380</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Product Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e1c1be24-5198-4400-aa11-2d80e4cd9ea5</Key>
      <Name>Shopify Mapping</Name>
      <Alias>shopifyMapping</Alias>
      <Definition>37c33a01-9e0d-45b4-87bd-9dc5139d472c</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Product Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>61922eff-0f0c-4096-99da-eae49a619d35</Key>
      <Name>Summary</Name>
      <Alias>summary</Alias>
      <Definition>8ebafb71-a711-4c52-8f74-0fe11172d3c6</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Summary</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>626b1e0f-800b-4d2d-acb3-4dce2f9d736e</Key>
      <Name>Tabs</Name>
      <Alias>tabs</Alias>
      <Definition>bae270fe-e5c5-4062-9a1d-3972e07d089e</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bafb29f1-c17a-49bd-b271-6a90c90b318e</Key>
      <Name>Timber Caption</Name>
      <Alias>timberCaption</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Product Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Summary</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Details</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Template</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Product Info</Caption>
      <SortOrder>8</SortOrder>
    </Tab>
  </Tabs>
</ContentType>