<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="37ac363b-6778-413c-a15b-40faee29e06d" Alias="questions" Level="1">
  <Info>
    <Name>Questions</Name>
    <Icon>icon-document color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="46106a40-6e26-44ba-b3bb-5dd8f768e24b">bannerBase</Composition>
      <Composition Key="5409379e-b322-4b7c-8108-fc2d2d1d89b0">contentBase</Composition>
      <Composition Key="0e5e3a65-0e4e-46c6-84cd-9b7fa0024420">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>gridTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d18c18c3-e4f9-4ea3-9e94-c2f8fdbe5342">gridTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="18cde62a-aaa0-4bed-87ae-12944299573d" SortOrder="0">question</ContentType>
    <ContentType Key="37ac363b-6778-413c-a15b-40faee29e06d" SortOrder="1">questions</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>235530f6-5fbe-4bd5-8578-338d0a463a7b</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>8ebafb71-a711-4c52-8f74-0fe11172d3c6</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content Display</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>071c8b8b-5740-4be1-9d4d-1966d6082b0b</Key>
      <Name>No Results Found Message</Name>
      <Alias>noResultsFoundMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Content Display</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>