<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e9e10198-e9e9-4733-ba56-939536c0f04b" Alias="relatedProductComponent" Level="2">
  <Info>
    <Name>Related Product Component</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>DocType+Grid+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>89390a02-ad9c-4c03-8c8d-5badc8f51d55</Key>
      <Name>Related Product Info</Name>
      <Alias>labelName</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Component Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Component Info</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>