<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5d566e69-b053-4e54-9a09-6379f2c68237" Alias="responsiveItemListing" Level="2">
  <Info>
    <Name>Listing Component</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>DocType+Grid+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1deddf17-132a-4abb-a79b-c3ba2c2475ff</Key>
      <Name>Additional Items</Name>
      <Alias>additionalItems</Alias>
      <Definition>eed8ed69-96f8-47e7-af2f-29eed7ef5ba5</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the list of the additional node that contains all the additional pages which will be displayed on the listing.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content Source Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>784f0692-d5ca-423c-b680-460804820157</Key>
      <Name>Default Filters</Name>
      <Alias>defaultFilters</Alias>
      <Definition>d71a4929-1115-457d-af9c-55b817f6cab8</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add/Update/Delete the list of filter to filter out the displayed items on list.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content Source Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>395947c4-ef14-4d20-b29e-c11c3f193475</Key>
      <Name>Enable Filter</Name>
      <Alias>enableFilter</Alias>
      <Definition>78d147e8-be13-4ba0-88d0-df227761d549</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Turn on to enable filter on the listing.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Filtering Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>edc18ae6-b522-497c-91f0-ac9a778f7c72</Key>
      <Name>Filtering By</Name>
      <Alias>filteringBy</Alias>
      <Definition>e5ea76eb-0cd6-4708-ba84-d3915fc92784</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Display the list of available where the editor can select to enable the filter type on the list.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Filtering Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>eb5a58ef-b6a1-4df2-a106-0b00e3f4b5e8</Key>
      <Name>Select Filter Order Configuration</Name>
      <Alias>filteringConfiguration</Alias>
      <Definition>aa1ec183-afbf-4ddf-b363-704b245b22d0</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the order of displayed filters on the list.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Filtering Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a426d68e-65e4-4f08-8445-03d9e12ef649</Key>
      <Name>Number of Columns</Name>
      <Alias>layoutPicker</Alias>
      <Definition>b4e9711a-699f-4fcc-a39b-f6bf0b29e443</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[In case selected option is blank, default will be 2 Columns.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Layout Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6c5be38a-624b-46fa-bea0-f941e5930263</Key>
      <Name>Number Items per Page</Name>
      <Alias>numberItemsPerPage</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation>^[0-9]*$</Validation>
      <Description><![CDATA[Default will be 9.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Layout Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c85674a7-ca77-441a-86dd-4f452e864065</Key>
      <Name>Sort Order</Name>
      <Alias>sortOrderBy</Alias>
      <Definition>67d4718f-b2af-4e0f-9fd3-5ae8e19f2123</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ascending and Descending. In case selected option is blank, default will be Ascending.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Layout Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d01ad75b-30a7-46bb-b84e-4933692429a5</Key>
      <Name>Sort Type</Name>
      <Alias>sortType</Alias>
      <Definition>d491f51e-7c04-4157-8d19-be84f11fe139</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Define sorting by Blank, Title, Last Modified Date, Created Date. In case selected option is Blank,  Node Order will be in charged.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Layout Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>af8a8d3b-2639-438a-9b6f-ae8c1dfb1ab5</Key>
      <Name>Starter Node</Name>
      <Alias>starterNode</Alias>
      <Definition>a32fe47b-09c4-4b08-81c1-eb3b9d00f5fe</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the node that contains all the page which will be displayed on the listing.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content Source Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7b5b4e5d-640e-41eb-b76f-784cc50e953a</Key>
      <Name>View Details Label</Name>
      <Alias>viewDetailsLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Input the label of view details button.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>View Label Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d7390b8a-a8f5-472b-a696-4c00c37499b9</Key>
      <Name>View More Label</Name>
      <Alias>viewMoreLabel</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Input the label of load more button.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>View Label Section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Layout Section</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Content Source Section</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Filtering Section</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>View Label Section</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>