<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1a91c813-77dc-4490-9f86-0b11922ceb18" Alias="searchPage" Level="1">
  <Info>
    <Name>Search Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="46106a40-6e26-44ba-b3bb-5dd8f768e24b">bannerBase</Composition>
      <Composition Key="5409379e-b322-4b7c-8108-fc2d2d1d89b0">contentBase</Composition>
      <Composition Key="0e5e3a65-0e4e-46c6-84cd-9b7fa0024420">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>searchPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4091c9e2-a7aa-454a-a264-9fc3157ae8dd">searchPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fd7f6301-2656-4255-9dd0-5a817c9ba04f</Key>
      <Name>Blogs Starter Node</Name>
      <Alias>blogsStarterNode</Alias>
      <Definition>e3186bff-8c93-4a18-8b7c-3692d91947cf</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Searchable Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1225d11f-5af5-429b-8662-a204a8495c59</Key>
      <Name>Others Starter Node</Name>
      <Alias>othersStarterNode</Alias>
      <Definition>acbce0f6-f1fd-477b-93df-63177d0c8d03</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Searchable Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e84faefe-e8fc-431a-b0b1-2c4996ce4deb</Key>
      <Name>Products Starter Node</Name>
      <Alias>productsStarterNode</Alias>
      <Definition>08cfe05c-2f3b-4b2a-afe2-24c3793c3ae5</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Searchable Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Searchable Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>