<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7bf59250-458e-42a2-ab8d-e6089fdcfae6" Alias="shareContentBase" Level="2">
  <Info>
    <Name>Share Content Base</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Base</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a2bca9d4-2a88-4271-be8b-4488bfd52d2a</Key>
      <Name>Enable Share</Name>
      <Alias>enableShare</Alias>
      <Definition>1ab18c6d-a253-458d-a6ef-dba077c5b8ad</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Share Content info section</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Share Content info section</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>