<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6a565bba-ae70-49ab-bb8f-821c9f964284" Alias="steps" Level="2">
  <Info>
    <Name>Steps</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Product+Selector</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3782613c-f01c-498a-bd15-45fd808880bc" SortOrder="2">step</ContentType>
    <ContentType Key="7f2c50d0-9bbd-436f-8c4b-afc71bd7b32e" SortOrder="4">result</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e3e1f931-90f9-4138-aaef-02b19e4252a2</Key>
      <Name>Category Name</Name>
      <Alias>categoryName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Category</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>19e8fffb-71bd-41ee-8da5-0f98b1e0e2a9</Key>
      <Name>Step Name</Name>
      <Alias>stepName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Category</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Category</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>