<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="06ff2b5c-9b6a-4630-8e27-deaf9067948c" Alias="tabItem" Level="2">
  <Info>
    <Name>Tab Item</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Element+Types</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>263a9d98-9a7f-4b25-970d-4a9c794f21ae</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>8ebafb71-a711-4c52-8f74-0fe11172d3c6</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>81f960a6-33d8-4e7a-84aa-5446415618c3</Key>
      <Name>Tab Name</Name>
      <Alias>tabName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>