<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8ff3f50f-f853-4d40-930f-ea401ce8d068" Alias="timber" Level="2">
  <Info>
    <Name>Timber</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Global+Configurations</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6fed65f2-23d5-4139-a651-57b6ae83581c</Key>
      <Name>Timber Image</Name>
      <Alias>timberImage</Alias>
      <Definition>3c8b7910-6088-4fd9-8073-b9f8af5f257f</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Timber</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dbfe80fd-fa31-40aa-a440-e022fbb981a9</Key>
      <Name>Timber Name</Name>
      <Alias>timberName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Timber</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Timber</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>