<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f13d7a97-4389-48fd-be3a-38aac0d57b51" Alias="xmlSitemapSettingsBase" Level="2">
  <Info>
    <Name>Xml Sitemap Settings Base</Name>
    <Icon>icon-settings color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Base</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8ba87bb0-265a-42f2-99f4-7c919f6a0605</Key>
      <Name>Hide From XML Sitemap</Name>
      <Alias>hideFromXMLSitemap</Alias>
      <Definition>78d147e8-be13-4ba0-88d0-df227761d549</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Xml Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6d4f1d33-109c-4f15-a7bb-e8bcc160dd3e</Key>
      <Name>Inherited Settings From Parent</Name>
      <Alias>inheritedSettingsFromParent</Alias>
      <Definition>9dbdae23-1c1f-4fd7-b8c9-7204d64d5808</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Xml Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>abc12fad-b4e4-4f52-9036-11cacc3ddfe5</Key>
      <Name>Search Engine Change Frequency</Name>
      <Alias>searchEngineChangeFrequency</Alias>
      <Definition>4cd58915-5bfb-4d3c-9b0d-08ae17821a16</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How often the content of the page changes, for google site map]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Xml Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4f24dc62-c24d-42a0-b208-22e1a9c1751b</Key>
      <Name>Search Engine Relative Priority</Name>
      <Alias>searchEngineRelativePriority</Alias>
      <Definition>cf3511e6-fece-4b34-b80f-1230c2500da7</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Priority of page between 0.1 (unimportant) and 1.0 (important)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Xml Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Xml Sitemap Settings</Caption>
      <SortOrder>7</SortOrder>
    </Tab>
  </Tabs>
</ContentType>