<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fadf6712-0ff0-4621-84ee-33381a88b22a" Alias="xmlSitemap" Level="1">
  <Info>
    <Name>Xml Sitemap</Name>
    <Icon>icon-sitemap color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>xmlSitemap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1be9e916-3471-4e93-b4d9-f752be9880ce">xmlSitemap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9ddc1567-9b4f-4656-ba13-d20f46c7ebb5</Key>
      <Name>Default Search Engine Change Frequency</Name>
      <Alias>defaultSearchEngineChangeFrequency</Alias>
      <Definition>4cd58915-5bfb-4d3c-9b0d-08ae17821a16</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select default change frequency]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Sitemap Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5b8bb9d8-e7aa-4cdc-b3bb-418394258aea</Key>
      <Name>Default Search Engine Relative Priority</Name>
      <Alias>defaultSearchEngineRelativePriority</Alias>
      <Definition>cf3511e6-fece-4b34-b80f-1230c2500da7</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Sitemap Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d08ea5ab-c449-49a5-870f-33329c886fa0</Key>
      <Name>Excluded Document Types</Name>
      <Alias>excludedDocumentTypes</Alias>
      <Definition>e277195a-0f9c-4f72-96ad-6b76220f3107</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[List types of content we wish to exclude from the Site Map]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Sitemap Configuration</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Sitemap Configuration</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>