@using HHCoApps.CMSWeb.Services
@using Umbraco.Core.Composing
@model MappedConditionKeyValues
@{
    var productSelectorService = Current.Factory.GetInstance<IProductSelectorService>();
    var validationResponseModel = productSelectorService.ValidateProductSelectorMapping(Model);
}

@{
    if (validationResponseModel.IsMappingValid)
    {
        <div style="color: green">Key <b>@Model.ConditionKey</b> are mapped to <b>@Model.MappedFilterKey</b> and all values are mapped successful!!</div>
    }
    else
    {
        foreach (var validationMessage in validationResponseModel.ValidationMessages)
        {
            <div style="color: red">@validationMessage</div>
        }
    }
}
