@inherits System.Web.Mvc.WebViewPage

<div class="horizontalRule container">
    <div class="row row--container">
        <div class="small-12 columns">
            <hr class="collapse">
        </div>
    </div>
</div>