@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "master.cshtml";
}

<div class="react-app-root" data-page="WishListPage" data-view-mode="WishListDetails"></div>
@section Scripts {
    @Html.Partial("~/views/partials/ReactScripts.cshtml")
}