@inherits Umbraco.Web.Mvc.UmbracoViewPage<NavigationManagement>
@using HHCoApps.CMSWeb.Helpers
@using HHCoApps.CMSWeb.Helpers.Enum
@using HHCoApps.CMSWeb.Services
@using Umbraco.Web.Composing
@using HHCoApps.CMSWeb.Caching

@{
    var menuItemViewModel = Current.Factory.GetInstance<IMenuItemService>().GetViewModel(Model.MainMenu);
    var logoImg = Url.GetCropImageUrl(Model.Logo?.Url(), ImageCropProfile.Logo);

    var umbracoHelper = Current.Factory.GetInstance<UmbracoHelper>();
    var integration = (Integration)umbracoHelper.ContentQuery.ContentSingleFromCache(CachedContent.IntegrationContent);
}

<a href="/" class="logo-header">
    <img src="@(logoImg)">
</a>
<ul class="navbar-nav">
    @foreach (var menuItem in menuItemViewModel.MenuItems)
    {
        <li class="nav-item inline">
            <a class="nav-link-custom" target="@(menuItem.Link?.Target)" href="@(menuItem.Link?.Url)">@(menuItem.Title)</a>
        </li>
    }
</ul>