<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<uSync xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <BackOffice>
        <ExportOnSave xdt:Transform="Replace">False</ExportOnSave>
        <HandlerSets default="default">
            <Handlers Name="default">
                <Handler Alias="mediaHandler" Enabled="false" xdt:Transform="Replace" xdt:Locator="Match(Alias)" />
                <Handler Alias="contentHandler" Enabled="false" xdt:Transform="Replace" xdt:Locator="Match(Alias)" />
            </Handlers>
        </HandlerSets>
    </BackOffice>
</uSync>