<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb729a71-d8cf-4508-8516-10cf4f219890" Alias="Find a stockist" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FindAStockist</Path>
    <Trashed>false</Trashed>
    <ContentType>stores</ContentType>
    <CreateDate>2020-06-23T13:27:53</CreateDate>
    <NodeName Default="Find a stockist" />
    <SortOrder>11</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="4d8f1fe4-b854-4a70-91d6-79013629f48a">storeLocator</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <aPIKey>
      <Value><![CDATA[]]></Value>
    </aPIKey>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[[]]]></Value>
    </bannerTitlePosition>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <defaultCoordinates>
      <Value><![CDATA[-21.1895625,95.4746877]]></Value>
    </defaultCoordinates>
    <defaultCountry>
      <Value><![CDATA[au]]></Value>
    </defaultCountry>
    <defaultZoomLevel>
      <Value><![CDATA[11]]></Value>
    </defaultZoomLevel>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[]]></Value>
    </headerBannerImage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideInSideNavigation>
      <Value><![CDATA[0]]></Value>
    </hideInSideNavigation>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <inheritedSettingsFromParent>
      <Value><![CDATA[1]]></Value>
    </inheritedSettingsFromParent>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <numberOfStoresShown>
      <Value><![CDATA[15]]></Value>
    </numberOfStoresShown>
    <pageTitle>
      <Value><![CDATA[Find a stockist]]></Value>
    </pageTitle>
    <radiusRangeMeters>
      <Value><![CDATA[10000]]></Value>
    </radiusRangeMeters>
    <redirectUrl>
      <Value><![CDATA[[]]]></Value>
    </redirectUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <secondaryTitle>
      <Value><![CDATA[]]></Value>
    </secondaryTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoBreadcrumHide>
      <Value><![CDATA[0]]></Value>
    </umbracoBreadcrumHide>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>