<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb3a48e7-8883-43f1-8aee-764a9d31b93e" Alias="New Project" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewProject</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2020-06-18T15:23:40</CreateDate>
    <NodeName Default="New Project" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="d18c18c3-e4f9-4ea3-9e94-c2f8fdbe5342">gridTemplate</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[[]]]></Value>
    </bannerTitlePosition>
    <blogCategory>
      <Value><![CDATA[[]]]></Value>
    </blogCategory>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "FullWidth",
          "id": "84f0f02f-ccc9-fbb6-1b78-f24acf87cd4d",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "navigationAndBreadcrumbComponent",
                    "value": {
                      "name": "Components",
                      "starterNode": "",
                      "inDepthLevel": [
                        "Level 2"
                      ],
                      "enableNavigation": "1",
                      "enableBreadcrumb": "1"
                    },
                    "id": "0751bd56-6e76-ae8d-8f6f-6ee9c3de94d7"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "2_8_2_Cols",
          "id": "7f1682aa-2bbe-6393-997b-a5d0f49aeea0",
          "areas": [
            {
              "grid": "2",
              "controls": [
                {
                  "value": "",
                  "editor": {
                    "alias": "rte",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [
                {
                  "value": "<h3 class=\"promo-tile__title\" style=\"text-align: center;\">Project name with a long title</h3>\n<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore m do amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore m do eiusmod elit tempor incididunt ut labore agna aliqua.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "2",
              "controls": [
                {
                  "value": "",
                  "editor": {
                    "alias": "rte",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": {},
          "config": {
            "class": "img-sharing"
          }
        },
        {
          "name": "12_cols",
          "id": "63758cff-9bda-7ab2-cd3d-757d8686f5d5",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "itemListing",
                    "value": {
                      "name": "Components",
                      "itemListingLayout": [
                        "Three columns slider"
                      ],
                      "numberOfDisplayItems": "3",
                      "contentSourceOption": [
                        "From Fixed Items"
                      ],
                      "label": "Suggested For You",
                      "caption": "",
                      "starterNode": "",
                      "sortBy": [],
                      "orderType": [],
                      "defaultFilters": [],
                      "contentInfos": [
                        {
                          "key": "f4e98d88-9a17-427f-8a79-b3f0a959f19b",
                          "name": "Title 1",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Title 1",
                          "subTitle": "",
                          "caption": "",
                          "image": "umb://media/4cd8eca135884c4a83d474c4b6bc3d70",
                          "link": []
                        },
                        {
                          "key": "fd45af70-b300-4b8d-b9b4-9e472d85bf7f",
                          "name": "Title 2",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Title 2",
                          "subTitle": "",
                          "caption": "",
                          "image": "umb://media/903e37f7599646c6ba8c4701ff1cd268",
                          "link": []
                        },
                        {
                          "key": "59c5478a-5f61-422c-8518-0186c5c64538",
                          "name": "Item 3",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Title 3",
                          "subTitle": "",
                          "caption": "",
                          "image": "umb://media/b13310327d8d47469bf0e83da53717c5",
                          "link": []
                        }
                      ],
                      "defaultList": "",
                      "viewMoreLabel": "",
                      "viewMoreLink": [],
                      "displayViewMoreAsButton": "0",
                      "fontColour": "",
                      "backgroundColour": ""
                    },
                    "id": "1d99d720-ff1a-e5aa-6004-c3a52e511c09"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <enableShare>
      <Value><![CDATA[0]]></Value>
    </enableShare>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[]]></Value>
    </headerBannerImage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideInSideNavigation>
      <Value><![CDATA[0]]></Value>
    </hideInSideNavigation>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <inheritedSettingsFromParent>
      <Value><![CDATA[1]]></Value>
    </inheritedSettingsFromParent>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[New Project Details]]></Value>
    </pageTitle>
    <redirectUrl>
      <Value><![CDATA[[]]]></Value>
    </redirectUrl>
    <relatedProducts>
      <Value><![CDATA[]]></Value>
    </relatedProducts>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <secondaryTitle>
      <Value><![CDATA[]]></Value>
    </secondaryTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoBreadcrumHide>
      <Value><![CDATA[0]]></Value>
    </umbracoBreadcrumHide>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>