<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7b66ec6-9339-4e48-9f87-13c1326ee389" Alias="New Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewHome</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2020-06-09T10:31:08</CreateDate>
    <NodeName Default="New Home" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="d18c18c3-e4f9-4ea3-9e94-c2f8fdbe5342">gridTemplate</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[[]]]></Value>
    </bannerTitlePosition>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "FullWidth",
          "id": "d44acd33-d402-f774-f8e7-f43b74ebf1a4",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "carouselImage",
                    "value": {
                      "name": "Components",
                      "carouselInfo": [
                        {
                          "key": "9ef19a80-3bb4-4b4b-b7c8-d8c8e10ad4ad",
                          "name": "Caption 01",
                          "ncContentTypeAlias": "carouselInfo",
                          "title": "Caption 01",
                          "caption": "<p>Caption info</p>",
                          "image": "",
                          "link": [
                            {
                              "name": "LINK NAME",
                              "udi": "umb://document/6289fcc574a946b093ac232411ee847b",
                              "url": "/",
                              "icon": "icon-home color-black",
                              "published": true,
                              "trashed": false
                            }
                          ],
                          "titleLabelColor": "",
                          "buttonColor": ""
                        }
                      ],
                      "layout": [
                        "1 column"
                      ],
                      "freezeScrolling": "0"
                    },
                    "id": "f4961f18-2910-4cd0-08c7-1e29a5a48a3e"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "12_cols",
          "id": "871e2145-a527-fb73-17c8-4df18033d6fe",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "itemListing",
                    "value": {
                      "name": "Components",
                      "itemListingLayout": [
                        "Three columns slider - with caption"
                      ],
                      "numberOfDisplayItems": "7",
                      "contentSourceOption": [
                        "From Fixed Items"
                      ],
                      "label": "EXTERIOR PRODUCTS",
                      "caption": "<h3 class=\"h3-normal\">This is the description of listing</h3>\n<p> </p>\n<p>Feast Watson Woodclean is a powerful, oxalic acid-based preparation treatment that aids the removal of oils, mould, stains and tannins from new and weathered timber.</p>",
                      "starterNode": "",
                      "sortBy": [],
                      "orderType": [],
                      "defaultFilters": [],
                      "contentInfos": [
                        {
                          "key": "08a90ff1-d823-42ba-aab7-cdbee366b229",
                          "name": "Product 01",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Product 01",
                          "subTitle": "Sub Product 01",
                          "caption": "Caption Product 01",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "b7c1347e-f794-4e2c-b8ec-aacb506a9d52",
                          "name": "Product 02",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Product 02",
                          "subTitle": "Sub Product 02",
                          "caption": "Caption Product 02",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "6103480f-08cf-414f-b379-a5b398f754d8",
                          "name": "Product 03",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Product 03",
                          "subTitle": "Sub Product 03",
                          "caption": "Caption Product 03",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "c5dc5ceb-aab6-4701-a0c3-1f199c3eecc0",
                          "name": "Product 04",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Product 04",
                          "subTitle": "Sub Product 04",
                          "caption": "Caption Product 04",
                          "image": "",
                          "link": []
                        }
                      ],
                      "defaultList": "",
                      "viewMoreLabel": "VIEW ALL",
                      "viewMoreLink": [
                        {
                          "name": "Home",
                          "udi": "umb://document/6289fcc574a946b093ac232411ee847b",
                          "url": "/",
                          "icon": "icon-home color-black",
                          "published": true,
                          "trashed": false
                        }
                      ],
                      "displayViewMoreAsButton": "0",
                      "fontColour": "",
                      "backgroundColour": ""
                    },
                    "id": "21ef7b9e-ebbd-1741-fb1a-0b436a6e4c0f"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "itemListing",
                    "value": {
                      "name": "Components",
                      "itemListingLayout": [
                        "Three columns slider - with caption"
                      ],
                      "numberOfDisplayItems": "10",
                      "contentSourceOption": [
                        "From Fixed Items"
                      ],
                      "label": "INTERIOR PRODUCTS",
                      "caption": "<h3 class=\"h3-normal\">This is the description of listing</h3>\n<p> </p>\n<p>Feast Watson Woodclean is a powerful, oxalic acid-based preparation treatment that aids the removal of oils, mould, stains and tannins from new and weathered timber.</p>",
                      "starterNode": "",
                      "sortBy": [],
                      "orderType": [],
                      "defaultFilters": [],
                      "contentInfos": [
                        {
                          "key": "79db0602-8f5a-433f-b841-c15feec3051b",
                          "name": "Product 01",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Product 01",
                          "subTitle": "Sub Product 01",
                          "caption": "Caption Product 01",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "8949dc87-e620-4c23-98a6-5c60139c73ed",
                          "name": "Product 02",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Product 02",
                          "subTitle": "Sub Product 02",
                          "caption": "Caption Product 02",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "0f8b9428-ca89-4127-be8a-b9073918313b",
                          "name": "Product 03",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Product 03",
                          "subTitle": "Sub Product 03",
                          "caption": "Caption Product 03",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "c578f499-bd32-495d-b87d-48fe61961b8b",
                          "name": "Product 04",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Product 04",
                          "subTitle": "Sub Product 04",
                          "caption": "Caption Product 04",
                          "image": "",
                          "link": []
                        }
                      ],
                      "defaultList": "",
                      "viewMoreLabel": "VIEW ALL",
                      "viewMoreLink": [
                        {
                          "name": "Home",
                          "udi": "umb://document/6289fcc574a946b093ac232411ee847b",
                          "url": "/",
                          "icon": "icon-home color-black",
                          "published": true,
                          "trashed": false
                        }
                      ],
                      "displayViewMoreAsButton": "0",
                      "fontColour": "",
                      "backgroundColour": ""
                    },
                    "id": "d674c453-9997-f253-317b-aa55df06b4cc"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "FullWidth",
          "id": "2d21183b-f026-20dc-86a8-2d2e110c955e",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "bannerComponent",
                    "value": {
                      "name": "Components",
                      "captionTitle": "Caption Title",
                      "caption": "<p>Description of caption</p>",
                      "titleColor": "",
                      "backgroundColor": "",
                      "leftLinkTitle": "Left Title Name",
                      "leftImage": "",
                      "leftLink": [
                        {
                          "name": "Left Title Link",
                          "url": "/",
                          "icon": "icon-home color-black",
                          "published": true,
                          "udi": "umb://document/6289fcc574a946b093ac232411ee847b",
                          "trashed": false
                        }
                      ],
                      "rightLinkTitle": "Right Title Name",
                      "rightImage": "",
                      "rightLink": [
                        {
                          "name": "Right Title Link",
                          "url": "/",
                          "icon": "icon-home color-black",
                          "published": true,
                          "udi": "umb://document/6289fcc574a946b093ac232411ee847b",
                          "trashed": false
                        }
                      ]
                    },
                    "id": "487ad02a-cc73-f73d-1f0e-85959b196479"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "galleryComponent",
                    "value": {
                      "name": "Components",
                      "label": "Get Inspired",
                      "contentSourceOption": [
                        "From Fixed Items"
                      ],
                      "numberOfRows": "2",
                      "starterNode": "",
                      "fixedItems": [
                        {
                          "key": "6477842e-6ab5-40e9-8ba9-e81959ed5d25",
                          "name": "Item 01",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 01",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "21e8c188-0639-4c0b-995d-91dd8dc0ca74",
                          "name": "Item 02",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 02",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "ee9dd0e3-a9dd-446c-9e6f-0f1b35422105",
                          "name": "Item 03",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 03",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "8671281c-aa76-4e58-b5de-41e31e7c347a",
                          "name": "Item 04",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 04",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "27c1d22d-5817-4c8c-a85b-e4734b829aef",
                          "name": "Item 05",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 05",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "c2627b0d-4ba9-427c-84c5-d3b240ecc69d",
                          "name": "Item 06",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 06",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "38aa47da-f8fc-49d3-ae7f-2dc69636aa91",
                          "name": "Item 07",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 07",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "6433cb8f-327e-48b9-b924-39fc6a7126d9",
                          "name": "Item 08",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 08",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "a5b9e58d-f232-4a0e-9f83-da1271e9ff94",
                          "name": "Item 09",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 09",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "f1bd0920-2ad5-4f7d-8abc-58c03f4c3e64",
                          "name": "Item 10",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 10",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        }
                      ],
                      "viewMoreLabel": "VIEW MORE",
                      "viewMoreLink": [
                        {
                          "name": "Home",
                          "udi": "umb://document/6289fcc574a946b093ac232411ee847b",
                          "url": "/",
                          "icon": "icon-home color-black",
                          "published": true,
                          "trashed": false
                        }
                      ]
                    },
                    "id": "bdf5d77e-0ed6-0481-9f9f-c20842306249"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "id": 1357,
                    "udi": "umb://media/c81ea80741454fb7bec6628908c96774",
                    "image": "/media/agub3scf/footer_banner.png"
                  },
                  "editor": {
                    "alias": "media",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <enableShare>
      <Value><![CDATA[1]]></Value>
    </enableShare>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[]]></Value>
    </headerBannerImage>
  </Properties>
</Content>