<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad4ec00b-3fb2-4ffb-aab9-875ea53320e1" Alias="New Get The Look Category" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewGetTheLookCategory</Path>
    <Trashed>false</Trashed>
    <ContentType>articles</ContentType>
    <CreateDate>2020-06-22T09:40:42</CreateDate>
    <NodeName Default="New Get The Look Category" />
    <SortOrder>10</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[[]]]></Value>
    </bannerTitlePosition>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "FullWidth",
          "id": "2fd1428d-b987-dc86-b3a7-e75d8ac9b165",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "navigationAndBreadcrumbComponent",
                    "value": {
                      "name": "Components",
                      "starterNode": "",
                      "inDepthLevel": [
                        "Level 2"
                      ],
                      "enableNavigation": "1",
                      "enableBreadcrumb": "1"
                    },
                    "id": "0e78f126-ee1a-5a29-9dce-ddb50447a050"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "12_cols",
          "id": "23a8b468-0540-df98-902b-2468fe6427c9",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "responsiveItemListing",
                    "value": {
                      "name": "Components",
                      "layoutPicker": [
                        "Three Columns With Attributes"
                      ],
                      "numberItemsPerPage": "",
                      "sortType": [
                        "Title"
                      ],
                      "sortOrderBy": [
                        "Ascending"
                      ],
                      "starterNode": "",
                      "additionalItems": "",
                      "defaultFilters": [],
                      "enableFilter": "0",
                      "filteringBy": [],
                      "filteringConfiguration": "",
                      "viewMoreLabel": "",
                      "viewDetailsLabel": ""
                    },
                    "id": "d596ca48-875d-b3d0-0ae8-2219ae6acdf6"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[]]></Value>
    </headerBannerImage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideInSideNavigation>
      <Value><![CDATA[0]]></Value>
    </hideInSideNavigation>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <inheritedSettingsFromParent>
      <Value><![CDATA[1]]></Value>
    </inheritedSettingsFromParent>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[New Get The Look Category]]></Value>
    </pageTitle>
    <redirectUrl>
      <Value><![CDATA[[]]]></Value>
    </redirectUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <secondaryTitle>
      <Value><![CDATA[]]></Value>
    </secondaryTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoBreadcrumHide>
      <Value><![CDATA[0]]></Value>
    </umbracoBreadcrumHide>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>