<?xml version="1.0" encoding="utf-8"?>
<Content Key="1eabf3c7-4ef6-43b1-b968-3baa1bdbe129" Alias="New Get The Look" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewGetTheLook</Path>
    <Trashed>false</Trashed>
    <ContentType>articles</ContentType>
    <CreateDate>2020-06-18T14:21:15</CreateDate>
    <NodeName Default="New Get The Look" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[[]]]></Value>
    </bannerTitlePosition>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "FullWidth",
          "id": "469d8525-b878-be38-566e-895e5c889492",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "carouselImage",
                    "value": {
                      "name": "Components",
                      "carouselInfo": [
                        {
                          "key": "9aeedd54-0c91-421a-8e3d-e57e4cbebe21",
                          "name": "Item 1",
                          "ncContentTypeAlias": "carouselInfo",
                          "caption": "<h2>Exterior Inspiration</h2>",
                          "image": "",
                          "link": [
                            {
                              "name": "Get inspired",
                              "udi": "umb://document/c270f88fe226440b8b2df348bf62d706",
                              "url": "/new-home/",
                              "icon": "icon-home color-black",
                              "published": true,
                              "trashed": false
                            }
                          ],
                          "titleLabelColor": "",
                          "buttonColor": "",
                          "captionColor": ""
                        },
                        {
                          "key": "637dff2e-4e04-46c8-a4f0-ebeba3e58844",
                          "name": "Item 2",
                          "ncContentTypeAlias": "carouselInfo",
                          "caption": "<h2>Interior Inspiration</h2>",
                          "image": "",
                          "link": [
                            {
                              "name": "Get inspired",
                              "udi": "umb://document/c270f88fe226440b8b2df348bf62d706",
                              "url": "/new-home/",
                              "icon": "icon-home color-black",
                              "published": true,
                              "trashed": false
                            }
                          ],
                          "titleLabelColor": "",
                          "buttonColor": "",
                          "captionColor": ""
                        }
                      ],
                      "layout": [
                        "2 columns"
                      ],
                      "freezeScrolling": "0",
                      "autoPlay": "0",
                      "duration": ""
                    },
                    "id": "a22ac305-7c1b-952c-bf2d-525144f91237"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "FullWidth_6_6_cols",
          "id": "54abe2ef-5dbf-c87e-d4d8-9464cdec07c2",
          "areas": [
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "itemListing",
                    "value": {
                      "name": "Components",
                      "itemListingLayout": [
                        "One column slider"
                      ],
                      "numberOfDisplayItems": "3",
                      "contentSourceOption": [
                        "From Fixed Items"
                      ],
                      "label": "Label",
                      "caption": "<p>Caption</p>",
                      "starterNode": "",
                      "sortBy": [],
                      "orderType": [],
                      "defaultFilters": [],
                      "contentInfos": [
                        {
                          "key": "6194c17f-82a0-4338-af55-c322864ff81f",
                          "name": "Item 01",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 01",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "750d0ffd-bdca-46ee-8ec5-7ca06b2d81d0",
                          "name": "Item 02",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 02",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "2246a334-316f-4ae0-a90c-999496692dab",
                          "name": "Item 03",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 03",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        }
                      ],
                      "defaultList": "",
                      "viewMoreLabel": "",
                      "viewMoreLink": [],
                      "displayViewMoreAsButton": "0",
                      "fontColour": "",
                      "backgroundColour": ""
                    },
                    "id": "232fce92-19a0-e092-72bb-aec0888421f7"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "itemListing",
                    "value": {
                      "name": "Components",
                      "itemListingLayout": [
                        "One column slider"
                      ],
                      "numberOfDisplayItems": "3",
                      "contentSourceOption": [
                        "From Fixed Items"
                      ],
                      "label": "Label",
                      "caption": "<p>Caption</p>",
                      "starterNode": "",
                      "sortBy": [],
                      "orderType": [],
                      "defaultFilters": [],
                      "contentInfos": [
                        {
                          "key": "905b2431-d1a8-4a58-9271-e2871f35d48e",
                          "name": "Item 01",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 01",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "32e34204-d5fe-4c04-8eff-21289d7e1c6d",
                          "name": "Item 02",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 02",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "c8b4abd1-3f09-4bae-ba7b-ea3b983939e1",
                          "name": "Item 03",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 03",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        }
                      ],
                      "defaultList": "",
                      "viewMoreLabel": "",
                      "viewMoreLink": [],
                      "displayViewMoreAsButton": "0",
                      "fontColour": "",
                      "backgroundColour": ""
                    },
                    "id": "3952f4b2-8fae-9e2f-a3a5-53271035e304"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[]]></Value>
    </headerBannerImage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <inheritedSettingsFromParent>
      <Value><![CDATA[1]]></Value>
    </inheritedSettingsFromParent>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[New Get The Look]]></Value>
    </pageTitle>
    <redirectUrl>
      <Value><![CDATA[[]]]></Value>
    </redirectUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <secondaryTitle>
      <Value><![CDATA[]]></Value>
    </secondaryTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoBreadcrumHide>
      <Value><![CDATA[0]]></Value>
    </umbracoBreadcrumHide>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>