<?xml version="1.0" encoding="utf-8"?>
<Content Key="fb40029f-4138-4d75-aac1-1668b38de1eb" Alias="New About Us" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewAboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2020-06-24T17:04:57</CreateDate>
    <NodeName Default="New About Us" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="d18c18c3-e4f9-4ea3-9e94-c2f8fdbe5342">gridTemplate</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[[]]]></Value>
    </bannerTitlePosition>
    <blogCategory>
      <Value><![CDATA[[]]]></Value>
    </blogCategory>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "12_cols",
          "id": "43461ebc-f992-53a6-f8ca-936d8ad75383",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<h1 class=\"h1-normal\">About Us</h1>\n<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "heroBanner",
                    "value": {
                      "name": "Components",
                      "label": "This is hero banner title",
                      "description": "<p>This is hero banner description</p>",
                      "image": "",
                      "imageOnTheLeft": "0",
                      "goToLink": [],
                      "titleColour": ""
                    },
                    "id": "8d816c4e-827e-c2f9-2e2d-fc43c73c85ea"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                  "editor": {
                    "alias": "quote",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "heroBanner",
                    "value": {
                      "name": "Components",
                      "label": "This is hero banner title",
                      "description": "<p>This is hero banner description</p>",
                      "image": "",
                      "imageOnTheLeft": "1",
                      "goToLink": [],
                      "titleColour": ""
                    },
                    "id": "6eb10ef4-8a69-3802-3bf9-e978b357677b"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
                  "editor": {
                    "alias": "quote",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "heroBanner",
                    "value": {
                      "name": "Components",
                      "label": "This is hero banner title",
                      "description": "<p>This is hero banner description</p>\n<div id=\"gtx-trans\" style=\"position: absolute; left: 149px; top: 32px;\">\n<div class=\"gtx-trans-icon\"></div>\n</div>",
                      "image": "",
                      "imageOnTheLeft": "0",
                      "goToLink": [],
                      "titleColour": ""
                    },
                    "id": "c3864e2c-eb31-b05a-8242-3e265e2ec132"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[]]></Value>
    </headerBannerImage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <inheritedSettingsFromParent>
      <Value><![CDATA[1]]></Value>
    </inheritedSettingsFromParent>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[New About Us]]></Value>
    </pageTitle>
    <redirectUrl>
      <Value><![CDATA[[]]]></Value>
    </redirectUrl>
    <relatedProducts>
      <Value><![CDATA[]]></Value>
    </relatedProducts>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <secondaryTitle>
      <Value><![CDATA[]]></Value>
    </secondaryTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoBreadcrumHide>
      <Value><![CDATA[0]]></Value>
    </umbracoBreadcrumHide>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>