<?xml version="1.0" encoding="utf-8"?>
<Content Key="199e3ed1-351c-44b1-9659-793380cca2f3" Alias="New Blog" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewBlog</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2020-06-18T10:01:45</CreateDate>
    <NodeName Default="New Blog" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="d18c18c3-e4f9-4ea3-9e94-c2f8fdbe5342">gridTemplate</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[[]]]></Value>
    </bannerTitlePosition>
    <blogCategory>
      <Value><![CDATA[["Indoor"]]]></Value>
    </blogCategory>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "FullWidth",
          "id": "5ba2828f-d8e3-e132-8612-dcde73dc739f",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "navigationAndBreadcrumbComponent",
                    "value": {
                      "name": "Components",
                      "starterNode": "",
                      "inDepthLevel": [],
                      "enableNavigation": "0",
                      "enableBreadcrumb": "0"
                    },
                    "id": "9ede7f35-f707-3157-ebbf-925d7dc0ac26"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "2_8_2_Cols",
          "id": "d5533c78-1d8d-d67a-72c1-fd0788fd9fea",
          "areas": [
            {
              "grid": "2",
              "controls": [],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [
                {
                  "value": "",
                  "editor": {
                    "alias": "rte",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            },
            {
              "grid": "2",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": {},
          "config": {
            "class": "img-sharing"
          }
        },
        {
          "name": "12_cols",
          "id": "f7aff368-4f0f-ef90-de15-ae0bd7b21c13",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "itemListing",
                    "value": {
                      "name": "Components",
                      "itemListingLayout": [
                        "Three columns slider - center aligned"
                      ],
                      "numberOfDisplayItems": "",
                      "contentSourceOption": [
                        "From Fixed Items"
                      ],
                      "label": "Suggested Products",
                      "caption": "",
                      "starterNode": "",
                      "sortBy": [],
                      "orderType": [],
                      "defaultFilters": [],
                      "contentInfos": [
                        {
                          "key": "5dbafbb1-c8f1-4e08-9fd1-4453bd0027f8",
                          "name": "Item 1",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 1",
                          "subTitle": "Item 1",
                          "caption": "Item 1",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "85d23e3f-7ab9-4548-ba74-94b200ee3677",
                          "name": "Item 2",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 2",
                          "subTitle": "Item 2",
                          "caption": "Item 2",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "e19c182c-2ce9-4de4-99b4-5e2ca2a75b63",
                          "name": "Item 3",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 3",
                          "subTitle": "Item 3",
                          "caption": "Item 3",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "a4480385-1d21-46bd-9b8a-bb871db8ab9b",
                          "name": "Item 4",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 4",
                          "subTitle": "Item 4",
                          "caption": "Item 4",
                          "image": "",
                          "link": []
                        }
                      ],
                      "defaultList": "",
                      "viewMoreLabel": "",
                      "viewMoreLink": [],
                      "displayViewMoreAsButton": "0",
                      "fontColour": "",
                      "backgroundColour": ""
                    },
                    "id": "0fc63f0f-875c-57c6-79c0-7c9c37e647bc"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "12_cols",
          "id": "898a5803-bec0-46d7-ed01-3964541034d0",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "itemListing",
                    "value": {
                      "name": "Components",
                      "itemListingLayout": [
                        "Three columns slider"
                      ],
                      "numberOfDisplayItems": "",
                      "contentSourceOption": [
                        "From Fixed Items"
                      ],
                      "label": "Suggested For You",
                      "caption": "",
                      "starterNode": "",
                      "sortBy": [],
                      "orderType": [],
                      "defaultFilters": [],
                      "contentInfos": [
                        {
                          "key": "9b973e53-42b5-4ecd-9d38-52a19a28c8f1",
                          "name": "Item 1",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 1",
                          "subTitle": "Item 1",
                          "caption": "Item 1",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "ad3a3880-03a4-4005-863a-3d7ad1c00dd0",
                          "name": "Item 2",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 2",
                          "subTitle": "Item 2",
                          "caption": "Item 2",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "82f38104-c642-442f-bceb-f37eb036ad8d",
                          "name": "Item 3",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 3",
                          "subTitle": "Item 3",
                          "caption": "Item 3",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "8b07542c-951d-40c7-ae1b-9b1e0c099dc5",
                          "name": "Item 4",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 4",
                          "subTitle": "Item 4",
                          "caption": "Item 4",
                          "image": "",
                          "link": []
                        }
                      ],
                      "defaultList": "",
                      "viewMoreLabel": "",
                      "viewMoreLink": [],
                      "displayViewMoreAsButton": "0",
                      "fontColour": "",
                      "backgroundColour": ""
                    },
                    "id": "0570801f-83f3-e9e9-e8cd-6d2de8052150"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "12_cols",
          "id": "f8d87911-10a5-2133-657e-dd88ff42eb9b",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "footerNavigationComponent",
                    "value": {
                      "name": "Components",
                      "info": ""
                    },
                    "id": "84c8a39a-aa50-d0f5-60c2-5e6b22bc6f07"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <enableShare>
      <Value><![CDATA[0]]></Value>
    </enableShare>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[]]></Value>
    </headerBannerImage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <inheritedSettingsFromParent>
      <Value><![CDATA[1]]></Value>
    </inheritedSettingsFromParent>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[New Blog]]></Value>
    </pageTitle>
    <redirectUrl>
      <Value><![CDATA[[]]]></Value>
    </redirectUrl>
    <relatedProducts>
      <Value><![CDATA[]]></Value>
    </relatedProducts>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <secondaryTitle>
      <Value><![CDATA[]]></Value>
    </secondaryTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoBreadcrumHide>
      <Value><![CDATA[0]]></Value>
    </umbracoBreadcrumHide>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>