<?xml version="1.0" encoding="utf-8"?>
<Content Key="14c19409-80b2-4257-886b-cc92a7fd401b" Alias="New Inspiration Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewInspirationPage</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2020-06-18T10:18:56</CreateDate>
    <NodeName Default="New Inspiration Page" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="d18c18c3-e4f9-4ea3-9e94-c2f8fdbe5342">gridTemplate</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[[]]]></Value>
    </bannerTitlePosition>
    <blogCategory>
      <Value><![CDATA[[]]]></Value>
    </blogCategory>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "FullWidth",
          "id": "920276c6-a6ed-cb5d-7142-d0b23948f96e",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "navigationAndBreadcrumbComponent",
                    "value": {
                      "name": "Components",
                      "starterNode": "",
                      "inDepthLevel": [
                        "Level 2"
                      ],
                      "enableNavigation": "1",
                      "enableBreadcrumb": "1"
                    },
                    "id": "e0120358-16b3-c8d8-2a60-784bacf6825c"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "2_8_2_Cols",
          "id": "da692c2e-03a1-fb72-ae94-5f7ea025f13c",
          "areas": [
            {
              "grid": "2",
              "controls": [],
              "styles": null,
              "config": null
            },
            {
              "grid": "8",
              "controls": [
                {
                  "value": "<h2>Caption</h2>\n<p>Description</p>",
                  "editor": {
                    "alias": "rte",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "relatedProductComponent",
                    "value": {
                      "name": "Components",
                      "labelName": ""
                    },
                    "id": "362aa627-e6eb-3174-e64b-bc65baa47423"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": {},
              "config": {
                "class": "img-sharing"
              }
            },
            {
              "grid": "2",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": {},
          "config": {}
        },
        {
          "name": "6_6_cols",
          "id": "ce156b60-0cc3-8a2b-760b-471b11bf65a2",
          "areas": [
            {
              "grid": "6",
              "controls": [],
              "styles": null,
              "config": null
            },
            {
              "grid": "6",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "12_cols",
          "id": "ee647437-df04-840f-25eb-34e107e33d29",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "itemListing",
                    "value": {
                      "name": "Components",
                      "itemListingLayout": [
                        "Three columns slider - centered aligned"
                      ],
                      "numberOfDisplayItems": "3",
                      "contentSourceOption": [
                        "From Fixed Items"
                      ],
                      "label": "",
                      "caption": "",
                      "starterNode": "",
                      "sortBy": [],
                      "orderType": [],
                      "defaultFilters": [],
                      "contentInfos": [
                        {
                          "key": "941eb137-76ff-4e61-b0da-ba7fb28c1e52",
                          "name": "Item 01",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 01",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "48f08a23-4935-4d01-8291-85f29ee1a0e1",
                          "name": "Item 02",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 02",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        },
                        {
                          "key": "63f9791d-fe4d-44f1-a4c3-103dc88d7a05",
                          "name": "Item 03",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Item 03",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": []
                        }
                      ],
                      "defaultList": "",
                      "viewMoreLabel": "",
                      "viewMoreLink": [],
                      "displayViewMoreAsButton": "0",
                      "fontColour": "",
                      "backgroundColour": ""
                    },
                    "id": "4b6ec770-7fdd-6ab5-0d41-9691e6c618a5"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <enableShare>
      <Value><![CDATA[0]]></Value>
    </enableShare>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[]]></Value>
    </headerBannerImage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideInSideNavigation>
      <Value><![CDATA[0]]></Value>
    </hideInSideNavigation>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <inheritedSettingsFromParent>
      <Value><![CDATA[1]]></Value>
    </inheritedSettingsFromParent>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[New Inspiration Page]]></Value>
    </pageTitle>
    <redirectUrl>
      <Value><![CDATA[[]]]></Value>
    </redirectUrl>
    <relatedProducts>
      <Value><![CDATA[]]></Value>
    </relatedProducts>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <secondaryTitle>
      <Value><![CDATA[]]></Value>
    </secondaryTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoBreadcrumHide>
      <Value><![CDATA[0]]></Value>
    </umbracoBreadcrumHide>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>