<?xml version="1.0" encoding="utf-8"?>
<Content Key="269407c3-5071-46d6-8c25-08b6ea835d8f" Alias="New Blogs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NewBlogs</Path>
    <Trashed>false</Trashed>
    <ContentType>articles</ContentType>
    <CreateDate>2020-06-16T11:40:33</CreateDate>
    <NodeName Default="New Blogs" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[[]]]></Value>
    </bannerTitlePosition>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "FullWidth",
          "id": "9f411e86-9eaa-7d60-c2b8-c97da0645929",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "navigationAndBreadcrumbComponent",
                    "value": {
                      "name": "Components",
                      "starterNode": "",
                      "inDepthLevel": [
                        "Level 2"
                      ],
                      "enableNavigation": "1",
                      "enableBreadcrumb": "1"
                    },
                    "id": "eac761f2-e7ea-fc2a-6e85-bfcf14573b40"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "12_cols",
          "id": "ec2e4478-e890-98a5-cf8b-ad05752df746",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "responsiveItemListing",
                    "value": {
                      "name": "Components",
                      "layoutPicker": [
                        "Three Columns With Flexible Height Items"
                      ],
                      "numberItemsPerPage": "15",
                      "sortType": [],
                      "sortOrderBy": [],
                      "starterNode": "",
                      "additionalItems": "",
                      "defaultFilters": [],
                      "enableFilter": "1",
                      "filteringBy": [
                        "Blog Category"
                      ],
                      "filteringConfiguration": "",
                      "viewMoreLabel": "LOAD MORE POSTS",
                      "viewDetailsLabel": ""
                    },
                    "id": "e1e6543e-72d7-9d36-17fa-f8e66443ff9d"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": null
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[]]></Value>
    </headerBannerImage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <hideInSideNavigation>
      <Value><![CDATA[0]]></Value>
    </hideInSideNavigation>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <inheritedSettingsFromParent>
      <Value><![CDATA[1]]></Value>
    </inheritedSettingsFromParent>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[New Blogs]]></Value>
    </pageTitle>
    <redirectUrl>
      <Value><![CDATA[[]]]></Value>
    </redirectUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <secondaryTitle>
      <Value><![CDATA[]]></Value>
    </secondaryTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoBreadcrumHide>
      <Value><![CDATA[0]]></Value>
    </umbracoBreadcrumHide>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>