<?xml version="1.0" encoding="utf-8"?>
<Content Key="c472cfae-5c1d-4125-8dca-28f04e80ea72" Alias="ABC Product" Level="4">
  <Info>
    <Parent Key="d1589081-8265-4f12-abd7-7bfde22afcbf">Products 1</Parent>
    <Path>/Home/TESTPRODUCTS/Products1/ABCProduct</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2020-06-09T08:56:55</CreateDate>
    <NodeName Default="ABC Product" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d18c18c3-e4f9-4ea3-9e94-c2f8fdbe5342">gridTemplate</Template>
  </Info>
  <Properties>
    <alphabeticalName>
      <Value><![CDATA[]]></Value>
    </alphabeticalName>
    <availableSizes>
      <Value><![CDATA[]]></Value>
    </availableSizes>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[]]></Value>
    </bannerTitlePosition>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[This is the description for ABC Product]]></Value>
    </description>
    <enableBanner>
      <Value><![CDATA[]]></Value>
    </enableBanner>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[]]></Value>
    </headerBannerImage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <images>
      <Value><![CDATA[umb://media/505e65f145e34334a29773aa5997cf16,umb://media/07d3324d09714b9b923f0b93f2f2a12e]]></Value>
    </images>
    <inheritedSettingsFromParent>
      <Value><![CDATA[1]]></Value>
    </inheritedSettingsFromParent>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[ABC Product]]></Value>
    </pageTitle>
    <productSubCategory>
      <Value><![CDATA[]]></Value>
    </productSubCategory>
    <redirectUrl>
      <Value><![CDATA[[]]]></Value>
    </redirectUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <secondaryTitle>
      <Value><![CDATA[]]></Value>
    </secondaryTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
    <tabs>
      <Value><![CDATA[]]></Value>
    </tabs>
    <umbracoBreadcrumHide>
      <Value><![CDATA[0]]></Value>
    </umbracoBreadcrumHide>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>