<?xml version="1.0" encoding="utf-8"?>
<Content Key="abed9dc2-0b0f-46ce-926b-095121148639" Alias="AddThisSample" Level="2">
  <Info>
    <Parent Key="85287135-7fbe-4c43-934a-593649784578">Home</Parent>
    <Path>/Home/AddThisSample</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPage</ContentType>
    <CreateDate>2020-06-03T03:15:48</CreateDate>
    <NodeName Default="AddThisSample" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9f7ff7d3-e9c1-4b2c-83d6-2abfb1fb0c61">addThisTemplate</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[]]></Value>
    </bannerTitlePosition>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "12_cols",
          "id": "4b316628-4c28-5b6c-3bf2-33ded3d5c467",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.4863013698630137,
                      "top": 0.434703196347032
                    },
                    "id": 1208,
                    "udi": "umb://media/9d536b7c3efa41689b3a24c815f50eaa",
                    "image": "/media/pjvfhhp0/mpp8677-jpg.jpeg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "id": 1207,
                    "udi": "umb://media/37f993b9a1b64f63803a1858cd15ede8",
                    "image": "/media/x4jpsn3w/24258-feast-watson-wet-look-deck-4l-jpg-1.jpeg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <enableBanner>
      <Value><![CDATA[]]></Value>
    </enableBanner>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[]]></Value>
    </headerBannerImage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <inheritedSettingsFromParent>
      <Value><![CDATA[1]]></Value>
    </inheritedSettingsFromParent>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[AddThisSample]]></Value>
    </pageTitle>
    <redirectUrl>
      <Value><![CDATA[[]]]></Value>
    </redirectUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <secondaryTitle>
      <Value><![CDATA[]]></Value>
    </secondaryTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoBreadcrumHide>
      <Value><![CDATA[0]]></Value>
    </umbracoBreadcrumHide>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>