<?xml version="1.0" encoding="utf-8"?>
<Content Key="0913fcea-1b5e-4645-a04c-64e78317bb7e" Alias="DET-4092" Level="2">
  <Info>
    <Parent Key="85287135-7fbe-4c43-934a-593649784578">Home</Parent>
    <Path>/Home/DET4092</Path>
    <Trashed>false</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2020-06-11T02:55:07</CreateDate>
    <NodeName Default="DET-4092" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[Products]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[["Left"]]]></Value>
    </bannerTitlePosition>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "12_cols",
          "id": "9efaac5d-8a84-fefe-525f-c36c6d21af9b",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "productSummary",
                    "value": {
                      "name": "Components",
                      "title": "Water Resistant, Paint Surface",
                      "downloadLinks": [
                        {
                          "name": "Home",
                          "udi": "umb://document/852871357fbe4c43934a593649784578",
                          "url": "/",
                          "icon": "icon-home color-black",
                          "published": true,
                          "trashed": false
                        },
                        {
                          "name": "Home",
                          "udi": "umb://document/852871357fbe4c43934a593649784578",
                          "url": "/",
                          "icon": "icon-home color-black",
                          "published": true,
                          "trashed": false
                        }
                      ],
                      "addToWishListEnabled": "1",
                      "findAStockist": "1"
                    },
                    "id": "1cf978e8-545e-c290-2bc7-794b70cdf748"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <enableBanner>
      <Value><![CDATA[]]></Value>
    </enableBanner>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[umb://media/e591071c2cf240928296c1a5b3946fd5]]></Value>
    </headerBannerImage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <images>
      <Value><![CDATA[umb://media/e06f31f0367040368dfc38053b445b1b,umb://media/aea495a90eff4e67a8db30717815a45c,umb://media/8a55ae1fe7894c699f10ba15e74ad99d,umb://media/9a7113ea68fc47af804ad506e0cd9287]]></Value>
    </images>
    <inheritedSettingsFromParent>
      <Value><![CDATA[1]]></Value>
    </inheritedSettingsFromParent>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[DET-4092]]></Value>
    </pageTitle>
    <redirectUrl>
      <Value><![CDATA[[]]]></Value>
    </redirectUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <secondaryTitle>
      <Value><![CDATA[]]></Value>
    </secondaryTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoBreadcrumHide>
      <Value><![CDATA[0]]></Value>
    </umbracoBreadcrumHide>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>