<?xml version="1.0" encoding="utf-8"?>
<Content Key="50fa1a52-3787-4103-bafb-388af6f613ed" Alias="Global Filter List" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalFilterList</Path>
    <Trashed>false</Trashed>
    <ContentType>filterConfigurations</ContentType>
    <CreateDate>2020-06-08T08:55:05</CreateDate>
    <NodeName Default="Global Filter List" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>