<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b0a16f5-0c24-44a7-a954-50e9a78ec321" Alias="Global Timber List" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalTimberList</Path>
    <Trashed>false</Trashed>
    <ContentType>globalTimberList</ContentType>
    <CreateDate>2020-06-04T07:49:44</CreateDate>
    <NodeName Default="Global Timber List" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <timbers>
      <Value><![CDATA[[{"key":"b426962e-915e-4165-ac64-fb223a2e50dc","name":"Item 1","ncContentTypeAlias":"timber","timberName":"","timberImage":""}]]]></Value>
    </timbers>
  </Properties>
</Content>