<?xml version="1.0" encoding="utf-8"?>
<Content Key="afaf9212-125e-4e82-8dc7-0d25f676eb38" Alias="Global colours" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalColours</Path>
    <Trashed>false</Trashed>
    <ContentType>globalColourList</ContentType>
    <CreateDate>2020-06-19T10:19:41</CreateDate>
    <NodeName Default="Global colours" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>