<?xml version="1.0" encoding="utf-8"?>
<Content Key="28b1c1a5-0d11-454c-be1d-6e11b523ebc2" Alias="Global timbers" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalTimbers</Path>
    <Trashed>false</Trashed>
    <ContentType>globalTimberList</ContentType>
    <CreateDate>2020-06-19T10:20:12</CreateDate>
    <NodeName Default="Global timbers" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>