<?xml version="1.0" encoding="utf-8"?>
<Content Key="85287135-7fbe-4c43-934a-593649784578" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2020-05-28T16:00:56</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d18c18c3-e4f9-4ea3-9e94-c2f8fdbe5342">gridTemplate</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "FullWidth",
          "id": "e979539b-97c3-0869-9648-4eb9b059a699",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "carouselImage",
                    "value": {
                      "name": "Components",
                      "carouselInfo": [
                        {
                          "key": "24297cd0-c289-4e38-b812-8b4e6791cc36",
                          "name": "Item 1",
                          "ncContentTypeAlias": "carouselInfo",
                          "caption": "<p>What style are you?</p>",
                          "image": "umb://media/f326e8dad7784acba341243a284e9b8f",
                          "link": [
                            {
                              "name": "DOWN A FREE LAPTOP TABLE HOW TO GUIDE",
                              "url": "https://google.com",
                              "icon": "icon-link",
                              "published": true,
                              "target": "_blank"
                            }
                          ],
                          "titleLabelColor": "",
                          "buttonColor": "",
                          "captionColor": ""
                        }
                      ],
                      "layout": [
                        "1 column"
                      ],
                      "freezeScrolling": "0"
                    },
                    "id": "726d6abe-b304-09f5-15ba-c18febc04d2d"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "12_cols",
          "id": "1b1ab28b-01c5-4294-f293-98cf905bf105",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "itemListing",
                    "value": {
                      "name": "Components",
                      "itemListingLayout": [
                        "Three columns slider - with caption"
                      ],
                      "numberOfDisplayItems": "",
                      "contentSourceOption": [
                        "From Child Pages"
                      ],
                      "label": "OUTDOOR PRODUCTS",
                      "caption": "<h3>A beautiful and unique range of outdoor timber coatings.</h3>\n<p> </p>\n<p>Timber care products to style and protect your exterior timber furniture, decking and outdoor timber.</p>",
                      "starterNode": "umb://document/1b336c779fa44ed496671d3111d3ef12",
                      "sortBy": [],
                      "orderType": [],
                      "defaultFilters": [],
                      "contentInfos": [
                        {
                          "key": "d70f8402-ff2e-4c50-8d06-30e9cd8444a2",
                          "name": "Decking Oil",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Decking Oil",
                          "subTitle": "",
                          "caption": "Timber care products to style and protect your exterior timber furniture, decking and outdoor timber.",
                          "image": "umb://media/8a55ae1fe7894c699f10ba15e74ad99d",
                          "link": []
                        },
                        {
                          "key": "efcbd30f-8182-4c5a-a4f4-97c282bcc900",
                          "name": "Timber & Deck Oil",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "Timber & Deck Oil",
                          "subTitle": "",
                          "caption": "Ever man are put down his very. And marry may table him avoid.",
                          "image": "umb://media/e06f31f0367040368dfc38053b445b1b",
                          "link": []
                        },
                        {
                          "key": "9598dc9d-2233-49b3-83e7-1ad668bb9aa3",
                          "name": "WIPE-ON POLY",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "WIPE-ON POLY",
                          "subTitle": "",
                          "caption": "Ever man are put down his very. And marry may table him avoid.",
                          "image": "umb://media/9feb2a1977194465b84759a7fa6b8f91",
                          "link": []
                        },
                        {
                          "key": "805fa314-3c53-4b59-86fa-aa4fc400e3ed",
                          "name": "Item 4",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "Ever man are put down his very. And marry may table him avoid.",
                          "image": "",
                          "link": [
                            {
                              "name": "PRODUCT 1",
                              "udi": "umb://document/6c3eeb3e52f7437db174dead75f01c11",
                              "url": "/test-products/product-1/",
                              "icon": "icon-document",
                              "published": true,
                              "trashed": false
                            }
                          ]
                        }
                      ],
                      "defaultList": "",
                      "viewMoreLabel": "View All",
                      "viewMoreLink": [
                        {
                          "name": "Home",
                          "udi": "umb://document/852871357fbe4c43934a593649784578",
                          "url": "/",
                          "icon": "icon-home color-black",
                          "published": true,
                          "trashed": false
                        }
                      ],
                      "displayViewMoreAsButton": "0",
                      "fontColour": "",
                      "backgroundColour": ""
                    },
                    "id": "1db451ce-0c38-6d75-6c8e-7f3159270d93"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "itemListing",
                    "value": {
                      "name": "Components",
                      "itemListingLayout": [
                        "Three columns slider - with caption"
                      ],
                      "numberOfDisplayItems": "",
                      "contentSourceOption": [
                        "From Child Pages"
                      ],
                      "label": "INDOOR PRODUCTS",
                      "caption": "<h3>Beautiful indoor timber protection range</h3>\n<p> </p>\n<p>A selection of timber care products to style and protect your interior timber furniture and floors. <br />The Feast Watson indoor range will give you endless possibilities to style and protect timber pieces in your home and allow you to unleash your creative, expressive self.</p>",
                      "starterNode": "umb://document/875fb4fc800548888b642964352e3b92",
                      "sortBy": [],
                      "orderType": [],
                      "defaultFilters": [],
                      "contentInfos": [
                        {
                          "key": "907f6b51-a34b-4d62-b732-0066d85cd210",
                          "name": "Item 1",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": [
                            {
                              "name": "PRODUCT 1",
                              "udi": "umb://document/6c3eeb3e52f7437db174dead75f01c11",
                              "url": "/test-products/product-1/",
                              "icon": "icon-document",
                              "published": true,
                              "trashed": false
                            }
                          ]
                        },
                        {
                          "key": "cb659bac-442a-4d16-91b0-8e8f06dfa0da",
                          "name": "Item 2",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": [
                            {
                              "name": "PRODUTC 2",
                              "udi": "umb://document/254786c9645e43b4821a0d4cb4c49685",
                              "url": "/test-products/produtc-2/",
                              "icon": "icon-document",
                              "published": true,
                              "trashed": false
                            }
                          ]
                        },
                        {
                          "key": "bc022fb0-5810-4d18-8267-a2e319b2ea4c",
                          "name": "Item 3",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": [
                            {
                              "name": "PRODUTC 2 (1)",
                              "udi": "umb://document/c66bc6ec2bfb4ac0ac7bce55fafddb54",
                              "url": "/test-products/produtc-2-1/",
                              "icon": "icon-document",
                              "published": true,
                              "trashed": false
                            }
                          ]
                        },
                        {
                          "key": "d6dcbde1-75f5-439e-b750-daae010fc8c7",
                          "name": "Item 4",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": [
                            {
                              "name": "PRODUCT 1",
                              "udi": "umb://document/6c3eeb3e52f7437db174dead75f01c11",
                              "url": "/test-products/product-1/",
                              "icon": "icon-document",
                              "published": true,
                              "trashed": false
                            }
                          ]
                        }
                      ],
                      "defaultList": "",
                      "viewMoreLabel": "View All",
                      "viewMoreLink": [
                        {
                          "name": "Home",
                          "udi": "umb://document/852871357fbe4c43934a593649784578",
                          "url": "/",
                          "icon": "icon-home color-black",
                          "published": true,
                          "trashed": false
                        }
                      ],
                      "displayViewMoreAsButton": "0",
                      "fontColour": "",
                      "backgroundColour": ""
                    },
                    "id": "37c0ba65-6f5e-85aa-44ed-928fe8699d26"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        },
        {
          "name": "FullWidth",
          "id": "9f939ddd-c445-bf5e-3e07-041b67acd27a",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "bannerComponent",
                    "value": {
                      "name": "Components",
                      "captionTitle": "GET THE LOOK",
                      "caption": "<p>Do you need help selecting the right colour for your timber?<br />Take a look at our interior and exterior inspiration to help you pick the right timber colour for your home</p>",
                      "titleColor": "",
                      "backgroundColor": "",
                      "leftLinkTitle": "EXTERIOR INSPIRATION",
                      "leftImage": "umb://media/bd9f316a2cc548fdbf857a136f367fea",
                      "leftLink": [
                        {
                          "name": "Home",
                          "udi": "umb://document/852871357fbe4c43934a593649784578",
                          "url": "/",
                          "icon": "icon-home color-black",
                          "published": true,
                          "trashed": false
                        }
                      ],
                      "rightLinkTitle": "INTERIOR INSPIRATION",
                      "rightImage": "umb://media/e591071c2cf240928296c1a5b3946fd5",
                      "rightLink": [
                        {
                          "name": "Home",
                          "udi": "umb://document/852871357fbe4c43934a593649784578",
                          "url": "/",
                          "icon": "icon-home color-black",
                          "published": true,
                          "trashed": false
                        }
                      ]
                    },
                    "id": "ee4854ce-c28e-79df-f5ce-98d8f4acd69c"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "galleryComponent",
                    "value": {
                      "name": "Components",
                      "label": "Get Inspired",
                      "contentSourceOption": [
                        "From Fixed Items"
                      ],
                      "numberOfRows": "2",
                      "starterNode": "",
                      "fixedItems": [
                        {
                          "key": "ee4084b5-e356-4776-970b-0cee6317b03f",
                          "name": "Item 1",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "umb://media/886e05b08d5c457a9652191b2c4bb436",
                          "link": []
                        },
                        {
                          "key": "297ee198-3d87-48ec-85af-70b2a8a23b91",
                          "name": "Item 2",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "umb://media/ff28850ec679400eb0130ad14bfe597f",
                          "link": []
                        },
                        {
                          "key": "c99340be-c1ef-47cd-93b3-6de851c44fd7",
                          "name": "Item 3",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "umb://media/9a24a3e1763e4e25b775f80ecf2df1cb",
                          "link": []
                        },
                        {
                          "key": "6f59ded1-bf3d-4f31-93c4-01be359c0b5f",
                          "name": "Item 4",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "umb://media/9d9edb1b795d471db0b1ad240dd98a66",
                          "link": []
                        },
                        {
                          "key": "ac057bc4-3256-4ea0-ab8e-f9d32cebc9d1",
                          "name": "Item 5",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "umb://media/37f993b9a1b64f63803a1858cd15ede8",
                          "link": []
                        },
                        {
                          "key": "0646ab95-ed50-4190-aab7-944ce3ff8737",
                          "name": "Item 6",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "umb://media/b965496ddcee407482eaa6987f93b015",
                          "link": []
                        },
                        {
                          "key": "265240dd-7e69-4370-8bd7-45174506057e",
                          "name": "Item 7",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "umb://media/202c6ea796bf4de0949747c429f90bca",
                          "link": []
                        },
                        {
                          "key": "4c0a4104-0003-4788-9b2f-6e8af9920d98",
                          "name": "Item 8",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "umb://media/87e5ba7eebf646f4a3a613897b726aed",
                          "link": []
                        },
                        {
                          "key": "5fe1ceb9-2024-4310-ab4b-44cbfb483dae",
                          "name": "Item 9",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "umb://media/5f5e98052a014cd38fb34c0e0c189318",
                          "link": []
                        },
                        {
                          "key": "11b57100-27d3-438d-bffd-16707fc07651",
                          "name": "Item 10",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "umb://media/a1c4ac8073cd40829ff53d8e1eda227f",
                          "link": []
                        }
                      ],
                      "viewMoreLabel": "VIEW MORE",
                      "viewMoreLink": [
                        {
                          "name": "Home",
                          "udi": "umb://document/852871357fbe4c43934a593649784578",
                          "url": "/",
                          "icon": "icon-home color-black",
                          "published": true,
                          "trashed": false
                        }
                      ]
                    },
                    "id": "c4aecd9a-dd59-37af-dd35-4d5ce0c4c870"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "id": 1337,
                    "udi": "umb://media/dfcd5301598d4c588c87a9c52bd5dff9",
                    "image": "/media/a3jn1x2n/bottom-banner.jpg"
                  },
                  "editor": {
                    "alias": "media",
                    "view": "media"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
  </Properties>
</Content>