<?xml version="1.0" encoding="utf-8"?>
<Content Key="875fb4fc-8005-4888-8b64-2964352e3b92" Alias="Indoor Products" Level="3">
  <Info>
    <Parent Key="0369e2e1-62ec-497a-8cff-f29fb6431f17">Products</Parent>
    <Path>/Home/Products/IndoorProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2020-06-11T10:18:10</CreateDate>
    <NodeName Default="Indoor Products" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d18c18c3-e4f9-4ea3-9e94-c2f8fdbe5342">gridTemplate</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[[]]]></Value>
    </bannerTitlePosition>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "12_cols",
          "id": "b7ae846e-47da-e6f0-c715-4afb5850b6a1",
          "areas": [
            {
              "grid": "12",
              "controls": [],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <enableBanner>
      <Value><![CDATA[]]></Value>
    </enableBanner>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[]]></Value>
    </headerBannerImage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <inheritedSettingsFromParent>
      <Value><![CDATA[1]]></Value>
    </inheritedSettingsFromParent>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[Indoor Products]]></Value>
    </pageTitle>
    <redirectUrl>
      <Value><![CDATA[[{"name":"Floor Stain","udi":"umb://document/bfa2425d20d0415db0d8a0194a851186"}]]]></Value>
    </redirectUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <secondaryTitle>
      <Value><![CDATA[]]></Value>
    </secondaryTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoBreadcrumHide>
      <Value><![CDATA[0]]></Value>
    </umbracoBreadcrumHide>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>