<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b336c77-9fa4-4ed4-9667-1d3111d3ef12" Alias="Outdoor Products" Level="3">
  <Info>
    <Parent Key="0369e2e1-62ec-497a-8cff-f29fb6431f17">Products</Parent>
    <Path>/Home/Products/OutdoorProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2020-06-11T10:17:54</CreateDate>
    <NodeName Default="Outdoor Products" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d18c18c3-e4f9-4ea3-9e94-c2f8fdbe5342">gridTemplate</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[[]]]></Value>
    </bannerTitlePosition>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "12_cols",
          "id": "daf8154f-114c-44c7-c16f-ed7787c22bfa",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "responsiveItemListing",
                    "value": {
                      "name": "Components",
                      "layoutPicker": [
                        "4 Columns"
                      ],
                      "numberItemsPerPage": "10",
                      "isGroupBySubCategory": "0",
                      "groupByFilter": [],
                      "sortType": [],
                      "sortOrderBy": [],
                      "starterNode": "umb://document/049273b39e64441fb8ab1e3677776c82",
                      "additionalItems": "",
                      "defaultFilters": [],
                      "enableFilter": "0",
                      "filteringBy": [],
                      "filteringConfiguration": "",
                      "viewMoreLabel": ""
                    },
                    "id": "d3e832e7-eb4e-ed30-2397-2c49423e3f9f"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <enableBanner>
      <Value><![CDATA[0]]></Value>
    </enableBanner>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[]]></Value>
    </headerBannerImage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <inheritedSettingsFromParent>
      <Value><![CDATA[1]]></Value>
    </inheritedSettingsFromParent>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[Outdoor Products]]></Value>
    </pageTitle>
    <redirectUrl>
      <Value><![CDATA[[]]]></Value>
    </redirectUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <secondaryTitle>
      <Value><![CDATA[]]></Value>
    </secondaryTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoBreadcrumHide>
      <Value><![CDATA[0]]></Value>
    </umbracoBreadcrumHide>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>