<?xml version="1.0" encoding="utf-8"?>
<Content Key="f378fb6a-84c3-4a2b-a903-1ea3d1edb3c8" Alias="Product Listing Test" Level="2">
  <Info>
    <Parent Key="50fa1a52-3787-4103-bafb-388af6f613ed">Global Filter List</Parent>
    <Path>/GlobalFilterList/ProductListingTest</Path>
    <Trashed>false</Trashed>
    <ContentType>listingConfiguration</ContentType>
    <CreateDate>2020-06-08T08:56:08</CreateDate>
    <NodeName Default="Product Listing Test" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentInfos>
      <Value><![CDATA[]]></Value>
    </contentInfos>
    <contentSourceOption>
      <Value><![CDATA[["From Child Pages"]]]></Value>
    </contentSourceOption>
    <defaultFilters>
      <Value><![CDATA[]]></Value>
    </defaultFilters>
    <orderType>
      <Value><![CDATA[["Descending"]]]></Value>
    </orderType>
    <sortBy>
      <Value><![CDATA[["Created Date"]]]></Value>
    </sortBy>
    <starterNode>
      <Value><![CDATA[umb://document/d158908182654f12abd77bfde22afcbf]]></Value>
    </starterNode>
    <titlePage>
      <Value><![CDATA[Product Listing Test]]></Value>
    </titlePage>
  </Properties>
</Content>