<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf1839e1-0e6f-4c6e-9a96-d0e5f81f3a97" Alias="PRODUTC 4" Level="3">
  <Info>
    <Parent Key="3a138f35-33ed-4f5c-9557-b9a3bc159b84">TEST PRODUCTS</Parent>
    <Path>/Home/TESTPRODUCTS/PRODUTC4</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2020-06-08T04:41:23</CreateDate>
    <NodeName Default="PRODUTC 4" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d18c18c3-e4f9-4ea3-9e94-c2f8fdbe5342">gridTemplate</Template>
  </Info>
  <Properties>
    <alphabeticalName>
      <Value><![CDATA[]]></Value>
    </alphabeticalName>
    <availableSizes>
      <Value><![CDATA[]]></Value>
    </availableSizes>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[]]></Value>
    </bannerTitlePosition>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <enableBanner>
      <Value><![CDATA[]]></Value>
    </enableBanner>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[]]></Value>
    </headerBannerImage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <images>
      <Value><![CDATA[umb://media/4ffe078dcb8d4e0b8ade75e6466922cb]]></Value>
    </images>
    <inheritedSettingsFromParent>
      <Value><![CDATA[1]]></Value>
    </inheritedSettingsFromParent>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[ABC PRODUTC 4]]></Value>
    </pageTitle>
    <productSubCategory>
      <Value><![CDATA[]]></Value>
    </productSubCategory>
    <redirectUrl>
      <Value><![CDATA[[]]]></Value>
    </redirectUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <secondaryTitle>
      <Value><![CDATA[]]></Value>
    </secondaryTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
    <tabs>
      <Value><![CDATA[]]></Value>
    </tabs>
    <umbracoBreadcrumHide>
      <Value><![CDATA[0]]></Value>
    </umbracoBreadcrumHide>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>