<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a4c5fe8-4812-45c0-b702-1062741c8f18" Alias="Proofseal" Level="5">
  <Info>
    <Parent Key="f10eb329-b7c9-4abf-b082-2702103ae22c">Floor Maintenance</Parent>
    <Path>/Home/Products/IndoorProducts/FloorMaintenance/Proofseal</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2020-06-11T09:04:22</CreateDate>
    <NodeName Default="Proofseal" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d18c18c3-e4f9-4ea3-9e94-c2f8fdbe5342">gridTemplate</Template>
  </Info>
  <Properties>
    <alphabeticalName>
      <Value><![CDATA[]]></Value>
    </alphabeticalName>
    <availableSizes>
      <Value><![CDATA[]]></Value>
    </availableSizes>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[]]></Value>
    </bannerTitlePosition>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": []
    }
  ]
}]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[Achieve your timber renovation masterpiece with Feast Watson Proofseal penetrating sealer.]]></Value>
    </description>
    <enableBanner>
      <Value><![CDATA[]]></Value>
    </enableBanner>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[]]></Value>
    </headerBannerImage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <images>
      <Value><![CDATA[umb://media/b651335d7a07428096e8b828dec41564]]></Value>
    </images>
    <inheritedSettingsFromParent>
      <Value><![CDATA[1]]></Value>
    </inheritedSettingsFromParent>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[Proofseal]]></Value>
    </pageTitle>
    <productSubCategory>
      <Value><![CDATA[]]></Value>
    </productSubCategory>
    <redirectUrl>
      <Value><![CDATA[[]]]></Value>
    </redirectUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <secondaryTitle>
      <Value><![CDATA[]]></Value>
    </secondaryTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
    <tabs>
      <Value><![CDATA[]]></Value>
    </tabs>
    <umbracoBreadcrumHide>
      <Value><![CDATA[0]]></Value>
    </umbracoBreadcrumHide>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>