<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c6e8d4c-08c5-4f34-b6e2-490b091a1102" Alias="ShareThisSample" Level="2">
  <Info>
    <Parent Key="85287135-7fbe-4c43-934a-593649784578">Home</Parent>
    <Path>/Home/ShareThisSample</Path>
    <Trashed>false</Trashed>
    <ContentType>landingPage</ContentType>
    <CreateDate>2020-06-03T03:00:21</CreateDate>
    <NodeName Default="ShareThisSample" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a6cad14e-6e69-4d91-9f3e-6f6c4c0707f8">shareThisTemplate</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[[]]]></Value>
    </bannerTitlePosition>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "12_cols",
          "id": "549e5289-f01b-ef1f-19b0-adfbd4f3a729",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "productSummary",
                    "value": {
                      "name": "Components",
                      "title": "TEST",
                      "downloadLinks": [
                        {
                          "name": "Home",
                          "udi": "umb://document/852871357fbe4c43934a593649784578",
                          "url": "/",
                          "icon": "icon-home color-black",
                          "published": true,
                          "trashed": false
                        },
                        {
                          "name": "Home",
                          "udi": "umb://document/852871357fbe4c43934a593649784578",
                          "url": "/",
                          "icon": "icon-home color-black",
                          "published": true,
                          "trashed": false
                        }
                      ],
                      "addToWishListEnabled": "1",
                      "findAStockist": "1"
                    },
                    "id": "f42a5fa7-e485-9bde-b9da-489637355ea2"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "productAttributeList",
                    "value": {
                      "name": "Components",
                      "productAttributes": [
                        {
                          "key": "8a311d00-c7f7-43c1-af70-3a9543b1e23e",
                          "name": "WHERE TO USE",
                          "ncContentTypeAlias": "attribute",
                          "label": "WHERE TO USE",
                          "value": "<p>All interior timber furniture and accessories. Ideal for small craft or decoupage projects, and highly recommended for interior timber benches and table tops.</p>\n<p>Suitable as an embedding or casting medium</p>"
                        },
                        {
                          "key": "b64063e3-27c9-4144-9cd1-7336db93524e",
                          "name": "MIX RATIO (optional)",
                          "ncContentTypeAlias": "attribute",
                          "label": "MIX RATIO (optional)",
                          "value": "<p>Add up to 2% Feast Waston Prooftint when mixing RESIN and HARDENER (Step 2)</p>"
                        },
                        {
                          "key": "51fc1f2a-c9d2-4b1a-a2e8-02aeecc32d9c",
                          "name": "DRY TIME",
                          "ncContentTypeAlias": "attribute",
                          "label": "DRY TIME",
                          "value": "<p>Full curing after 7 days, light use after 36 hours, touch dry 24 hours</p>"
                        },
                        {
                          "key": "f5b50696-b38e-4c9c-9ab5-ff62122d2d46",
                          "name": "Clean up",
                          "ncContentTypeAlias": "attribute",
                          "label": "Clean up",
                          "value": "<p>Epoxy Thinners</p>"
                        },
                        {
                          "key": "8ba56914-1a29-43bb-a98e-08461e799d5f",
                          "name": "Sizes available",
                          "ncContentTypeAlias": "attribute",
                          "label": "Sizes available",
                          "value": "<p>0.5m2 Kit, 1m2 Kit</p>"
                        }
                      ]
                    },
                    "id": "6e0ca752-63f9-f6eb-14fc-be0896a74f61"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "itemListing",
                    "value": {
                      "name": "Components",
                      "itemListingLayout": [
                        "One column slider"
                      ],
                      "numberOfDisplayItems": "9",
                      "contentSourceOption": [
                        "From Child Pages"
                      ],
                      "label": "Test",
                      "caption": "<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p>",
                      "starterNode": "umb://document/3a138f3533ed4f5c9557b9a3bc159b84",
                      "sortBy": [],
                      "orderType": [],
                      "defaultFilters": [],
                      "contentInfos": [],
                      "defaultList": "",
                      "viewMoreLabel": "View All",
                      "viewMoreLink": [
                        {
                          "name": "Home",
                          "udi": "umb://document/852871357fbe4c43934a593649784578",
                          "url": "/",
                          "icon": "icon-home color-black",
                          "published": true,
                          "trashed": false
                        }
                      ],
                      "displayViewMoreAsButton": "0",
                      "fontColour": "",
                      "backgroundColour": ""
                    },
                    "id": "076f4104-b2f3-9053-f660-bb6eb2000dfa"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "productSummary",
                    "value": {
                      "name": "Components",
                      "title": "",
                      "downloadLinks": [
                        {
                          "name": "Home",
                          "udi": "umb://document/852871357fbe4c43934a593649784578",
                          "url": "/",
                          "icon": "icon-home color-black",
                          "published": true,
                          "trashed": false
                        }
                      ],
                      "addToWishListEnabled": "0",
                      "findAStockist": "0"
                    },
                    "id": "fae13397-68e6-b0f1-295e-7cd955f70091"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <enableBanner>
      <Value><![CDATA[]]></Value>
    </enableBanner>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[]]></Value>
    </headerBannerImage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <images>
      <Value><![CDATA[umb://media/9d536b7c3efa41689b3a24c815f50eaa,umb://media/37f993b9a1b64f63803a1858cd15ede8,umb://media/e06f31f0367040368dfc38053b445b1b,umb://media/aea495a90eff4e67a8db30717815a45c]]></Value>
    </images>
    <inheritedSettingsFromParent>
      <Value><![CDATA[1]]></Value>
    </inheritedSettingsFromParent>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[Share This sample ASDASD]]></Value>
    </pageTitle>
    <redirectUrl>
      <Value><![CDATA[[]]]></Value>
    </redirectUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <secondaryTitle>
      <Value><![CDATA[]]></Value>
    </secondaryTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoBreadcrumHide>
      <Value><![CDATA[0]]></Value>
    </umbracoBreadcrumHide>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>