<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a138f35-33ed-4f5c-9557-b9a3bc159b84" Alias="TEST PRODUCTS" Level="2">
  <Info>
    <Parent Key="85287135-7fbe-4c43-934a-593649784578">Home</Parent>
    <Path>/Home/TESTPRODUCTS</Path>
    <Trashed>false</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2020-06-04T10:35:17</CreateDate>
    <NodeName Default="TEST PRODUCTS" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d18c18c3-e4f9-4ea3-9e94-c2f8fdbe5342">gridTemplate</Template>
  </Info>
  <Properties>
    <bannerTitle>
      <Value><![CDATA[]]></Value>
    </bannerTitle>
    <bannerTitlePosition>
      <Value><![CDATA[[]]]></Value>
    </bannerTitlePosition>
    <bodyText>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "12_cols",
          "id": "5fcfaf1c-ff5a-cbd9-f914-c3d803056a5d",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": {
                    "dtgeContentTypeAlias": "itemListing",
                    "value": {
                      "name": "Components",
                      "itemListingLayout": [
                        "One column slider"
                      ],
                      "numberOfDisplayItems": "",
                      "contentSourceOption": [
                        "From Fixed Items"
                      ],
                      "label": "",
                      "caption": "",
                      "starterNode": "",
                      "sortBy": [],
                      "orderType": [],
                      "defaultFilters": [],
                      "contentInfos": [
                        {
                          "key": "311c6704-6db1-40cf-85b5-749247c4ec6e",
                          "name": "Item 1",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": [
                            {
                              "name": "PRODUCT 1",
                              "udi": "umb://document/6c3eeb3e52f7437db174dead75f01c11",
                              "url": "/test-products/product-1/",
                              "icon": "icon-document",
                              "published": true,
                              "trashed": false
                            }
                          ]
                        },
                        {
                          "key": "23ea4446-6dbf-41ad-9996-e7ebd0cdadef",
                          "name": "Item 2",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": [
                            {
                              "name": "PRODUTC 2",
                              "udi": "umb://document/254786c9645e43b4821a0d4cb4c49685",
                              "url": "/test-products/produtc-2/",
                              "icon": "icon-document",
                              "published": true,
                              "trashed": false
                            }
                          ]
                        },
                        {
                          "key": "14fe3261-c16b-476c-89a8-51cdb5b4f784",
                          "name": "Item 3",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": [
                            {
                              "name": "PRODUTC 2 (1)",
                              "udi": "umb://document/c66bc6ec2bfb4ac0ac7bce55fafddb54",
                              "url": "/test-products/produtc-2-1/",
                              "icon": "icon-document",
                              "published": true,
                              "trashed": false
                            }
                          ]
                        },
                        {
                          "key": "ab8dfca4-780a-42a7-8ca9-30620b1cd144",
                          "name": "Item 4",
                          "ncContentTypeAlias": "contentInfo",
                          "title": "",
                          "subTitle": "",
                          "caption": "",
                          "image": "",
                          "link": [
                            {
                              "name": "PRODUTC 2 (1) (1)",
                              "udi": "umb://document/cf1839e10e6f4c6e9a96d0e5f81f3a97",
                              "url": "/test-products/produtc-2-1-1/",
                              "icon": "icon-document",
                              "published": true,
                              "trashed": false
                            }
                          ]
                        }
                      ],
                      "defaultList": "",
                      "viewMoreLabel": "",
                      "viewMoreLink": [],
                      "displayViewMoreAsButton": "0",
                      "fontColour": "",
                      "backgroundColour": ""
                    },
                    "id": "514e0011-e021-72b5-5365-3812e647d170"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "productSummary",
                    "value": {
                      "name": "Components",
                      "title": "",
                      "downloadLinks": [
                        {
                          "name": "ShareThisSample",
                          "udi": "umb://document/5c6e8d4c08c54f34b6e2490b091a1102",
                          "url": "/sharethissample/",
                          "icon": "icon-document",
                          "published": true,
                          "trashed": false
                        }
                      ],
                      "addToWishListEnabled": "1",
                      "findAStockist": "1"
                    },
                    "id": "453eb04d-c8c7-f96c-e9ee-a2eb912cc159"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                },
                {
                  "value": {
                    "dtgeContentTypeAlias": "navigationComponent",
                    "value": {
                      "name": "Components",
                      "navigationSource": [
                        "Parent Page"
                      ]
                    },
                    "id": "e55b10d4-9179-675c-0d07-199ebf6ee2cd"
                  },
                  "editor": {
                    "alias": "docType",
                    "view": "/App_Plugins/DocTypeGridEditor/Views/doctypegrideditor.html"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </bodyText>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <enableBanner>
      <Value><![CDATA[1]]></Value>
    </enableBanner>
    <footerBannerImage>
      <Value><![CDATA[]]></Value>
    </footerBannerImage>
    <headerBannerImage>
      <Value><![CDATA[umb://media/37f993b9a1b64f63803a1858cd15ede8]]></Value>
    </headerBannerImage>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <inheritedSettingsFromParent>
      <Value><![CDATA[1]]></Value>
    </inheritedSettingsFromParent>
    <keywords>
      <Value><![CDATA[[]]]></Value>
    </keywords>
    <listingTitle>
      <Value><![CDATA[]]></Value>
    </listingTitle>
    <metadataTitle>
      <Value><![CDATA[]]></Value>
    </metadataTitle>
    <navigationTitle>
      <Value><![CDATA[]]></Value>
    </navigationTitle>
    <pageTitle>
      <Value><![CDATA[TEST PRODUCTS]]></Value>
    </pageTitle>
    <redirectUrl>
      <Value><![CDATA[[]]]></Value>
    </redirectUrl>
    <searchEngineChangeFrequency>
      <Value><![CDATA[[]]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[0.5]]></Value>
    </searchEngineRelativePriority>
    <secondaryTitle>
      <Value><![CDATA[]]></Value>
    </secondaryTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoBreadcrumHide>
      <Value><![CDATA[0]]></Value>
    </umbracoBreadcrumHide>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>