<?xml version="1.0" encoding="utf-8"?>
<Macro Key="1451d5b1-6589-4d27-a067-a2f3cea81f86" Alias="ProductDetails" Level="0">
  <Name>Product Details</Name>
  <MacroSource>~/Views/MacroPartials/ProductDetails.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties>
    <Property>
      <Name>Content source</Name>
      <Alias>contentSource</Alias>
      <SortOrder>0</SortOrder>
      <EditorAlias>propertyTypePicker</EditorAlias>
    </Property>
  </Properties>
</Macro>