.homepage__items-wrapper {
  padding-top: 15px;
}

.homepage__items-wrapper--exterior__slider {
  margin-bottom: 15px;
}

.homepage__items-wrapper--exterior {
  padding-top: 0;
}

.carousel-progress-bar {
  margin-bottom: 40px;
}

.product-detail__block-attribute {
  padding-bottom: 20px;
}

.product-detail--slides-no-caption .slider-get-the-look .product-block__name {
  margin-left: 10px;
  font-family: 'AvantGarde Gothic Medium',sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
}

.slider-nav-carousel .slick-dots {
  right: 10px;
  display: flex !important;
  flex-direction: column;
  transform: translateY(-50%);
  bottom: 45%;
  width: 1.5%;
  opacity: 1;
}

.slider-nav-carousel.slick-vertical .slick-slide {
  height: 95vh;
  border: none;
}

.slider-nav-carousel .slick-dots li {
  margin: 6px 4px;
}

  .slider-nav-carousel .slick-dots li button:before {
    font-size: 10px;
    color: #fff;
  }

.suggested-products .slick-prev, .suggested-products .slick-next {
  top: 50%;
  transform: translateY(-50%);
}

blockquote {
  font-family: 'Times New Roman', Times, serif;
  text-align-last: center;
  line-height: 1.5em;
  font-size: 2rem;
  border-left: none;
  padding: 20px 30px 20px 50px;
  position: relative;
}

blockquote:before {
  font-family: Georgia, serif;
  content: "”";
  font-size: 3em;
  font-weight: bold;
  color: #cfa554;
  transform: rotate(180deg);
  position: absolute;
  left: -10px;
  top: -24px;
}

blockquote:after {
  font-family: Georgia, serif;
  content: "”";
  font-size: 3em;
  font-weight: bold;
  color: #cfa554;
  position: absolute;
  right: 0;
  bottom: -24px;
}

.get-the-look__banner-caption p {
  font-family: "Times New Roman",serif;
  font-size: 45px;
  letter-spacing: 0.02em;
  color: inherit;
}

.get-the-look-category__btn {
  display: flex;
  flex-wrap: wrap;
}

.get-the-look-category__btn .btn {
  display: flex;
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 12px;
  letter-spacing: 0.15em;
}

.get-the-look-category__btn span {
  font-size: 20px;
  margin-right: 12px;
}

.get-the-look-category__btn .icon {
  font-weight: 700;
}

.blog-detail-next-prev .nav-tabs {
  border-bottom: none;
}

.panel-collapse li.active > a {
  color: #cba552;
}

.promo-tile .promo-tile__text--listing {
  position: absolute;
  bottom: 16px;
  left: 30px;
  right: 30px;
}

.promo-tile__inner {
  margin: 30px 0px 30px 0px;
}

.get-the-look-category__bottom--viewdetail {
  display: flex;
  justify-content: flex-end;
}

#filter-result .product-block {
  margin-bottom: 30px;
}

.cmp-rich-text .promo-tile__title {
  border-bottom: none;
}

.cmp-rich-text ul li {
  list-style: inherit;
}

.cmp-rich-text a {
  color: #cba552;
}

.cmp-rich-text table p {
  margin-bottom: 0;
}

.cmp-rich-text table td {
  padding-bottom: 10px;
}

.cmp-rich-text p {
  margin-bottom: 5px;
}

@media only screen and (min-width: 64em) {
  .promo-tile--feature figcaption {
    min-height: 420px;
  }
}

@media only screen and (min-width: 64em) {
  .promo-tile--feature figcaption {
    min-height: 395px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1668px) {
  .slider-nav-carousel .slick-dots {
    width: 2%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .slider-nav-carousel .slick-dots {
    right: 5px;
    display: flex !important;
    flex-direction: column;
    transform: translateY(-50%);
    bottom: 45%;
    width: 3%;
    opacity: 1;
  }

    .slider-nav-carousel .slick-dots li {
      margin: 6px 5px;
    }

      .slider-nav-carousel .slick-dots li button:before {
        font-size: 10px;
        color: #fff;
      }

  .slider-nav-carousel.slick-vertical .slick-slide {
    height: 95vh;
    border: none;
  }

  .nav-tabs .li-next-link {
    float: right;
  }

  .li-prev-link .icon-left-arrow {
    border: solid 1px;
    border-radius: 33px;
    padding: 10px 4px 10px 10px;
    margin: 0px 8px 0px 0px;
    color: white;
    border-color: #CCA655;
    background-color: #CCA655;
  }

  .li-next-link .icon-right-arrow {
    border: solid 1px;
    border-radius: 33px;
    padding: 10px 4px 10px 10px;
    margin: 0px 0px 0px 8px;
    color: white;
    border-color: #CCA655;
    background-color: #CCA655;
  }

  .prev-link-project {
    color: #CBA552;
  }

  .cookie-banner button {
    flex: 1 1 25%;
    margin-left: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .promo-tile--image-on-left figcaption {
    padding-left: 0px;
  }

  .promo-tile__inner {
    margin: 30px 0px auto 0px;
  }

  blockquote {
    font-size: 1.25rem;
  }

  blockquote:before {
    top: -11px;
  }
  blockquote:after {
    bottom: -11px;
  }
}

@media only screen and (max-width: 767px) {
  .slider-nav-carousel .slick-dots {
    right: 0;
    display: flex !important;
    flex-direction: column;
    transform: translateY(-50%);
    bottom: 45%;
    width: 7%;
    opacity: 1;
  }

    .slider-nav-carousel .slick-dots li {
      margin: 5px 4px;
    }

      .slider-nav-carousel .slick-dots li button:before {
        font-size: 9px;
        color: #fff;
      }

  .slider-nav-carousel.slick-vertical .slick-slide {
    height: 95.8vh;
    border: none;
  }

  .nav-tabs .li-next-link {
    float: right;
  }

  .li-prev-link .icon-left-arrow,
  .li-next-link .icon-right-arrow {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #CCA655;
    color: white;
    border-radius: 50%;
    border: solid 1px #CCA655;
    line-height: 28px;
    text-align: center;
    margin: 0 7px;
  }

  .find-store-stockist__result {
    overflow-y: auto;
    max-height: 500px;
    padding: 0 20px;
  }

  .prev-link-project {
    color: #CBA552;
  }

  .homepage__banner .scroll-btn {
    bottom: 20vh;
  }

  .carousel .slick-prev {
    left: -10px;
  }

  .carousel .slick-next {
    right: -10px;
  }

  .promo-tile__image-container {
    position: relative;
    margin: 20px 0px 20px 0px;
  }

  .promo-tile__inner {
    margin: 30px 0px auto 0px;
  }

  .promo-tile--feature figcaption {
    padding: 25px 0;
  }
}

.suggested-products .slick-prev, .suggested-products .slick-next {
  top: 50%;
  transform: translateY(-50%);
}

.get-the-look__banner-caption p {
  font-family: "Times New Roman",serif;
  font-size: 45px;
  letter-spacing: 0.02em;
  color: inherit;
}

.blog-detail-next-prev .nav-tabs {
  border-bottom: none;
}

.panel-collapse li.active > a {
  color: #cba552;
}

.get-the-look-category__bottom--viewdetail {
  display: flex;
  justify-content: flex-end;
}

#filter-result .product-block {
  margin-bottom: 30px;
}

.cmp-rich-text .promo-tile__title {
  border-bottom: none;
}

.cmp-rich-text ul li {
  list-style: inherit;
}

.cmp-rich-text ul {
  padding-left: 25px;
}

.cmp-rich-text ol {
  padding-left: 35px;
}

.button__text--contact {
  background-color: #fff;
  border: none;
}

.button__text--subscribe {
  background-color: #fff;
  border: none;
}

.contact-us-page .submit-form button {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.contact-us-page .subscribe-form button {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.contact-us-page .subscribe-form__email button {
  padding-left: 15px;
}

.field-validation-error > span {
  color: red;
}

.form-group .form-control.input-validation-error {
  border-color: #ec5840;
}

.cmp-rich-text ul li {
  list-style: inherit;
}

.wish-list input.error {
  border: 1px solid #cba552;
}

.wish-list .error {
  color: #cba552;
  margin-top: 10px;
}

.wish-list__send {
  max-height: 650px;
}


@media only screen and (max-width: 480px) {
  .carousel .slick-prev {
    left: -10px;
  }

  .carousel .slick-next {
    right: -10px;
  }

    .carousel .slick-next:before,
    .carousel .slick-prev:before {
      font-weight: 700;
      font-size: 15px;
    }
}

.search-bar__listing {
  margin-bottom: 30px;
}

.slick-slider .slick-prev,
.slick-slider .slick-next {
  top: 50%;
}

