* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
    font-family: "Futura", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    position: relative;
    color: #333;
}

ul {
  padding-left: 0;
}
ul li {
  list-style: none;
}

a {
  transition: all 0.5s;
  color: inherit;
}
a:hover {
  cursor: pointer;
  color: #333;
}
a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

a:focus {
  color: #333;
}

a:hover {
    text-decoration: underline;
}

button:hover, button:focus {
  outline: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Futura-Bold", serif;
    line-height: 1.5;
}

.cmp-rich-text h1 {
    font-family: "Futura-Bold", serif;
    font-size: 36px;
}

.cmp-rich-text h2 {
    font-family: "Futura-Bold", serif;
    font-size: 28px;
}

.cmp-rich-text h3 {
    font-family: "Futura-Bold", serif;
    font-size: 20px;
}

.cmp-rich-text h4 {
    font-family: "Futura-Bold", sans-serif;
    font-size: 16px;
}

.cmp-rich-text h5 {
    font-family: "Futura-Bold", sans-serif;
    font-size: 15px;
}

p {
    font-family: 'Futura',sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

h3.heading-level-3 {
    font-family: 'Futura-Bold',serif;
    font-size: 30px;
    color: #333;
    margin: 0;
}

.text-yellow {
  color: #cda856;
}

.dashed-text {
  position: relative;
  transition: all 0.5s;
}
.dashed-text::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #cba553;
  left: 0;
  bottom: -10px;
}

.is-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.row.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.display-flex.row:before,
.display-flex.row:after {
  display: none;
}

.row.display-flex > [class*='col-'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cookie-banner, .hero-bottom {
    display: none;
}

/* Common */

.text-blue {
    color: #196271;
}

.page-section {
    padding-left: 0;
    padding-right: 0;
}

.page-section .btn {
    padding: 1.428rem 0.714rem;
    background-color: #196271;
    border: 2px solid #196271;
    color: #fff;
    font-size: 1rem;
    line-height: 1.214rem;
    border-radius: 0;
    margin-bottom: 2.142rem;
    transition: all .25s;
}

.page-section .btn:hover {
    background-color: transparent;
    border-color: #196271;
    color: #196271;
}

.page-section h2 {
    font-size: 3.571rem;
    line-height: 4.285rem;
}

.page-section h3 {
    font-family: "Futura-Bold";
    font-size: 2.857rem;
    line-height: 4.285rem;
    text-transform: uppercase;
    margin-bottom: 2.857rem;
}

.page-section h3 + h3 {
    margin-top: -1.785rem;
}

.page-section h4 {
    font-family: "Futura";
    font-size: 2.285rem;
}

.page-section {
    padding-top: 3.571rem;
    padding-bottom: 3.357rem;
}

.home-section {
    position: relative;
    margin-top: -7.142rem;
    padding-bottom: 6.428rem;
}

.page-section blockquote {
    font-family: "Futura";
    font-size: 2.285rem;
    line-height: 3.142rem;
    text-align: left;
    text-align-last: auto;
    background-color: #ccf0f5;
    padding: 1.714rem;
}

.home-section blockquote {
    margin-top: 1.785rem;
}

.page-section blockquote:before, .page-section blockquote:after {
    display: none;
}

.home-section .container > .column:first-child {
    padding-top: 50px;
    position: relative;
    z-index: 1;
}

.home-section:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: url(../images/5.png) bottom right no-repeat;
    background-size: contain;
    width: 28.857rem;
    height: 13.357rem;
    max-width: 100%;
}

.home-section p {
    font-size: 1.714rem;
}

.bg-purple-half {
    position: relative;
    color: #fff;
}

.bg-purple-half:before {
    content: '';
    background-color: #534165;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 15%;
    left: 0;
    right: 0;
}

.bg-aqua {
    background-color: #00b4cd;
    color: #fff;
}

.bg-white-1 h3 {
    color: #196271;
}

.bg-yellow {
    background-color: #ffd911;
    color: #333;
}

.bg-yellow .btn {
    background-color: #fff;
    color: #333;
    border-color: #fff;
}

.bg-yellow .btn:hover {
    background-color: transparent;
    color: #333;
    border-color: #333;;
}

.slider-box > a {
    display: inline-block;
}

.page-section .carousel {
    margin-top: 2.857rem;
}

/* Custom Slick Slider */
.slick-slider {
    margin-bottom: 30px;
}

.slick-slider .slick-prev, .slick-slider .slick-next {
    top: 50%;
    width: 3.714rem;
    height: 3.714rem;
}

.slick-slider .slick-prev {
    left: -5rem;
}

.slick-slider .slick-next {
    right: -5rem;
}

.slick-slider .slick-prev:before, .slick-slider .slick-next:before {
    font-family: 'icomoon';
    color: #196271;
    font-size: 3.571rem;
}

.slick-slider .slick-prev:before {
    content: "\e904";
}

.slick-slider .slick-next:before {
    content: "\e903";
}

.slick-slider .slick-dots {
    bottom: -2.857rem;
}

.slick-dots li button:before {
    color: #333;
    font-size: 12px;
}

/* Header */
header {
    background-color: white;
    box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0);
    transition: all .25s;
}

header .navbar {
    margin-bottom: 0;
}

header.sticky-header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.1);
}

.mobile-navbar .hamburger {
    border: none;
    left: 80%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    font-size: 25px;
    background-color: transparent;
    border: 0;
}

.mobile-navbar .hamburger .oi-menu {
    opacity: 1;
}

.mobile-navbar .hamburger .oi-x {
    opacity: 0;
}

.mobile-navbar .hamburger[aria-expanded=true] .oi-menu {
    opacity: 0;
}

.mobile-navbar .hamburger[aria-expanded=true] .oi-x {
    opacity: 1;
}

.mobile-navbar .hamburger .hamburger-box {
    color: #000000;
    padding: 1rem;
    margin-left: 0.5em;
    position: absolute;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    top: 0;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mobile-navbar .logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 6.25rem;
    margin-left: auto;
    margin-right: auto;
}

.mobile-navbar .logo-container img {
    width: 13rem;
}

header .navbar-nav li a {
    display: block;
    font-family: "Futura";
    font-weight: 400;
    color: #00b4cd;
    text-transform: uppercase;
    padding: 1rem 2.857rem;
}

footer {
    background-color: #00b4cd;
    color: white;
    padding-top: 2.857rem;
    padding-bottom: 2.857rem;
}

footer .footer__logo > a {
    max-width: 14.285rem;
    display: inline-block;
}

footer .footer__logo > a > img {
    width: 100%;
}

.footer__item.footer-social, footer .license {
    display: block;
    width: 100%;
    overflow: hidden;
}

.footer-social__following li {
    float: left;
}

.footer-social__following li > a {
    padding: 5px;
    font-size: 1.714rem;
}

.footer-social__following li > a:hover {
    color: #333;
    text-decoration: none;
}

@media (min-width: 1366px) {
    .container-fluid {
        max-width: 80vw;
    }

    header {
        padding-left: 2.857rem;
        padding-right: 2.857rem;
    }

    .home-section {
        display: flex;
        align-items: center;
    }
}

@media (min-width: 992px) {
    .img-section > .container {
        display: flex;
        align-items: center;
    }

    .home-section blockquote {
        width: 110%;
        margin-left: 3.571rem;
    }

    .home-section h2 > span {
        display: block;
    }

}

@media (min-width: 768px) {

    header .logo-header {
        display: inline-block;
        width: 13.571rem;
        transition: all .25s;
    }

    header.sticky-header .logo-header {
        width: 8.571rem;
    }

    .outer-header {
        height: 200px;
    }

    .bg-purple-half:before {
        bottom: 33%;
    }

    .cmp-btn .btn {
        padding: 1.428rem 2.857rem;
    }

    .slick-slider {
        width: 35.714rem;
        margin-left: auto;
        margin-right: auto;
    }

    .slick-slider .slick-dots {
        display: none!important;
    }

    header .navbar-collapse {
        display: block;
    }

    .mobile-navbar {
        display: none;
    }

    header .navbar-nav {
        float: right;
    }

    header .navbar-nav li {
        float: left;
        border-left: 1px solid #f2f2f2;
    }

    header .navbar-nav li:first-child {
        border: 0;
    }

    header .navbar-nav {
        padding-top: 2.857rem;
    }

    .footer__logo {
        text-align: center;
    }
}

@media screen and (max-width: 991px) {
    .page-section {
        text-align: center;
    }

    .page-section  .cmp-btn {
        text-align: center!important;
    }
}

@media screen and (max-width: 767px) {
    .slick-arrow {
        display: none!important;
    }

    .mobile-navbar {
        position: relative;
        z-index: 11;
    }

    .mobile-navbar .logo-container img {
        width: 10rem;
    }

    header .logo-header {
        display: none;
    }

    header .navbar-collapse {
        padding-top: 7.142rem;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 9;
        left: 100%;
        height: 100%!important;
        transition: left .25s;
    }

    header .navbar-collapse.in {
        left: 0;
        background-color: white;
    }

    header .navbar-nav li {
    }

    header .navbar-nav li > a {
        display: block;
        padding: 20px;
        color: #00b4cd;
        text-align: center;
    }

    footer {
        text-align: center;
    }

    footer .footer__logo > a {
        display: inline-block;
        max-width: 7.142rem;
        margin-bottom: 20px;
    }

    .footer__item {
        margin-top: 20px;
    }

    .footer__item:first-child {
        margin-top: 0;
    }

    .footer-social__following ul {
        display: inline-block;
    }

    .page-section .carousel {
        margin-bottom: 4.285rem;
    }

    .home-section:after {
        background-size: 60%;
    }

}
