<?xml version="1.0" encoding="utf-8"?>
<DataType Key="849b95a3-521b-4185-a606-fd4daa79eb2e" Alias="Article - Related Product - Nested Content" Level="1">
  <Info>
    <Name>Article - Related Product - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "productInfo",
      "ncTabAlias": "Info",
      "nameTemplate": "{{label}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>