<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5d386260-7c59-49f5-870b-e4dfe871af96" Alias="Article Listing - Filter Type - Dropdown" Level="2">
  <Info>
    <Name>Article Listing - Filter Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Item+Listing</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Brand"
    },
    {
      "id": 2,
      "value": "Climate"
    },
    {
      "id": 3,
      "value": "Colour"
    },
    {
      "id": 4,
      "value": "Format"
    },
    {
      "id": 5,
      "value": "Harvesting"
    },
    {
      "id": 6,
      "value": "Months"
    },
    {
      "id": 13,
      "value": "Natural Organic"
    },
    {
      "id": 14,
      "value": "Organic"
    },
    {
      "id": 7,
      "value": "Position"
    },
    {
      "id": 8,
      "value": "Project Guides"
    },
    {
      "id": 9,
      "value": "Project Type"
    },
    {
      "id": 10,
      "value": "Season"
    },
    {
      "id": 11,
      "value": "Soil"
    },
    {
      "id": 12,
      "value": "Suitable For"
    }
  ]
}]]></Config>
</DataType>