<?xml version="1.0" encoding="utf-8"?>
<DataType Key="41f65149-e4c9-4e78-b739-d8c97b472eff" Alias="Article Listing - Default List - Multinode Treepicker" Level="2">
  <Info>
    <Name>Article Listing - Default List - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Item+Listing</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "listingConfiguration",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>