<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ddf5a83-f5d4-40a1-b4f2-4c6339fb7cba" Alias="Banner Base - Title Position - Dropdown" Level="2">
  <Info>
    <Name>Banner Base - Title Position - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Dropdown+%26+Radio</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Middle"
    },
    {
      "id": 3,
      "value": "Right"
    }
  ]
}]]></Config>
</DataType>