<?xml version="1.0" encoding="utf-8"?>
<DataType Key="39fac811-3725-42f5-a67c-3dd1c62808c1" Alias="Banner Base - Apply Padding For Mobile - Checkbox" Level="1">
  <Info>
    <Name>Banner Base - Apply Padding For Mobile - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>