<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db9db4f3-db70-466e-b00e-73949e558f5e" Alias="Blog Category - Dropdown" Level="2">
  <Info>
    <Name>Blog Category - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Dropdown+%26+Radio</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "Items": [
    {
      "id": 4,
      "value": "Indoor"
    },
    {
      "id": 5,
      "value": "Outdoor"
    }
  ]
}]]></Config>
</DataType>