<?xml version="1.0" encoding="utf-8"?>
<DataType Key="87eb8a34-fbef-461b-a66b-bd70b635b0f5" Alias="Button - Align - Dropdown" Level="1">
  <Info>
    <Name>Button - Align - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Left Aligned"
    },
    {
      "id": 2,
      "value": "Center Aligned"
    },
    {
      "id": 3,
      "value": "Right Aligned"
    }
  ]
}]]></Config>
</DataType>