<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f554107-1fc2-4c5a-be0e-c4c942f1cc20" Alias="Carousel Image - Carousel Info - Nested Content" Level="2">
  <Info>
    <Name>Carousel Image - Carousel Info - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "carouselInfo",
      "ncTabAlias": "Info",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>