<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a8f21a6d-ae7f-4381-8c0d-a7d06c116388" Alias="Carousel Image - Layout - Dropdown" Level="2">
  <Info>
    <Name>Carousel Image - Layout - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Dropdown+%26+Radio</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "1 column"
    },
    {
      "id": 3,
      "value": "1 column in content layout"
    },
    {
      "id": 2,
      "value": "2 columns"
    }
  ]
}]]></Config>
</DataType>