<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5ddcb08c-a399-40a9-89e3-25eb94699290" Alias="Carousel Info - Caption Position - Radio button list" Level="2">
  <Info>
    <Name>Carousel Info - Caption Position - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Dropdown+%26+Radio</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Right"
    }
  ]
}]]></Config>
</DataType>