<?xml version="1.0" encoding="utf-8"?>
<DataType Key="78d147e8-be13-4ba0-88d0-df227761d549" Alias="Checkbox" Level="1">
  <Info>
    <Name>Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>