<?xml version="1.0" encoding="utf-8"?>
<DataType Key="586627fa-b65f-4efa-89a0-cfeae0a26c0b" Alias="Coat - Coat option - Dropdown" Level="2">
  <Info>
    <Name>Coat - Coat option - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Dropdown+%26+Radio</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Raw"
    },
    {
      "id": 2,
      "value": "One coat"
    },
    {
      "id": 3,
      "value": "Two coats"
    },
    {
      "id": 4,
      "value": "Three coats"
    },
    {
      "id": 17,
      "value": "Four coats"
    },
    {
      "id": 5,
      "value": "Charcoal Edge"
    },
    {
      "id": 6,
      "value": "Forest Aspect"
    },
    {
      "id": 7,
      "value": "Grey Haven"
    },
    {
      "id": 8,
      "value": "Indigo Haze"
    },
    {
      "id": 9,
      "value": "Natures Touch"
    },
    {
      "id": 10,
      "value": "Raw Elements"
    },
    {
      "id": 11,
      "value": "Venice Waters"
    },
    {
      "id": 12,
      "value": "Beige Essence"
    },
    {
      "id": 13,
      "value": "Linen Appeal"
    },
    {
      "id": 14,
      "value": "Muted Sea"
    },
    {
      "id": 15,
      "value": "Sandlewood Glow"
    },
    {
      "id": 16,
      "value": "White Shine"
    }
  ]
}]]></Config>
</DataType>