<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8ebafb71-a711-4c52-8f74-0fe11172d3c6" Alias="Common - Content - Grid layout" Level="2">
  <Info>
    <Name>Common - Content - Grid layout</Name>
    <EditorAlias>Umbraco.Grid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": {
    "styles": [
      {
        "label": "Set a background image",
        "description": "Set a row background",
        "key": "background-image",
        "view": "imagepicker",
        "modifier": "url({0})"
      },
      {
        "label": "Margin left",
        "description": "Set a row background",
        "key": "margin-left",
        "view": "textstring"
      },
      {
        "label": "Margin right",
        "description": "Set a row background",
        "key": "margin-right",
        "view": "textstring"
      },
      {
        "label": "Width",
        "description": "Set a row background",
        "key": "width",
        "view": "textstring"
      }
    ],
    "config": [
      {
        "label": "Class",
        "description": "Set a css class",
        "key": "class",
        "view": "textstring"
      }
    ],
    "columns": 12,
    "templates": [
      {
        "name": "1 column layout",
        "sections": [
          {
            "grid": 12
          }
        ]
      }
    ],
    "layouts": [
      {
        "label": "Full width",
        "name": "FullWidth",
        "areas": [
          {
            "grid": 12,
            "editors": [
              "headline"
            ],
            "allowAll": true
          }
        ]
      },
      {
        "name": "12_cols",
        "areas": [
          {
            "grid": 12,
            "allowAll": true
          }
        ],
        "label": "12 cols"
      },
      {
        "label": "6/6 Cols",
        "name": "6_6_cols",
        "areas": [
          {
            "grid": 6,
            "allowAll": true
          },
          {
            "grid": 6,
            "allowAll": true
          }
        ]
      },
      {
        "name": "2_8_2_Cols",
        "areas": [
          {
            "grid": 2,
            "allowAll": true
          },
          {
            "grid": 8,
            "allowAll": true
          },
          {
            "grid": 2,
            "allowAll": true
          }
        ],
        "label": "2/8/2 Cols"
      },
      {
        "name": "3_3_3_3_Cols",
        "areas": [
          {
            "grid": 3,
            "allowAll": true
          },
          {
            "grid": 3,
            "allowAll": true
          },
          {
            "grid": 3,
            "allowAll": true
          },
          {
            "grid": 3,
            "allowAll": true
          }
        ],
        "label": "3/3/3/3"
      },
      {
        "name": "2_4_4_2_Cols",
        "areas": [
          {
            "grid": 2,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 2,
            "allowAll": true
          }
        ],
        "label": "2/4/4/2 Cols"
      },
      {
        "name": "4_8_Cols",
        "areas": [
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 8,
            "allowAll": true
          }
        ],
        "label": "4/8 Cols"
      },
      {
        "name": "8_4_Cols",
        "areas": [
          {
            "grid": 8,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          }
        ],
        "label": "8/4 Cols"
      },
      {
        "name": "2_6_2_2_Cols",
        "areas": [
          {
            "grid": 2,
            "allowAll": true
          },
          {
            "grid": 6,
            "allowAll": true
          },
          {
            "grid": 2,
            "allowAll": true
          },
          {
            "grid": 2,
            "allowAll": true
          }
        ],
        "label": "2/6/2/2 Cols"
      },
      {
        "name": "6_5_1_Cols",
        "areas": [
          {
            "grid": 6,
            "allowAll": true
          },
          {
            "grid": 5,
            "allowAll": true
          },
          {
            "grid": 1,
            "allowAll": true
          }
        ],
        "label": "6/5/1 Cols"
      },
      {
        "name": "6_3_3_Cols",
        "areas": [
          {
            "grid": 6,
            "allowAll": true
          },
          {
            "grid": 3,
            "allowAll": true
          },
          {
            "grid": 3,
            "allowAll": true
          }
        ],
        "label": "6/3/3 Cols"
      },
      {
        "name": "6_4_2_Cols",
        "areas": [
          {
            "grid": 6,
            "allowAll": true
          },
          {
            "grid": 4,
            "allowAll": true
          },
          {
            "grid": 2,
            "allowAll": true
          }
        ],
        "label": "6/4/2 Cols"
      },
      {
        "name": "1_10_1_Cols",
        "areas": [
          {
            "grid": 1,
            "allowAll": true
          },
          {
            "grid": 10,
            "allowAll": true
          },
          {
            "grid": 1,
            "allowAll": true
          }
        ],
        "label": "1/10/1 Cols"
      },
      {
        "name": "2_10_Cols",
        "areas": [
          {
            "grid": 2,
            "allowAll": true
          },
          {
            "grid": 10,
            "allowAll": true
          }
        ],
        "label": "2/10 Cols"
      },
      {
        "name": "10_2_Cols",
        "areas": [
          {
            "grid": 10,
            "allowAll": true
          },
          {
            "grid": 2,
            "allowAll": true
          }
        ],
        "label": "10/2 Cols"
      },
      {
        "name": "FullWidth_6_6_cols",
        "areas": [
          {
            "grid": 6,
            "allowAll": true
          },
          {
            "grid": 6,
            "allowAll": true
          }
        ],
        "label": "Full width 6/6 Cols"
      }
    ]
  },
  "Rte": {
    "toolbar": [
      "ace",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "table",
      "umbembeddialog",
      "hr",
      "forecolor",
      "fontsizeselect"
    ],
    "stylesheets": [
      "/css/RTE.css"
    ],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>