<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ab18c6d-a253-458d-a6ef-dba077c5b8ad" Alias="Common - Checkbox" Level="2">
  <Info>
    <Name>Common - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>