<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c86de008-09a2-4fad-9b73-c4237cfcca04" Alias="Common - Multinode Treepicker" Level="2">
  <Info>
    <Name>Common - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>