<?xml version="1.0" encoding="utf-8"?>
<DataType Key="045387f7-4d38-4ddb-8712-94edce0e0307" Alias="Common - Color Picker" Level="2">
  <Info>
    <Name>Common - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "UseLabel": false,
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"000000\",\"label\":\"000000\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"393733\",\"label\":\"393733\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"595854\",\"label\":\"595854\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"ffffff\",\"label\":\"ffffff\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"66a000\",\"label\":\"66a000\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"3cb371\",\"label\":\"3cb371\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"ebebeb\",\"label\":\"ebebeb\"}"
    }
  ]
}]]></Config>
</DataType>