<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5bdf5fde-0f1d-431a-bd05-fc8aaa700360" Alias="Condition Key Values - Nested Content" Level="2">
  <Info>
    <Name>Condition Key Values - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "conditionKeyValues",
      "ncTabAlias": "Condition",
      "nameTemplate": "{{conditionKey}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>