<?xml version="1.0" encoding="utf-8"?>
<DataType Key="58a9b388-8edf-49da-9687-200609b642fb" Alias="Condition Value - Nested Content" Level="2">
  <Info>
    <Name>Condition Value - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "conditionValue",
      "ncTabAlias": "Condition",
      "nameTemplate": "{{value}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>