<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c529fa8-097e-401e-a677-f9d3a8bd459a" Alias="Content Base - Image - File upload" Level="2">
  <Info>
    <Name>Content Base - Image - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Content+Base</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>