<?xml version="1.0" encoding="utf-8"?>
<DataType Key="43031b02-abef-44e0-9a82-9695019feeee" Alias="Content Base - Images - Media Picker" Level="2">
  <Info>
    <Name>Content Base - Images - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Content+Base</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "OnlyImages": true,
  "DisableFolderSelect": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>