<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2cec9f44-d587-4a74-99b3-3749ef6ea086" Alias="Content Info - Nested Content" Level="2">
  <Info>
    <Name>Content Info - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "contentInfo",
      "ncTabAlias": "Info",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>