<?xml version="1.0" encoding="utf-8"?>
<DataType Key="518bda83-0571-4bbc-93fb-911027c73628" Alias="Content Base - Content - Textarea" Level="2">
  <Info>
    <Name>Content Base - Content - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Content+Base</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>