<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8159a48-860d-4b44-87d9-d8a5bcd01f78" Alias="Country - Dropdown" Level="3">
  <Info>
    <Name>Country - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Common/Dropdown</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Andorra"
    },
    {
      "id": 2,
      "value": "United Arab Emirates"
    },
    {
      "id": 3,
      "value": "Afghanistan"
    },
    {
      "id": 4,
      "value": "Antigua and Barbuda"
    },
    {
      "id": 5,
      "value": "Anguilla"
    },
    {
      "id": 6,
      "value": "Albania"
    },
    {
      "id": 7,
      "value": "Armenia"
    },
    {
      "id": 8,
      "value": "Netherlands Antilles"
    },
    {
      "id": 9,
      "value": "Angola"
    },
    {
      "id": 10,
      "value": "Antarctica"
    },
    {
      "id": 11,
      "value": "Argentina"
    },
    {
      "id": 12,
      "value": "American Samoa"
    },
    {
      "id": 13,
      "value": "Austria"
    },
    {
      "id": 14,
      "value": "Australia"
    },
    {
      "id": 15,
      "value": "Aruba"
    },
    {
      "id": 16,
      "value": "Aland Islands"
    },
    {
      "id": 17,
      "value": "Azerbaijan"
    },
    {
      "id": 18,
      "value": "Bosnia and Herzegovina"
    },
    {
      "id": 19,
      "value": "Barbados"
    },
    {
      "id": 20,
      "value": "Bangladesh"
    },
    {
      "id": 21,
      "value": "Belgium"
    },
    {
      "id": 22,
      "value": "Burkina Faso"
    },
    {
      "id": 23,
      "value": "Bulgaria"
    },
    {
      "id": 24,
      "value": "Bahrain"
    },
    {
      "id": 25,
      "value": "Burundi"
    },
    {
      "id": 26,
      "value": "Benin"
    },
    {
      "id": 27,
      "value": "Saint Barthélemy"
    },
    {
      "id": 28,
      "value": "Bermuda"
    },
    {
      "id": 29,
      "value": "Brunei Darussalam"
    },
    {
      "id": 30,
      "value": "Bolivia"
    },
    {
      "id": 31,
      "value": "Bonaire, Sint Eustatius and Saba"
    },
    {
      "id": 32,
      "value": "Brazil"
    },
    {
      "id": 33,
      "value": "Bahamas"
    },
    {
      "id": 34,
      "value": "Bhutan"
    },
    {
      "id": 35,
      "value": "Bouvet Islands"
    },
    {
      "id": 36,
      "value": "Botswana"
    },
    {
      "id": 37,
      "value": "Belarus"
    },
    {
      "id": 38,
      "value": "Belize"
    },
    {
      "id": 39,
      "value": "Canada"
    },
    {
      "id": 40,
      "value": "Cocos (Keeling) Islands"
    },
    {
      "id": 41,
      "value": "Democratic Republic of the Congo"
    },
    {
      "id": 42,
      "value": "Central African Republic"
    },
    {
      "id": 43,
      "value": "Congo"
    },
    {
      "id": 44,
      "value": "Switzerland"
    },
    {
      "id": 45,
      "value": "Cote d'Ivoire"
    },
    {
      "id": 46,
      "value": "Cook Islands"
    },
    {
      "id": 47,
      "value": "Chile"
    },
    {
      "id": 48,
      "value": "Cameroon"
    },
    {
      "id": 49,
      "value": "China"
    },
    {
      "id": 50,
      "value": "Colombia"
    },
    {
      "id": 51,
      "value": "Costa Rica"
    },
    {
      "id": 52,
      "value": "Serbia and Montenegro"
    },
    {
      "id": 53,
      "value": "Cuba"
    },
    {
      "id": 54,
      "value": "Cape Verde"
    },
    {
      "id": 55,
      "value": "Curaçao"
    },
    {
      "id": 56,
      "value": "Christmas Island"
    },
    {
      "id": 57,
      "value": "Cyprus"
    },
    {
      "id": 58,
      "value": "Czech Republic"
    },
    {
      "id": 59,
      "value": "Germany"
    },
    {
      "id": 60,
      "value": "Djibouti"
    },
    {
      "id": 61,
      "value": "Denmark"
    },
    {
      "id": 62,
      "value": "Dominica"
    },
    {
      "id": 63,
      "value": "Dominican Republic"
    },
    {
      "id": 64,
      "value": "Algeria"
    },
    {
      "id": 65,
      "value": "Ecuador"
    },
    {
      "id": 66,
      "value": "Estonia"
    },
    {
      "id": 67,
      "value": "Egypt"
    },
    {
      "id": 68,
      "value": "West Sahara"
    },
    {
      "id": 69,
      "value": "Eritrea"
    },
    {
      "id": 70,
      "value": "Spain"
    },
    {
      "id": 71,
      "value": "Ethiopia"
    },
    {
      "id": 72,
      "value": "Finland"
    },
    {
      "id": 73,
      "value": "Fiji"
    },
    {
      "id": 74,
      "value": "Falkland Islands"
    },
    {
      "id": 75,
      "value": "Micronesia"
    },
    {
      "id": 76,
      "value": "Faroe Islands"
    },
    {
      "id": 77,
      "value": "France"
    },
    {
      "id": 78,
      "value": "Gabon"
    },
    {
      "id": 79,
      "value": "United Kingdom"
    },
    {
      "id": 80,
      "value": "Grenada"
    },
    {
      "id": 81,
      "value": "Georgia"
    },
    {
      "id": 82,
      "value": "French Guyana"
    },
    {
      "id": 83,
      "value": "Guernsey"
    },
    {
      "id": 84,
      "value": "Ghana"
    },
    {
      "id": 85,
      "value": "Gibraltar"
    },
    {
      "id": 86,
      "value": "Greenland"
    },
    {
      "id": 87,
      "value": "Gambia"
    },
    {
      "id": 88,
      "value": "Guinea"
    },
    {
      "id": 89,
      "value": "Guadeloupe"
    },
    {
      "id": 90,
      "value": "Equatorial Guinea"
    },
    {
      "id": 91,
      "value": "Greece"
    },
    {
      "id": 92,
      "value": "South Georgia and the Southern Sandwich Islands"
    },
    {
      "id": 93,
      "value": "Guatemala"
    },
    {
      "id": 94,
      "value": "Guam"
    },
    {
      "id": 95,
      "value": "Guinea-Bissau"
    },
    {
      "id": 96,
      "value": "Guyana"
    },
    {
      "id": 97,
      "value": "Hong Kong"
    },
    {
      "id": 98,
      "value": "Heard and McDonald Islands"
    },
    {
      "id": 99,
      "value": "Honduras"
    },
    {
      "id": 100,
      "value": "Croatia"
    },
    {
      "id": 101,
      "value": "Haiti"
    },
    {
      "id": 102,
      "value": "Hungary"
    },
    {
      "id": 103,
      "value": "Indonesia"
    },
    {
      "id": 104,
      "value": "Ireland"
    },
    {
      "id": 105,
      "value": "Israel"
    },
    {
      "id": 106,
      "value": "Isle Of Man"
    },
    {
      "id": 107,
      "value": "India"
    },
    {
      "id": 108,
      "value": "British Indian Ocean Territory"
    },
    {
      "id": 109,
      "value": "Iraq"
    },
    {
      "id": 110,
      "value": "Iran"
    },
    {
      "id": 111,
      "value": "Iceland"
    },
    {
      "id": 112,
      "value": "Italy"
    },
    {
      "id": 113,
      "value": "Jersey"
    },
    {
      "id": 114,
      "value": "Jamaica"
    },
    {
      "id": 115,
      "value": "Jordan"
    },
    {
      "id": 116,
      "value": "Japan"
    },
    {
      "id": 117,
      "value": "Kenya"
    },
    {
      "id": 118,
      "value": "Kyrgyzstan"
    },
    {
      "id": 119,
      "value": "Cambodia"
    },
    {
      "id": 120,
      "value": "Kiribati"
    },
    {
      "id": 121,
      "value": "Comoros"
    },
    {
      "id": 122,
      "value": "Saint Kitts and Nevis"
    },
    {
      "id": 123,
      "value": "North Korea"
    },
    {
      "id": 124,
      "value": "South Korea"
    },
    {
      "id": 125,
      "value": "Kuwait"
    },
    {
      "id": 126,
      "value": "Cayman Islands"
    },
    {
      "id": 127,
      "value": "Kazakhstan"
    },
    {
      "id": 128,
      "value": "Laos"
    },
    {
      "id": 129,
      "value": "Lebanon"
    },
    {
      "id": 130,
      "value": "St. Lucia"
    },
    {
      "id": 131,
      "value": "Liechtenstein"
    },
    {
      "id": 132,
      "value": "Sri Lanka"
    },
    {
      "id": 133,
      "value": "Liberia"
    },
    {
      "id": 134,
      "value": "Lesotho"
    },
    {
      "id": 135,
      "value": "Lithuania"
    },
    {
      "id": 136,
      "value": "Luxembourg"
    },
    {
      "id": 137,
      "value": "Latvia"
    },
    {
      "id": 138,
      "value": "Libya"
    },
    {
      "id": 139,
      "value": "Morocco"
    },
    {
      "id": 140,
      "value": "Monaco"
    },
    {
      "id": 141,
      "value": "Moldova"
    },
    {
      "id": 142,
      "value": "Montenegro"
    },
    {
      "id": 143,
      "value": "Saint Martin"
    },
    {
      "id": 144,
      "value": "Madagascar"
    },
    {
      "id": 145,
      "value": "Marshall Islands"
    },
    {
      "id": 146,
      "value": "Macedonia"
    },
    {
      "id": 147,
      "value": "Mali"
    },
    {
      "id": 148,
      "value": "Myanmar"
    },
    {
      "id": 149,
      "value": "Mongolia"
    },
    {
      "id": 150,
      "value": "Macao"
    },
    {
      "id": 151,
      "value": "North Mariana Islands"
    },
    {
      "id": 152,
      "value": "Martinique"
    },
    {
      "id": 153,
      "value": "Mauretania"
    },
    {
      "id": 154,
      "value": "Montserrat"
    },
    {
      "id": 155,
      "value": "Malta"
    },
    {
      "id": 156,
      "value": "Mauritius"
    },
    {
      "id": 157,
      "value": "Maldives"
    },
    {
      "id": 158,
      "value": "Malawi"
    },
    {
      "id": 159,
      "value": "Mexico"
    },
    {
      "id": 160,
      "value": "Malaysia"
    },
    {
      "id": 161,
      "value": "Mozambique"
    },
    {
      "id": 162,
      "value": "Namibia"
    },
    {
      "id": 163,
      "value": "New Caledonia"
    },
    {
      "id": 164,
      "value": "Niger"
    },
    {
      "id": 165,
      "value": "Norfolk Islands"
    },
    {
      "id": 166,
      "value": "Nigeria"
    },
    {
      "id": 167,
      "value": "Nicaragua"
    },
    {
      "id": 168,
      "value": "Netherlands"
    },
    {
      "id": 169,
      "value": "Norway"
    },
    {
      "id": 170,
      "value": "Nepal"
    },
    {
      "id": 171,
      "value": "Nauru"
    },
    {
      "id": 172,
      "value": "Niue"
    },
    {
      "id": 173,
      "value": "New Zealand"
    },
    {
      "id": 174,
      "value": "Oman"
    },
    {
      "id": 175,
      "value": "Panama"
    },
    {
      "id": 176,
      "value": "Peru"
    },
    {
      "id": 177,
      "value": "French Polynesia"
    },
    {
      "id": 178,
      "value": "Papua New Guinea"
    },
    {
      "id": 179,
      "value": "Philippines"
    },
    {
      "id": 180,
      "value": "Pakistan"
    },
    {
      "id": 181,
      "value": "Poland"
    },
    {
      "id": 182,
      "value": "St. Pierre and Miquelon"
    },
    {
      "id": 183,
      "value": "Pitcairn Islands"
    },
    {
      "id": 184,
      "value": "Puerto Rico"
    },
    {
      "id": 185,
      "value": "Palestine, State of"
    },
    {
      "id": 186,
      "value": "Portugal"
    },
    {
      "id": 187,
      "value": "Palau"
    },
    {
      "id": 188,
      "value": "Paraguay"
    },
    {
      "id": 189,
      "value": "Qatar"
    },
    {
      "id": 190,
      "value": "Reunion"
    },
    {
      "id": 191,
      "value": "Romania"
    },
    {
      "id": 192,
      "value": "Serbia"
    },
    {
      "id": 193,
      "value": "Russian Federation"
    },
    {
      "id": 194,
      "value": "Rwanda"
    },
    {
      "id": 195,
      "value": "Saudi Arabia"
    },
    {
      "id": 196,
      "value": "Solomon Islands"
    },
    {
      "id": 197,
      "value": "Seychelles"
    },
    {
      "id": 198,
      "value": "Sudan"
    },
    {
      "id": 199,
      "value": "Sweden"
    },
    {
      "id": 200,
      "value": "Singapore"
    },
    {
      "id": 201,
      "value": "St. Helena"
    },
    {
      "id": 202,
      "value": "Slovenia"
    },
    {
      "id": 203,
      "value": "Svalbard"
    },
    {
      "id": 204,
      "value": "Slovakia"
    },
    {
      "id": 205,
      "value": "Sierra Leone"
    },
    {
      "id": 206,
      "value": "San Marino"
    },
    {
      "id": 207,
      "value": "Senegal"
    },
    {
      "id": 208,
      "value": "Somalia"
    },
    {
      "id": 209,
      "value": "Suriname"
    },
    {
      "id": 210,
      "value": "Republic of South Sudan"
    },
    {
      "id": 211,
      "value": "Sao Tome and Principe"
    },
    {
      "id": 212,
      "value": "El Salvador"
    },
    {
      "id": 213,
      "value": "Sint Maarten"
    },
    {
      "id": 214,
      "value": "Syria"
    },
    {
      "id": 215,
      "value": "Swaziland"
    },
    {
      "id": 216,
      "value": "Turksh Caicosin"
    },
    {
      "id": 217,
      "value": "Chad"
    },
    {
      "id": 218,
      "value": "French Southern Territories"
    },
    {
      "id": 219,
      "value": "Togo"
    },
    {
      "id": 220,
      "value": "Thailand"
    },
    {
      "id": 221,
      "value": "Tajikistan"
    },
    {
      "id": 222,
      "value": "Tokelau Islands"
    },
    {
      "id": 223,
      "value": "Timor-Leste"
    },
    {
      "id": 224,
      "value": "Turkmenistan"
    },
    {
      "id": 225,
      "value": "Tunisia"
    },
    {
      "id": 226,
      "value": "Tonga"
    },
    {
      "id": 227,
      "value": "Turkey"
    },
    {
      "id": 228,
      "value": "Trinidad,Tobago"
    },
    {
      "id": 229,
      "value": "Tuvalu"
    },
    {
      "id": 230,
      "value": "Taiwan"
    },
    {
      "id": 231,
      "value": "Tanzania"
    },
    {
      "id": 232,
      "value": "Ukraine"
    },
    {
      "id": 233,
      "value": "Uganda"
    },
    {
      "id": 234,
      "value": "American Minor Outlying Islands"
    },
    {
      "id": 235,
      "value": "United States"
    },
    {
      "id": 236,
      "value": "Uruguay"
    },
    {
      "id": 237,
      "value": "Uzbekistan"
    },
    {
      "id": 238,
      "value": "Vatican City"
    },
    {
      "id": 239,
      "value": "St. Vincent"
    },
    {
      "id": 240,
      "value": "Venezuela"
    },
    {
      "id": 241,
      "value": "British Virgin Islands"
    },
    {
      "id": 242,
      "value": "American Virgin Islands"
    },
    {
      "id": 243,
      "value": "Vietnam"
    },
    {
      "id": 244,
      "value": "Vanuatu"
    },
    {
      "id": 245,
      "value": "Wallis and Futuna Islands"
    },
    {
      "id": 246,
      "value": "Samoa"
    },
    {
      "id": 247,
      "value": "Yemen"
    },
    {
      "id": 248,
      "value": "Mayotte"
    },
    {
      "id": 249,
      "value": "South Africa"
    },
    {
      "id": 250,
      "value": "Zambia"
    },
    {
      "id": 251,
      "value": "Zimbabwe"
    }
  ]
}]]></Config>
</DataType>