<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1905047-3d2f-46bd-9b38-aae0ff8a31a1" Alias="Decimal" Level="1">
  <Info>
    <Name>Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 0
}]]></Config>
</DataType>