<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac63bab6-028b-44ef-a34c-b1d28ba8a8bd" Alias="Dropdown Item - Nested Content" Level="2">
  <Info>
    <Name>Dropdown Item - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "dropdownItem",
      "ncTabAlias": "Condition",
      "nameTemplate": "{{displayText}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>