<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d71a4929-1115-457d-af9c-55b817f6cab8" Alias="Filter Type Value Options - Nested Content" Level="2">
  <Info>
    <Name>Filter Type Value Options - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "filterTypeValueOptions",
      "ncTabAlias": "Filter",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>