<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ccc1687-7d84-42c2-8fa6-0a51c39dec45" Alias="Filter Option - Filter Option - Multinode Treepicker" Level="2">
  <Info>
    <Name>Filter Option - Filter Option - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Filter+Configuration</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": "umb://document/86603d2ce67b4efbae916836ed94d72d"
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>