<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6cb0e0c0-2bce-464e-98c7-bd8dc849fe4a" Alias="Gallery Component - Content Source Option - Dropdown" Level="2">
  <Info>
    <Name>Gallery Component - Content Source Option - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Dropdown+%26+Radio</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "From Child Pages"
    },
    {
      "id": 2,
      "value": "From Fixed Items"
    }
  ]
}]]></Config>
</DataType>