<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f277935-62bb-46cd-a7a4-f718623ad454" Alias="Global Timber List - Timbers - Nested Content" Level="2">
  <Info>
    <Name>Global Timber List - Timbers - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "timber",
      "ncTabAlias": "Timber",
      "nameTemplate": "{{timberName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>