<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32541271-e378-4c1d-bf25-40eb38174b3b" Alias="Global Colour List - Nested Content" Level="2">
  <Info>
    <Name>Global Colour List - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "colour",
      "ncTabAlias": "Colour info",
      "nameTemplate": "{{colourName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>