<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aa1ec183-afbf-4ddf-b363-704b245b22d0" Alias="Global Filter - Picker" Level="2">
  <Info>
    <Name>Global Filter - Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Filter+Configuration</Folder>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>