<?xml version="1.0" encoding="utf-8"?>
<DataType Key="63c15ed4-f604-40cc-8b5c-e0e86ed12e02" Alias="Google Maps Umbraco 8" Level="1">
  <Info>
    <Name>Google Maps Umbraco 8</Name>
    <EditorAlias>Our.Umbraco.GMaps</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "apikey": "{{YourGMapsApiKey}}",
  "maptype": "Roadmap",
  "mapstyle": {
    "selectedstyle": {},
    "customstyle": true
  }
}]]></Config>
</DataType>