<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd03eff1-9a58-4759-a4b5-eea4b777bba9" Alias="Header - Footer - Navigation Menu - Form Picker" Level="1">
  <Info>
    <Name>Header - Footer - Navigation Menu - Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "allowedForms": [
    "8b72923b-b97d-4314-91c8-bcc20259b3c2",
    "ade283cc-7b5e-45f5-90e0-7b71882bc12d"
  ]
}]]></Config>
</DataType>