<?xml version="1.0" encoding="utf-8"?>
<DataType Key="efcb71e2-7366-45b8-a686-b337941e40f7" Alias="Header - Footer - Navigation Menu - Product Navigation - Content Picker" Level="1">
  <Info>
    <Name>Header - Footer - Navigation Menu - Product Navigation - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>