<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e7adf87-6959-406a-8d2b-1deac18f10ff" Alias="Icon Link - Icon - Dropdown" Level="2">
  <Info>
    <Name>Icon Link - Icon - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Dropdown+%26+Radio</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 9,
      "value": "Social Facebook"
    },
    {
      "id": 10,
      "value": "Social Instagram"
    },
    {
      "id": 11,
      "value": "Social Pinterest"
    },
    {
      "id": 12,
      "value": "Social Youtube"
    }
  ]
}]]></Config>
</DataType>