<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c8b7910-6088-4fd9-8073-b9f8af5f257f" Alias="Image Media Picker" Level="1">
  <Info>
    <Name>Image Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>