<?xml version="1.0" encoding="utf-8"?>
<DataType Key="05a8972e-20a2-44cb-a6a4-7cab3d60c4cb" Alias="Image Item - Nested Content" Level="2">
  <Info>
    <Name>Image Item - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "imageItem",
      "ncTabAlias": "Image",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>