<?xml version="1.0" encoding="utf-8"?>
<DataType Key="429fe8f3-0cef-4d25-972f-1f5fdfb86d8d" Alias="Integration - Hubspot Refresh Token" Level="1">
  <Info>
    <Name>Integration - Hubspot Refresh Token</Name>
    <EditorAlias>HubspotRefreshToken</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>