<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b797a7d9-0b9e-4fae-b6d7-d2c9862c54e9" Alias="Item Listing - Sort By - Dropdown" Level="2">
  <Info>
    <Name>Item Listing - Sort By - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Item+Listing</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 3,
      "value": "Title"
    },
    {
      "id": 1,
      "value": "Created Date"
    },
    {
      "id": 2,
      "value": "Last Modified Date"
    }
  ]
}]]></Config>
</DataType>