<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d8d276d-0920-4d81-b574-88d83112dc6b" Alias="Item Listing - Content Source - Dropdown" Level="2">
  <Info>
    <Name>Item Listing - Content Source - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Item+Listing</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "From Fixed Items"
    },
    {
      "id": 2,
      "value": "From Child Pages"
    },
    {
      "id": 3,
      "value": "From Default List"
    }
  ]
}]]></Config>
</DataType>