<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9b8ad2f7-c3c7-493a-8799-fbd28aa63ba6" Alias="Item Listing - Order Type - Dropdown" Level="2">
  <Info>
    <Name>Item Listing - Order Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Item+Listing</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Ascending"
    },
    {
      "id": 2,
      "value": "Descending"
    }
  ]
}]]></Config>
</DataType>