<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8a79f582-c1fb-45b6-8efc-ce5bd46c75f3" Alias="Item Listing - Items - Nested Content" Level="2">
  <Info>
    <Name>Item Listing - Items - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Item+Listing</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "contentInfo",
      "ncTabAlias": "Info",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>