<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9998666f-13bb-4908-8639-11518986fcf3" Alias="Item Listing - Available Size - Dropdown" Level="2">
  <Info>
    <Name>Item Listing - Available Size - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Item+Listing</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 13,
      "value": "4L"
    },
    {
      "id": 11,
      "value": "1L"
    },
    {
      "id": 17,
      "value": "Unit"
    },
    {
      "id": 3,
      "value": "0.5sqm"
    },
    {
      "id": 4,
      "value": "1sqm"
    },
    {
      "id": 7,
      "value": "50ml"
    },
    {
      "id": 5,
      "value": "125g"
    },
    {
      "id": 6,
      "value": "250g"
    },
    {
      "id": 1,
      "value": "250ml"
    },
    {
      "id": 9,
      "value": "300g"
    },
    {
      "id": 18,
      "value": "375ml"
    },
    {
      "id": 8,
      "value": "500ml"
    },
    {
      "id": 10,
      "value": "1kg"
    },
    {
      "id": 12,
      "value": "2L"
    },
    {
      "id": 14,
      "value": "10L"
    },
    {
      "id": 15,
      "value": "150L"
    },
    {
      "id": 16,
      "value": "200L"
    }
  ]
}]]></Config>
</DataType>