<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ad470231-4b74-40d4-adce-b3107fd85fdd" Alias="Item Listing - Item Listing Layout - Dropdown" Level="2">
  <Info>
    <Name>Item Listing - Item Listing Layout - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Item+Listing</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 4,
      "value": "Three columns slider - with caption"
    },
    {
      "id": 6,
      "value": "One column slider"
    },
    {
      "id": 10,
      "value": "Three columns slider"
    },
    {
      "id": 11,
      "value": "Three columns slider - center aligned"
    },
    {
      "id": 12,
      "value": "Three columns slider without caption"
    }
  ]
}]]></Config>
</DataType>