<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01b3341b-b0ff-42f4-94da-cd10cfda6403" Alias="Item Listing - Starter Node - Content Picker" Level="2">
  <Info>
    <Name>Item Listing - Starter Node - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Item+Listing</Folder>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>