<?xml version="1.0" encoding="utf-8"?>
<DataType Key="084c2700-b447-4c51-8368-e35d7b102c14" Alias="Item Listing - Display As Button - Checkbox" Level="2">
  <Info>
    <Name>Item Listing - Display As Button - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Item+Listing</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": "0",
  "Label": null
}]]></Config>
</DataType>