<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2dcc277a-93e4-4f5b-b735-9ad4ce29ccb2" Alias="Link - Title - Textbox" Level="1">
  <Info>
    <Name>Link - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>