<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b4e9711a-699f-4fcc-a39b-f6bf0b29e443" Alias="Listing Components - Layout Picker - Dropdown" Level="2">
  <Info>
    <Name>Listing Components - Layout Picker - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Listing+Component</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 3,
      "value": "Two Columns"
    },
    {
      "id": 10,
      "value": "Three Columns With Flexible Height Items"
    },
    {
      "id": 11,
      "value": "Three Columns With Attributes"
    },
    {
      "id": 2,
      "value": "Four Columns"
    }
  ]
}]]></Config>
</DataType>