<?xml version="1.0" encoding="utf-8"?>
<DataType Key="579c4ee4-16fc-4129-adce-c53cf2baed26" Alias="Listing Component - Group By Filter - Dropdown" Level="2">
  <Info>
    <Name>Listing Component - Group By Filter - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Listing+Component</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": []
}]]></Config>
</DataType>