<?xml version="1.0" encoding="utf-8"?>
<DataType Key="efe0adc8-a2d8-4afc-b786-f5d6feab7176" Alias="Listing Default Configuration - Content Source - Dropdown" Level="2">
  <Info>
    <Name>Listing Default Configuration - Content Source - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Listing+Component</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "From Fixed Items"
    },
    {
      "id": 2,
      "value": "From Child Pages"
    }
  ]
}]]></Config>
</DataType>