<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a32fe47b-09c4-4b08-81c1-eb3b9d00f5fe" Alias="Listing Component - Starter Node - Content Picker" Level="2">
  <Info>
    <Name>Listing Component - Starter Node - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Listing+Component</Folder>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>