<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67d4718f-b2af-4e0f-9fd3-5ae8e19f2123" Alias="Listing Component - Sort Order - Dropdown" Level="2">
  <Info>
    <Name>Listing Component - Sort Order - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Listing+Component</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Ascending"
    },
    {
      "id": 2,
      "value": "Descending"
    }
  ]
}]]></Config>
</DataType>