<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d491f51e-7c04-4157-8d19-be84f11fe139" Alias="Listing Component - Sort Type - Dropdown" Level="2">
  <Info>
    <Name>Listing Component - Sort Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Listing+Component</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Title"
    },
    {
      "id": 2,
      "value": "Last Modified Date"
    },
    {
      "id": 3,
      "value": "Created Date"
    }
  ]
}]]></Config>
</DataType>