<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5ea76eb-0cd6-4708-ba84-d3915fc92784" Alias="Listing Component - Filtering By - Dropdown" Level="2">
  <Info>
    <Name>Listing Component - Filtering By - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Listing+Component</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "Items": [
    {
      "id": 14,
      "value": "Available Sizes"
    },
    {
      "id": 15,
      "value": "Product Sub-category"
    },
    {
      "id": 16,
      "value": "Blog Category"
    }
  ]
}]]></Config>
</DataType>