<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eed8ed69-96f8-47e7-af2f-29eed7ef5ba5" Alias="Listing Component - Additional Items - Multinode Treepicker" Level="2">
  <Info>
    <Name>Listing Component - Additional Items - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Listing+Component</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "products,product,article,articles,plant,plants,landingPage",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>