<?xml version="1.0" encoding="utf-8"?>
<DataType Key="399dd7a2-335b-4e3f-835b-6167e74c7a41" Alias="Mailchimp Mapping Value - Nested Content" Level="2">
  <Info>
    <Name>Mailchimp Mapping Value - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "mailchimpMappingValue",
      "ncTabAlias": "Mapping",
      "nameTemplate": "({{interestCategoryName}}) {{interestName}} - {{mailchimpInterestId}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>