<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c3bfdccf-c12f-4710-b80c-fac0e54a7a72" Alias="Mapped Condition Value - Nested Content" Level="2">
  <Info>
    <Name>Mapped Condition Value - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "mappedConditionValue",
      "ncTabAlias": "Mapped Value",
      "nameTemplate": "From: {{conditionValue}}  To: {{filterValue}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>