<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c1442a90-e3f4-458d-8976-7b090892f203" Alias="Mega Menu Item - Nested Content" Level="2">
  <Info>
    <Name>Mega Menu Item - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "megaMenuItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>