<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f9872e0-abd1-4233-97a8-ec205e952fdf" Alias="Menu Item - Number of Child-Items per Column - Decimal" Level="2">
  <Info>
    <Name>Menu Item - Number of Child-Items per Column - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
    <Folder>Menu</Folder>
  </Info>
  <Config><![CDATA[{
  "step": 1
}]]></Config>
</DataType>