<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ac6c7439-bd8e-40c3-9214-4744b4e8b792" Alias="Menu Item - Tile Items - Nested Content" Level="2">
  <Info>
    <Name>Menu Item - Tile Items - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Menu</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "contentInfo",
      "ncTabAlias": "Info",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>