<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b04a21f4-c7b0-4ff0-b6e9-68cc91bd48e0" Alias="Menu Item - Child Items - Nested Content" Level="2">
  <Info>
    <Name>Menu Item - Child Items - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Menu</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "menuItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>