<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e14549e8-f937-4e23-9401-cbdc458ff5ea" Alias="Menu Item - Title - Textbox" Level="2">
  <Info>
    <Name>Menu Item - Title - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Menu</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>