<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54c26231-10c9-4286-a043-3b814412e809" Alias="Months - Dropdown" Level="2">
  <Info>
    <Name>Months - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Filtering+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "Items": [
    {
      "id": 1,
      "value": "January"
    },
    {
      "id": 2,
      "value": "February"
    },
    {
      "id": 3,
      "value": "March"
    },
    {
      "id": 4,
      "value": "April"
    },
    {
      "id": 5,
      "value": "May"
    },
    {
      "id": 6,
      "value": "June"
    },
    {
      "id": 7,
      "value": "July"
    },
    {
      "id": 8,
      "value": "August"
    },
    {
      "id": 9,
      "value": "September"
    },
    {
      "id": 10,
      "value": "October"
    },
    {
      "id": 11,
      "value": "November"
    },
    {
      "id": 12,
      "value": "December"
    }
  ]
}]]></Config>
</DataType>