<?xml version="1.0" encoding="utf-8"?>
<DataType Key="39664848-a556-4ddb-b2cc-47e49efc86d7" Alias="Navigation Component - In-depth Level - Dropdown" Level="2">
  <Info>
    <Name>Navigation Component - In-depth Level - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Navigation+Component</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Level 1"
    },
    {
      "id": 2,
      "value": "Level 2"
    }
  ]
}]]></Config>
</DataType>