<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1611a0dd-cc4a-49de-b3cf-d1ce9f2e8088" Alias="Navigation Component - Starter Node - Content Picker" Level="2">
  <Info>
    <Name>Navigation Component - Starter Node - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Navigation+Component</Folder>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>