<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a5b464f4-8ba2-488a-bb62-1aea39bc925a" Alias="Password" Level="1">
  <Info>
    <Name>Password</Name>
    <EditorAlias>UmbracoSandbox.Password</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>