<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e198b542-784f-4881-a2c6-3799b30a33ad" Alias="Primary Filters - Multinode Treepicker" Level="2">
  <Info>
    <Name>Primary Filters - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Filter+Configuration</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "primaryFilter",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>