<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74589220-9798-4e66-bd2e-fcc21b0a2e69" Alias="Primary Filter By" Level="2">
  <Info>
    <Name>Primary Filter By</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Filtering+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": true,
  "Items": [
    {
      "id": 2,
      "value": "Climate"
    }
  ]
}]]></Config>
</DataType>