<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be9733a3-1cf0-49e1-99a1-37bfb397c380" Alias="Product Sub-category - Dropdown" Level="2">
  <Info>
    <Name>Product Sub-category - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Dropdown+%26+Radio</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 3,
      "value": "Brush"
    },
    {
      "id": 4,
      "value": "Bucket"
    },
    {
      "id": 5,
      "value": "Can"
    },
    {
      "id": 6,
      "value": "Spray"
    }
  ]
}]]></Config>
</DataType>