<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fddffb31-1719-46d2-8c00-dbb7d6b14e65" Alias="Product Attributes - Product attributes - Nested Content" Level="2">
  <Info>
    <Name>Product Attributes - Product attributes - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "attribute",
      "ncTabAlias": "Content",
      "nameTemplate": "{{label}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>