<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c741731-f5be-4e27-895a-a0e79657e408" Alias="Product Timber - Timber Name - Content Picker" Level="2">
  <Info>
    <Name>Product Timber - Timber Name - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Filter+Configuration</Folder>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/28b1c1a50d11454cbe1d6e11b523ebc2",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>