<?xml version="1.0" encoding="utf-8"?>
<DataType Key="258e98ef-786f-455a-95b4-d53be03081b4" Alias="Product Coating Info - Product color - Content Picker" Level="2">
  <Info>
    <Name>Product Coating Info - Product color - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Filter+Configuration</Folder>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/afaf9212125e4e828dc70d25f676eb38",
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>