<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9465af96-df01-4e5b-9e10-0e804cbf7588" Alias="Product Coating Info - Available timbers - Nested Content" Level="2">
  <Info>
    <Name>Product Coating Info - Available timbers - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "productTimber",
      "ncTabAlias": "Timber",
      "nameTemplate": "{{timberName | ncNodeName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>