<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b2078485-4bea-47ac-b8b2-c2f823164c64" Alias="Product Summary - Colour Accuracy - Checkbox" Level="1">
  <Info>
    <Name>Product Summary - Colour Accuracy - Checkbox</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": "1",
  "Label": null
}]]></Config>
</DataType>