<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76644973-172d-4d90-b316-d13230e23f9b" Alias="Product Timber - Coats - Nested Content" Level="2">
  <Info>
    <Name>Product Timber - Coats - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "coat",
      "ncTabAlias": "Coat",
      "nameTemplate": "{{coatOption[0]}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>