<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de5a796c-7c0d-4583-be43-dc339ac0d7dc" Alias="Product - Coating - Nested Content" Level="2">
  <Info>
    <Name>Product - Coating - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "productColor",
      "ncTabAlias": "Colors",
      "nameTemplate": "{{availableColor | ncNodeName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>