<?xml version="1.0" encoding="utf-8"?>
<DataType Key="37c33a01-9e0d-45b4-87bd-9dc5139d472c" Alias="Product Variant Mapping - Nested Content" Level="2">
  <Info>
    <Name>Product Variant Mapping - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "productVariantMapping",
      "ncTabAlias": "Mapping",
      "nameTemplate": "{{sizes}} {{colors | ncNodeName}} : {{shopifyValue}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>