<?xml version="1.0" encoding="utf-8"?>
<DataType Key="acbce0f6-f1fd-477b-93df-63177d0c8d03" Alias="Search Page - Others Starter Node - Multinode Treepicker" Level="1">
  <Info>
    <Name>Search Page - Others Starter Node - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "landingPage,product,products,question,questions,article,articles,stores,store",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>