<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e3186bff-8c93-4a18-8b7c-3692d91947cf" Alias="Search Page - Blogs Starter Node - Content Picker" Level="1">
  <Info>
    <Name>Search Page - Blogs Starter Node - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>