<?xml version="1.0" encoding="utf-8"?>
<DataType Key="08cfe05c-2f3b-4b2a-afe2-24c3793c3ae5" Alias="Search Page - Products Starter Node - Content Picker" Level="1">
  <Info>
    <Name>Search Page - Products Starter Node - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>