<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e5923f3-5d55-4fc0-9015-f1c1392ea8bd" Alias="Stockist - Location - Google Maps Single Marker" Level="1">
  <Info>
    <Name>Stockist - Location - Google Maps Single Marker</Name>
    <EditorAlias>Our.Umbraco.GMaps</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "apikey": "AIzaSyBXb7Y5fQwVnemDM6XduRXCqVnzjZbZToo",
  "location": "-21.1895625,95.4746877",
  "zoom": 0,
  "maptype": "Roadmap"
}]]></Config>
</DataType>