<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7138e4b-9fb4-4c0e-ba89-20ba85a4365c" Alias="Store - Address - Google Maps Single Marker" Level="1">
  <Info>
    <Name>Store - Address - Google Maps Single Marker</Name>
    <EditorAlias>Our.Umbraco.GMaps</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "apikey": "",
  "location": "-21.1895625,95.4746877",
  "zoom": 0,
  "maptype": "Roadmap"
}]]></Config>
</DataType>