<?xml version="1.0" encoding="utf-8"?>
<DataType Key="853397a3-da7e-4d51-968b-d5e7fadbdbbc" Alias="Stores - Radius Range (meters) - Numeric" Level="1">
  <Info>
    <Name>Stores - Radius Range (meters) - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 10000
}]]></Config>
</DataType>