<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bae270fe-e5c5-4062-9a1d-3972e07d089e" Alias="Tab Item - Nested Content" Level="2">
  <Info>
    <Name>Tab Item - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Nested+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "tabItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{tabName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>