<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1ee89a5-02f3-4f2f-b26d-e285cae4fa58" Alias="Title - Dropdown" Level="3">
  <Info>
    <Name>Title - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Common/Dropdown</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Ms."
    },
    {
      "id": 2,
      "value": "Mr."
    },
    {
      "id": 3,
      "value": "Mrs."
    },
    {
      "id": 4,
      "value": "Miss"
    },
    {
      "id": 5,
      "value": "Other"
    }
  ]
}]]></Config>
</DataType>