<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf3511e6-fece-4b34-b80f-1230c2500da7" Alias="Xml Sitemap Settings Base - Search Engine Relative Priority - Slider" Level="2">
  <Info>
    <Name>Xml Sitemap Settings Base - Search Engine Relative Priority - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Xml+Sitemap</Folder>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 0.5,
  "InitialValue2": 0.0,
  "MinimumValue": 0.1,
  "MaximumValue": 1.0,
  "StepIncrements": 0.1
}]]></Config>
</DataType>