<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4cd58915-5bfb-4d3c-9b0d-08ae17821a16" Alias="Xml Sitemap Settings Base - Search Engine Change Frequency - Dropdown" Level="2">
  <Info>
    <Name>Xml Sitemap Settings Base - Search Engine Change Frequency - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Xml+Sitemap</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "always"
    },
    {
      "id": 2,
      "value": "hourly"
    },
    {
      "id": 3,
      "value": "daily"
    },
    {
      "id": 4,
      "value": "weekly"
    },
    {
      "id": 5,
      "value": "monthly"
    },
    {
      "id": 6,
      "value": "yearly"
    },
    {
      "id": 7,
      "value": "never"
    }
  ]
}]]></Config>
</DataType>