<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e277195a-0f9c-4f72-96ad-6b76220f3107" Alias="Xml Sitemap - Multinode Treepicker" Level="2">
  <Info>
    <Name>Xml Sitemap - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Xml+Sitemap</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 1000,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>