<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <add name="HHCoAppsMigrations" connectionString="Data Source=112.78.2.70,1433;Initial Catalog=huu31945_huuhanhApps;Persist Security Info=True;User ID=huu31945_huuhanhApps;Password=Twinstran@021094" providerName="System.Data.SqlClient" />
</configuration>