<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d521b0c-dfce-422b-9ac4-36db010ee0de" Alias="1320 Feastwatson Middlebanner 1 Left" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FeastwatsonMiddlebanner1Left</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-11T10:19:00</CreateDate>
    <NodeName Default="1320 Feastwatson Middlebanner 1 Left" />
    <SortOrder>4</SortOrder>
    <FileHash>1531907512523033123246165303846168202033</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/binfedoo/1320-feastwatson_bottombanner-left.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>