<?xml version="1.0" encoding="utf-8"?>
<Media Key="e591071c-2cf2-4092-8296-c1a5b3946fd5" Alias="1320 Feastwatson Middlebanner 1 Right" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FeastwatsonMiddlebanner1Right</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-11T10:08:11</CreateDate>
    <NodeName Default="1320 Feastwatson Middlebanner 1 Right" />
    <SortOrder>4</SortOrder>
    <FileHash>245165792913115217230197135111102176239176175</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/didjdzps/1320-feastwatson_middlebanner-1-right.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>