<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a24a3e1-763e-4e25-b775-f80ecf2df1cb" Alias="1320 Feastwatson Bottombanner 8" Level="3">
  <Info>
    <Parent Key="eccdebf4-784e-4ca4-a8e6-6c229f31c2b5">bottom banner</Parent>
    <Path>/Gallery/bottomBanner/FeastwatsonBottombanner8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-10T10:58:34</CreateDate>
    <NodeName Default="1320 Feastwatson Bottombanner 8" />
    <SortOrder>0</SortOrder>
    <FileHash>26118151545224311017111531971052452122166</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/24rdjgr4/1320-feastwatson_bottombanner-8.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>