<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4d73c2c-1f91-4c20-a526-cce52a2aceec" Alias="1320 Feastwatson Bottombanner 1" Level="3">
  <Info>
    <Parent Key="eccdebf4-784e-4ca4-a8e6-6c229f31c2b5">bottom banner</Parent>
    <Path>/Gallery/bottomBanner/FeastwatsonBottombanner1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-10T10:58:36</CreateDate>
    <NodeName Default="1320 Feastwatson Bottombanner 1" />
    <SortOrder>2</SortOrder>
    <FileHash>116157159221108240153192176104206947771177248</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/fi4npver/1320-feastwatson_bottombanner-1.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>