<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd23e98d-09c8-4fed-8a1b-0867d2842f72" Alias="1320 Feastwatson Bottombanner 2" Level="3">
  <Info>
    <Parent Key="eccdebf4-784e-4ca4-a8e6-6c229f31c2b5">bottom banner</Parent>
    <Path>/Gallery/bottomBanner/FeastwatsonBottombanner2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-10T10:58:37</CreateDate>
    <NodeName Default="1320 Feastwatson Bottombanner 2" />
    <SortOrder>3</SortOrder>
    <FileHash>253185239302042069314517323912117520918712636</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rpudhtoi/1320-feastwatson_bottombanner-2.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>