<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd9f316a-2cc5-48fd-bf85-7a136f367fea" Alias="1320 Feastwatson Middlebanner 1 Left (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FeastwatsonMiddlebanner1Left1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-12T03:24:12</CreateDate>
    <NodeName Default="1320 Feastwatson Middlebanner 1 Left (1)" />
    <SortOrder>24</SortOrder>
    <FileHash>20722125520910682206572471141189919125245</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/nqyj5pof/1320-feastwatson_middlebanner-1-left.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>