<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec5a4ea5-3ca3-42fe-9aec-a08d7aa28195" Alias="1320 Feastwatson Bottombanner 5" Level="3">
  <Info>
    <Parent Key="eccdebf4-784e-4ca4-a8e6-6c229f31c2b5">bottom banner</Parent>
    <Path>/Gallery/bottomBanner/FeastwatsonBottombanner5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-10T10:58:41</CreateDate>
    <NodeName Default="1320 Feastwatson Bottombanner 5" />
    <SortOrder>6</SortOrder>
    <FileHash>2611611065107741221418272104138130372178</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/unhfv1fd/1320-feastwatson_bottombanner-5.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>