<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b0ece10-0388-49bf-99e2-6cf853f4a8c6" Alias="1320 Feastwatson Bottombanner 4" Level="3">
  <Info>
    <Parent Key="eccdebf4-784e-4ca4-a8e6-6c229f31c2b5">bottom banner</Parent>
    <Path>/Gallery/bottomBanner/FeastwatsonBottombanner4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-10T10:58:39</CreateDate>
    <NodeName Default="1320 Feastwatson Bottombanner 4" />
    <SortOrder>5</SortOrder>
    <FileHash>2345214103114137209879859312817262139199</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/c1ha2o2i/1320-feastwatson_bottombanner-4.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>