<?xml version="1.0" encoding="utf-8"?>
<Media Key="440cfa8d-725e-4a4f-9dda-7ce617fef03c" Alias="1320 Feastwatson Bottombanner 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FeastwatsonBottombanner2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-12T03:06:52</CreateDate>
    <NodeName Default="1320 Feastwatson Bottombanner 2" />
    <SortOrder>23</SortOrder>
    <FileHash>242175178191062341242411191061741048785157220</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rp3ayrc4/1320-feastwatson_bottombanner-2.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>