<?xml version="1.0" encoding="utf-8"?>
<Media Key="202c6ea7-96bf-4de0-9497-47c429f90bca" Alias="1320 Feastwatson Bottombanner 3" Level="3">
  <Info>
    <Parent Key="eccdebf4-784e-4ca4-a8e6-6c229f31c2b5">bottom banner</Parent>
    <Path>/Gallery/bottomBanner/FeastwatsonBottombanner3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-10T10:58:38</CreateDate>
    <NodeName Default="1320 Feastwatson Bottombanner 3" />
    <SortOrder>4</SortOrder>
    <FileHash>4879414185235114719552110281802143140</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ufxcyif5/1320-feastwatson_bottombanner-3.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>