<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bd7e548-3274-4eb8-9c36-a161408dbfcd" Alias="1320 Feastwatson Bottombanner 7" Level="3">
  <Info>
    <Parent Key="eccdebf4-784e-4ca4-a8e6-6c229f31c2b5">bottom banner</Parent>
    <Path>/Gallery/bottomBanner/FeastwatsonBottombanner7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-10T10:58:43</CreateDate>
    <NodeName Default="1320 Feastwatson Bottombanner 7" />
    <SortOrder>8</SortOrder>
    <FileHash>21021901152553120842253192121191592442</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/j1snog1u/1320-feastwatson_bottombanner-7.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>