<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d65cd5b-8c2b-4188-973f-7f3944217753" Alias="24258 Feast Watson Wet Look Deck 4L.Jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FeastWatsonWetLookDeck4LJpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-03T06:45:00</CreateDate>
    <NodeName Default="24258 Feast Watson Wet Look Deck 4L.Jpg" />
    <SortOrder>4</SortOrder>
    <FileHash>23823512692239182341661346616168153113105196</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/lxghk1jl/24258-feast-watson-wet-look-deck-4l-jpg.jpeg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>