<?xml version="1.0" encoding="utf-8"?>
<Media Key="aea495a9-0eff-4e67-a8db-30717815a45c" Alias="3D FW 4L Deckingoil Mattlook Nobc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DFW4LDeckingoilMattlookNobc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-03T09:16:19</CreateDate>
    <NodeName Default="3D FW 4L Deckingoil Mattlook Nobc" />
    <SortOrder>6</SortOrder>
    <FileHash>17039212321762296216120721611914287911766</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/v4kljlx5/3d_fw_4l_deckingoil_mattlook_nobc-png.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>