<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a7113ea-68fc-47af-804a-d506e0cd9287" Alias="3D FW 1L Stainvarnish Nowarning" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DFW1LStainvarnishNowarning</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-03T09:18:40</CreateDate>
    <NodeName Default="3D FW 1L Stainvarnish Nowarning" />
    <SortOrder>9</SortOrder>
    <FileHash>1487114023615242204439205133020813865184</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/3qjhdgx2/3d_fw_1l_stainvarnish_nowarning-png.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>