<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a55ae1f-e789-4c69-9f10-ba15e74ad99d" Alias="3D FW 4L Deckingoil Wetlook Nobc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DFW4LDeckingoilWetlookNobc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-03T09:17:42</CreateDate>
    <NodeName Default="3D FW 4L Deckingoil Wetlook Nobc" />
    <SortOrder>8</SortOrder>
    <FileHash>1152102022541674538473097519865198248187</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dgxflcuj/3d_fw_4l_deckingoil_wetlook_nobc-png.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>