<?xml version="1.0" encoding="utf-8"?>
<Media Key="509cfa0d-2aab-4179-bdda-1fc7819486a6" Alias="3D FW 2L Outdoor Furnitureoil Nobc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DFW2LOutdoorFurnitureoilNobc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-03T09:19:27</CreateDate>
    <NodeName Default="3D FW 2L Outdoor Furnitureoil Nobc" />
    <SortOrder>10</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bp3jyufl/3d_fw_2l_outdoor_furnitureoil_nobc-png.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>