<?xml version="1.0" encoding="utf-8"?>
<Media Key="eccdebf4-784e-4ca4-a8e6-6c229f31c2b5" Alias="bottom banner" Level="2">
  <Info>
    <Parent Key="f158c888-d809-43ac-add5-5273d9e9bd49">Gallery</Parent>
    <Path>/Gallery/bottomBanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-06-10T10:58:26</CreateDate>
    <NodeName Default="bottom banner" />
    <SortOrder>18</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>