<?xml version="1.0" encoding="utf-8"?>
<Media Key="dfcd5301-598d-4c58-8c87-a9c52bd5dff9" Alias="Bottom Banner" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BottomBanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-11T10:31:29</CreateDate>
    <NodeName Default="Bottom Banner" />
    <SortOrder>21</SortOrder>
    <FileHash>9337150761861866170164207862261441771687</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/a3jn1x2n/bottom-banner.jpg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>