<?xml version="1.0" encoding="utf-8"?>
<Media Key="4aad7c7a-2f3b-46a2-a8a8-d53fa5713b1a" Alias="Feastwatson Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FeastwatsonHero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-10T09:14:34</CreateDate>
    <NodeName Default="Feastwatson Hero" />
    <SortOrder>18</SortOrder>
    <FileHash>19515011422758291412811441761061823840157</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pr4k0sr1/feastwatson-hero.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>