<?xml version="1.0" encoding="utf-8"?>
<Media Key="0155d457-4231-4d1a-a59d-7740b33d31e2" Alias="Feastwatson Logo@2X" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FeastwatsonLogo2X</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-02T03:03:38</CreateDate>
    <NodeName Default="Feastwatson Logo@2X" />
    <SortOrder>0</SortOrder>
    <FileHash>2087024035711571363229254102332331865856</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/khkfkajr/feastwatson_logo-2x.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>