<?xml version="1.0" encoding="utf-8"?>
<Media Key="f48986c3-a229-49c5-9179-e3ca6e377cb5" Alias="Floorseal Oil" Level="3">
  <Info>
    <Parent Key="39c8e74b-487c-43b0-9f84-d372b2465ac7">Indoor Products</Parent>
    <Path>/Products/IndoorProducts/FloorsealOil</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-11T09:09:24</CreateDate>
    <NodeName Default="Floorseal Oil" />
    <SortOrder>0</SortOrder>
    <FileHash>20887235174241686222624021610311925123610331</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/ywdit3bj/floorseal-oil.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>