<?xml version="1.0" encoding="utf-8"?>
<Media Key="515230bd-550f-4f1a-a64a-58d9eaa3687a" Alias="Floorclear" Level="3">
  <Info>
    <Parent Key="39c8e74b-487c-43b0-9f84-d372b2465ac7">Indoor Products</Parent>
    <Path>/Products/IndoorProducts/Floorclear</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-11T09:09:23</CreateDate>
    <NodeName Default="Floorclear" />
    <SortOrder>0</SortOrder>
    <FileHash>33231401041791182161637119018117249214193</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/xmyfeuip/floorclear.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>