<?xml version="1.0" encoding="utf-8"?>
<Media Key="afc1150a-6baa-4253-8faa-27e3db1fde1b" Alias="Footer Banner" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FooterBanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-10T10:03:41</CreateDate>
    <NodeName Default="Footer Banner" />
    <SortOrder>20</SortOrder>
    <FileHash>2131597633152021094127223190681959529127</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bqkndl3k/footer_banner.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>