<?xml version="1.0" encoding="utf-8"?>
<Media Key="e06f31f0-3670-4036-8dfc-38053b445b1b" Alias="Fw 4L Wrtdo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Fw4LWrtdo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-03T09:17:04</CreateDate>
    <NodeName Default="Fw 4L Wrtdo" />
    <SortOrder>7</SortOrder>
    <FileHash>69190179170187216141746710422111712511491156</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/4yyh5ydq/eeb160fb5dde592f47e230fe36e68990f2c75bc1.png"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>