<?xml version="1.0" encoding="utf-8"?>
<Media Key="aae80d80-7399-4ed4-b13d-7adaaf213ece" Alias="FW D2 2553.Jpg" Level="2">
  <Info>
    <Parent Key="f158c888-d809-43ac-add5-5273d9e9bd49">Gallery</Parent>
    <Path>/Gallery/FWD22553Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-04T05:36:21</CreateDate>
    <NodeName Default="FW D2 2553.Jpg" />
    <SortOrder>10</SortOrder>
    <FileHash>292229011222941198809987862162016153216</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/qygprkuz/fw_d2_2553-jpg.jpeg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>