<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d055dce-8cca-47ef-90c9-876101ee7db4" Alias="FW D1 2372.Jpg" Level="2">
  <Info>
    <Parent Key="f158c888-d809-43ac-add5-5273d9e9bd49">Gallery</Parent>
    <Path>/Gallery/FWD12372Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-04T05:36:23</CreateDate>
    <NodeName Default="FW D1 2372.Jpg" />
    <SortOrder>14</SortOrder>
    <FileHash>17721241562329281102162139020712641185129</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/zbobkdok/fw_d1_2372-jpg.jpeg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>