<?xml version="1.0" encoding="utf-8"?>
<Media Key="a089c5a9-1ad6-4a04-885a-e3c73648f15d" Alias="FW D2 2926.Jpg" Level="2">
  <Info>
    <Parent Key="f158c888-d809-43ac-add5-5273d9e9bd49">Gallery</Parent>
    <Path>/Gallery/FWD22926Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-04T05:36:18</CreateDate>
    <NodeName Default="FW D2 2926.Jpg" />
    <SortOrder>4</SortOrder>
    <FileHash>58229271611624910420161103291359514570164</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/v5cjtigw/fw_d2_2926-jpg.jpeg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>