<?xml version="1.0" encoding="utf-8"?>
<Media Key="9feb2a19-7719-4465-b847-59a7fa6b8f91" Alias="Fwa154 Mt Wipe On Poly 1L" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Fwa154MtWipeOnPoly1L</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-03T09:58:35</CreateDate>
    <NodeName Default="Fwa154 Mt Wipe On Poly 1L" />
    <SortOrder>12</SortOrder>
    <FileHash>223639254822235234146542312301268324650</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/d2voxhyz/fwa154_mt_wipe_on_poly_1l-png-1.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>