<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5978550-ab88-4a32-89ad-979e65f97dbf" Alias="FWA154 FW Timber Primer 1L" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FWA154FWTimberPrimer1L</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-03T09:56:44</CreateDate>
    <NodeName Default="FWA154 FW Timber Primer 1L" />
    <SortOrder>11</SortOrder>
    <FileHash>1432176437236100106183146142301617435176119</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/k0cjpvmi/fwa154_fw_timber_primer_1l-png.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>