<?xml version="1.0" encoding="utf-8"?>
<Media Key="07d3324d-0971-4b9b-923f-0b93f2f2a12e" Alias="FWA154 FW Liming White Floor Finish 4L" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FWA154FWLimingWhiteFloorFinish4L</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-03T09:59:21</CreateDate>
    <NodeName Default="FWA154 FW Liming White Floor Finish 4L" />
    <SortOrder>13</SortOrder>
    <FileHash>229126413718549221922424817814030247215110</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/jmzngb1r/fwa154_fw_liming-white-floor-finish-4l-png.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>