<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5cfa863-4968-49d2-a37e-b41024aadf15" Alias="FWA400 Homepage 2020 ART 02" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FWA400Homepage2020ART02</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-10T09:26:21</CreateDate>
    <NodeName Default="FWA400 Homepage 2020 ART 02" />
    <SortOrder>19</SortOrder>
    <FileHash>672015020029185217156237156153206602067418</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/mwum5jli/fwa400_homepage_2020_art_02.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>