<?xml version="1.0" encoding="utf-8"?>
<Media Key="f158c888-d809-43ac-add5-5273d9e9bd49" Alias="Gallery" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gallery</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-06-04T05:35:57</CreateDate>
    <NodeName Default="Gallery" />
    <SortOrder>17</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>