<?xml version="1.0" encoding="utf-8"?>
<Media Key="505e65f1-45e3-4334-a297-73aa5997cf16" Alias="Home Intro" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeIntro</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-03T09:02:11</CreateDate>
    <NodeName Default="Home Intro" />
    <SortOrder>5</SortOrder>
    <FileHash>94578289141732192526911221183481772174</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/43sf2uhd/home_intro.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>