<?xml version="1.0" encoding="utf-8"?>
<Media Key="39c8e74b-487c-43b0-9f84-d372b2465ac7" Alias="Indoor Products" Level="2">
  <Info>
    <Parent Key="e5f70118-4b1b-4c13-9398-eed9b0ec8676">Products</Parent>
    <Path>/Products/IndoorProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-06-11T09:09:13</CreateDate>
    <NodeName Default="Indoor Products" />
    <SortOrder>0</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>