<?xml version="1.0" encoding="utf-8"?>
<Media Key="856fa9d3-909f-4d14-9c71-8d60d34d231b" Alias="Logo" Level="2">
  <Info>
    <Parent Key="d20bc312-78f1-4167-9bb2-801badfacb68">Site</Parent>
    <Path>/Site/Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-01T13:57:20</CreateDate>
    <NodeName Default="Logo" />
    <SortOrder>0</SortOrder>
    <FileHash>2087024035711571363229254102332331865856</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0wuh5bm5/logo.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>