<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc5ed97f-4968-40d4-b3a2-d193a2c0b271" Alias="MPP8723.Jpg" Level="2">
  <Info>
    <Parent Key="f158c888-d809-43ac-add5-5273d9e9bd49">Gallery</Parent>
    <Path>/Gallery/MPP8723Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-04T05:36:19</CreateDate>
    <NodeName Default="MPP8723.Jpg" />
    <SortOrder>5</SortOrder>
    <FileHash>2361362341016514125480852111551788914047</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/phmf3tdi/mpp8723-jpg.jpeg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>