<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d9edb1b-795d-471d-b0b1-ad240dd98a66" Alias="MPP8677.Jpg (1)" Level="2">
  <Info>
    <Parent Key="f158c888-d809-43ac-add5-5273d9e9bd49">Gallery</Parent>
    <Path>/Gallery/MPP8677Jpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-04T05:36:19</CreateDate>
    <NodeName Default="MPP8677.Jpg (1)" />
    <SortOrder>6</SortOrder>
    <FileHash>245151612556120817585211136752277513522913</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/dxnj3hk3/mpp8677-jpg-1.jpeg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>