<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d536b7c-3efa-4168-9b3a-24c815f50eaa" Alias="MPP8677.Jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MPP8677Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-03T06:45:00</CreateDate>
    <NodeName Default="MPP8677.Jpg" />
    <SortOrder>3</SortOrder>
    <FileHash>245151612556120817585211136752277513522913</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/pjvfhhp0/mpp8677-jpg.jpeg","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>