<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e6fe6ab-b055-48a6-b8eb-d1bf8d7f4f1d" Alias="Outdoor Products" Level="2">
  <Info>
    <Parent Key="e5f70118-4b1b-4c13-9398-eed9b0ec8676">Products</Parent>
    <Path>/Products/OutdoorProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-06-11T08:54:26</CreateDate>
    <NodeName Default="Outdoor Products" />
    <SortOrder>0</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>