<?xml version="1.0" encoding="utf-8"?>
<Media Key="1dde46a3-3a69-4189-8099-a9bab6b74193" Alias="Product List" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProductList</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-12T03:04:10</CreateDate>
    <NodeName Default="Product List" />
    <SortOrder>22</SortOrder>
    <FileHash>40434611312422219213916066961192518315177</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uvdn2hlj/product_list.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>