<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5f70118-4b1b-4c13-9398-eed9b0ec8676" Alias="Products" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-06-11T08:39:31</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>4</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>