<?xml version="1.0" encoding="utf-8"?>
<Media Key="d20bc312-78f1-4167-9bb2-801badfacb68" Alias="Site" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Site</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-06-01T14:23:41</CreateDate>
    <NodeName Default="Site" />
    <SortOrder>1</SortOrder>
    <FileHash></FileHash>
  </Info>
  <Properties />
</Media>