<?xml version="1.0" encoding="utf-8"?>
<Media Key="574847c7-677d-431e-95c8-422b7d091f2c" Alias="Test Again" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TestAgain</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-04T04:45:35</CreateDate>
    <NodeName Default="Test Again" />
    <SortOrder>16</SortOrder>
    <FileHash>128141672130602272507410020833968122164</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"crops":null,"focalPoint":{"left":0.5,"top":0.5},"src":"/media/yfdfqv13/048cdcf4-7c71-4eb8-b26b-47fc36f3f443.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>