<?xml version="1.0" encoding="utf-8"?>
<Media Key="68c17433-3e14-4cd0-adfd-ab0b56279826" Alias="Timber &amp; Deck Stain" Level="3">
  <Info>
    <Parent Key="0e6fe6ab-b055-48a6-b8eb-d1bf8d7f4f1d">Outdoor Products</Parent>
    <Path>/Products/OutdoorProducts/TimberDeckStain</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-11T08:54:50</CreateDate>
    <NodeName Default="Timber &amp; Deck Stain" />
    <SortOrder>0</SortOrder>
    <FileHash>236230163841782024266741941471622494118877</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/gv0mc0au/timber-deck-stain.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>