<?xml version="1.0" encoding="utf-8"?>
<Media Key="c03631b4-b4ef-4744-b058-e4e40b627508" Alias="Tung Oil" Level="3">
  <Info>
    <Parent Key="39c8e74b-487c-43b0-9f84-d372b2465ac7">Indoor Products</Parent>
    <Path>/Products/IndoorProducts/TungOil</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-11T09:09:22</CreateDate>
    <NodeName Default="Tung Oil" />
    <SortOrder>0</SortOrder>
    <FileHash>120241243232529323744411074658229548130</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/wiydnqhp/tung-oil.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>