<?xml version="1.0" encoding="utf-8"?>
<Media Key="dadbc00b-4ad6-406a-99f5-685279271c03" Alias="Water Repellent Decking Oil" Level="3">
  <Info>
    <Parent Key="0e6fe6ab-b055-48a6-b8eb-d1bf8d7f4f1d">Outdoor Products</Parent>
    <Path>/Products/OutdoorProducts/WaterRepellentDeckingOil</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-06-11T08:54:49</CreateDate>
    <NodeName Default="Water Repellent Decking Oil" />
    <SortOrder>0</SortOrder>
    <FileHash>1231701651519105512031952132012419355509</FileHash>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/bxanxwww/water-repellent-decking-oil.png","crops":null}]]></Value>
    </umbracoFile>
  </Properties>
</Media>