@using HHCoApps.CMSWeb.Services
@using Umbraco.Core.Composing
@model ItemListing

@{
    var layoutName = string.Empty;
    var viewModel = Current.Factory.GetInstance<IItemListingService>().GetViewModel(Model);
    viewModel.ViewMoreLabel = string.IsNullOrEmpty(viewModel.ViewMoreLabel) ? "View more" : viewModel.ViewMoreLabel;

    switch (Model.ItemListingLayout)
    {
        case "Three columns slider - with caption":
            layoutName = "ThreeColumnSlider-Caption";
            break;
        case "One column slider":
            layoutName = "OneColumnSlider";
            break;
        case "Three columns slider":
            layoutName = "ThreeColumnSlider";
            break;
        default:
            layoutName = "ThreeColumnSlider";
            break;
    }
}
@if (viewModel.ContentInfos.Any())
{
    @Html.Partial($"~/Views/Partials/Grid/DocTypeGridEditor/ItemListingLayouts/{layoutName}.cshtml", viewModel)
}
else
{
    <h2>This layout rendered when data does not have any items.</h2>
    <h3>Name: Article Listing</h3>
    <br />
    <h4>TemplateName: @Model.ItemListingLayout</h4>
    <br />
    <h4>Content Source Option: @Model.ContentSourceOption</h4>
    <br />
}