@inherits UmbracoViewPage<NavigationComponent>

<section class="product-list__filter">
    <div class="row">
        <h2>Navigation Component with in-depth @Model.InDepthLevel</h2>
        <h2>Starter node : @(Model.StarterNode?.Name ?? string.Empty)</h2>
    </div>
</section>